@use "vars-scss" as *;

@mixin box($isInset: false, $isRotate: false, $isScrollbar: false) {
    position: relative;
    border: 1px solid;

    @if $isInset {
        border-color: $black $white $white $black;
    }

    @else {
        @if $isRotate {
            border-color: $white $white $black $black;
        }

        @else {
            border-color: $white $black $black $white;
        }
    }

    @if not $isScrollbar {
        &::before {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 1px solid;
            pointer-events: none;
            z-index: 1;

            @if $isInset {
                border-color: $darkgrey $lightgrey $lightgrey $darkgrey;
            }

            @else {
                @if $isRotate {
                    border-color: $lightgrey $lightgrey $darkgrey $darkgrey;
                }

                @else {
                    border-color: $lightgrey $darkgrey $darkgrey $lightgrey;
                }
            }
        }
    }
}

@mixin winBar($isPseudo: false, $bgColor: $darkgrey, $text: "") {
    $selector: "&";

    @if $isPseudo {
        $selector: "&::after";
    }

    #{$selector} {
        background: padding-box $bgColor;
        border: 2px solid transparent;
        color: $grey;
        font-size: 1rem;
        font-weight: bold;
        height: 18px;
        line-height: 1.2rem;
        padding: 2px;

        @if $isPseudo {
            content: $text;
            display: block;
            position: absolute;
            z-index: 1;
            left: 2px;
            right: 2px;
            top: 2px;
        }
    }
}

@mixin mainWindow() {
    margin: $window-top $window-right $window-bottom $window-left;
    overflow: hidden;
    @include box;
}