// ---- Colour palette ----
// DO NOT USE ANYWHERE BUT _DEFAULT-CSS

$white: #ffffff;
$lightgrey: #dfdfdf;
$grey: #c0c0c0;
$darkgrey: #808080;
$black: #000000;

$blue: #0000ff;
$darkblue: #000080;

$turquoise: #008080;

$red: #ff0000;
$green: #008000;

$beige: #ffffee;
