// ---- Colour palette ----
// DO NOT USE ANYWHERE BUT _DEFAULT-CSS

$white:     #FFFFFF;
$lightgrey: #DFDFDF;
$grey:      #C0C0C0;
$darkgrey:  #808080;
$black:     #000000;

$blue:      #0000FF;
$darkblue:  #000080;

$turquoise: #008080;

$red:       #FF0000;
$green:     #008000;

$beige:     #FFFFEE;