// ---- Colours -----

$white:     #FFFFFF;
$lightgrey: #DFDFDF;
$grey:      #C0C0C0;
$darkgrey:  #808080;
$black:     #000000;

$blue:      #0000FF;
$darkblue:  #000080;

$turquoise: #008080;

$red:       #FF0000;

$green:     #008000;

$beige:     #FFFFEE;

// ---- Sizes ----

// Chat window
$window-top:     50px;
$window-right:  120px;
$window-bottom:  50px;
$window-left:   270px;

// Member list
$panel-width:   240px;

// Window title
$title-height:   24px + 4px;

// ---- Fonts ----

$font-code: FixedSysTrue, FixedSys, monospace;

$font-latin: w95, Unifont, "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-cyrillic: w95, Unifont, sans-serif;
$font-japanese: w95, Unifont, "Hiragino Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, Osaka, "MS PGothic", sans-serif;
$font-chinese-simplified: w95, Unifont, "Microsoft YaHei New", 微软雅黑, "Microsoft Yahei", "Microsoft JhengHei", 宋体, SimSun, sans-serif;
$font-chinese-traditional: w95, Unifont, "Microsoft JhengHei", 微軟正黑體, "Microsoft JhengHei UI", "Microsoft YaHei", 微軟雅黑, 宋体, SimSun, sans-serif;
$font-korean: w95, Unifont, "Apple SD Gothic Neo", NanumBarunGothic, "맑은 고딕", "Malgun Gothic", Gulim, 굴림, Dotum, 돋움, sans-serif;
