@use "vars-scss" as *;

:root {
    --font-primary: "w95", "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-display: "w95", "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-headline: "w95", "ABC Ginto Nord", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:root,
:root:lang(bg),
:root:lang(el),
:root:lang(ru),
:root:lang(uk) {
    --font-code: "FixedSys", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
        "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

// Colour sync stuff
:root {
    .container-2IKOsH,
    .header-3xB4vB,
    .container-1um7CU {
        background: var(--background-primary);
    }
}

.theme-light,
.theme-dark {
    --background-primary: #{$grey};
    --background-secondary: #{$grey};
    --background-secondary-alt: #{$grey};
    --background-tertiary: #{$grey};
    --background-modifier-hover: #{$darkblue};
    --background-modifier-selected: #{$darkblue};
    --background-modifier-active: #{$darkblue};
    --background-accent: #{$darkgrey};
    --background-floating: #{$beige};

    --text-normal: #{$black};
    --text-link: #{$blue};
    --text-muted: #{$darkgrey};

    --header-primary: #{$black};
    --header-secondary: #{$darkgrey};

    --interactive-normal: #{$black};
    --interactive-hover: #{$white};
    --interactive-active: #{$white};
    --interactive-muted: #{$black};

    --channels-default: #{$black};
    --channel-icon: #{$black};

    --channeltextarea-background: #{$white};

    --home-background: #{$grey};

    --mention-foreground: #{$white};
    --mention-background: #{$darkblue};
}