@use "top/vars-scss" as *;
@use "top/boxes" as boxes;

// Channels sidebar
.sidebar-1tnWFu {
    @include boxes.box;
    position: absolute;
    bottom: 0;
    max-height: 60vh;

    &::after {
        content: "Windows95";
        display: block;
        position: absolute;
        width: 28px;
        height: 100%;
        $textPad: 10px;
        top: - $textPad;
        padding-top: $textPad;
        background: $darkgrey;
        font-size: 1.6rem;
        font-family: 'Franklin Gothic Bold', 'Arial Narrow', Arial, sans-serif;
        font-weight: 900;
        color: $grey;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }

    // Server channels
    .container-1NXEtd,
    // DMs
    .privateChannels-oVe7HL {
        padding-left: 28px;
    }
}

// Channel
.content-1gYQeQ {
    margin-left: 0;
}

// Unread bubble
.unreadRelevant-2f-VSK {
    background: $black;
    z-index: 1;
}

// Channels: black on none bg
.modeConnected-NrO4cP,
.modeUnread-3Cxepe,
.notInteractive-2tFrlE.modeConnected-NrO4cP,
.notInteractive-2tFrlE.modeSelected-3DmyhH {
    .name-28HaxV {
        color: $black;
    }
}

// Hovered and selected channels: white on navy bg
.content-1gYQeQ:hover,
.modeSelected-3DmyhH,
.modeSelected-3DmyhH:hover,
.modeUnread-3Cxepe:hover,
.modeMuted-2T4MDZ:hover {
    .icon-2W8DHg {
        color: $white;
    }
    .unreadRelevant-2f-VSK {
        background: $white;
    }
}