// Position of elements in main view

body #app-mount {
    // Very top window bar
    .withFrame-2dL45i {
        margin-top: 0;
    }

    .titleBar-1it3bQ {
        position: absolute;
        left: $window-left;
        right: $window-right;
        top: calc($window-top - $title-height);
        z-index: 2;
        @include windowTitle();

        // Discord logo
        .wordmarkWindows-2dq6rw {
            padding-top: 2px;

            &::before {
                content: "Discord";
                display: block;
                position: relative;
                font-size: 14px;
                line-height: $title-height;
            }

            svg {
                display: none;
            }
        }

        // Min / Max / Close buttons
        .winButton-3UMjdg {
            @include winButton(20px, false);

            &.winButtonClose-3Q8ZH5 {
                @include winButton(20px, true);
            }
        }
    }

    // Image background
    .bg-1QIAus {
        background: var(--background-image, url(https://saltssaumure.github.io/xp-discord-theme/img/bliss.jpg)) center/cover;
    }

    // Main view
    .container-1eFtFS {
        // Servers sidebar / Taskbar
        // leave gap in server bar for user settings
        .guilds-2JjMmN {
            height: calc(100vw - $panel-width) !important;
            left: calc(100vw - $panel-width);
            z-index: 0;

            --status-danger: #{$red-bright};

            // Unread indicator
            .unreadMentionsIndicatorBottom-3RJMnQ,
            .unreadMentionsIndicatorTop-2bTgUU {
                width: 100%;

                .bar-2eAyLE {
                    border-radius: 0;
                }
            }

            // Unread icon
            .lowerBadge-3WTshO .numberBadge-37OJ3S {
                opacity: 0.8;
            }

            .scroller-3X7KbA {
                padding-top: 0 !important;

                // DMs icon / Start button
                .tutorialContainer-1pL9QS {
                    position: relative;
                    padding: 5px 0 30px 0;

                    .wrapper-2PSQCG {
                        .svg-2zuE5p {
                            height: inherit;
                            width: inherit;
                        }
                    }
                }
            }
        }

        // Channels sidebar and main chat
        .base-2jDfDU {
            // Notice banner
            .notice-2olXi7 {
                top: $window-top;
                margin: 0 $window-right 0 $window-left;
                width: auto;
            }

            // Call banner (in DMs)
            .wrapper-1gVUIN {
                z-index: 0;
            }

            .content-1jQy2l::before {
                z-index: 0;
            }

            // Top bar (not in DMs)
            .chat-2ZfjoI > .title-31SJ6t {
                .toolbar-3_r2xA {
                    // Move help icon
                    .anchor-1X4H4q .iconWrapper-2awDjA:only-of-type {
                        @include makeIcon(50px, auto, ".icon-2xnN2Y");
                        top: $window-top + 90px;
                    }

                    // Move show/hide member list button
                    .iconWrapper-2awDjA:is(#{makeSelectors()}) {
                        @include makeIcon(auto, 50px, ".icon-2xnN2Y");
                    }
                }
            }

            // Channels sidebar
            .sidebar-1tnWFu {
                position: absolute;
                bottom: 0;
                max-height: 60vh;
                @include windowBox(15px);

                // Title and channels
                .container-1NXEtd {
                    background: transparent;

                    // Title
                    .header-3OsQeK {
                        @include windowTitle();
                        height: 48px;

                        .headerContent-2SNbie {
                            color: white;

                            .flowerStar-2tNFCR {
                                color: $white-overlay;
                            }
                        }
                    }

                    // Server image banner
                    .animatedContainer-2laTjx {
                        background: transparent;
                        z-index: 2;
                        border-radius: 8px 8px 0 0;

                        .bannerImage-ubW8K-::before {
                            display: none;
                        }
                    }

                    // Server event
                    .container-2Y4CWj {
                        background: $beige;
                        --header-primary: black; //ctrl
                        --header-secondary: black;
                        @include windowBox(15px);

                        // Inner box
                        .channelNotice-K4UfZY {
                            border-bottom: none;

                            // Event Details button
                            .joinButton-1HdI2a {
                                border-radius: 0;
                            }
                        }
                    }

                    // Channels
                    .scroller-1ox3I2 {
                        @include startMenuList();

                        // Channel names
                        :is(.modeSelected-3DmyhH, .notInteractive-2tFrlE.modeConnected-NrO4cP, .notInteractive-2tFrlE.modeSelected-3DmyhH) {
                            .name-28HaxV {
                                color: white;
                            }
                        }

                        // Divider
                        .sectionDivider-189lqb {
                            background: transparent;
                        }

                        // Category
                        .containerDefault-3TQ5YN:not(:nth-child(2)) {
                            @include startMenuDivider(7px);
                        }

                        // Channel
                        .content-1gYQeQ,
                        .container-32HW5s {
                            border-radius: 0;

                            // Channel actions
                            .actionIcon-2sw4Sl {
                                color: var(--xp-set-color);
                            }

                            // Voice channel member limit
                            .channelInfo-3jN1ay {
                                --background-primary: lightgrey;
                                --background-tertiary: grey;

                                .wrapper-2fEmwW {
                                    border-radius: 3px;
                                }
                            }
                        }

                        // User in voice channel
                        .content-1Tgc42 {
                            border-radius: 0;
                        }

                        // Selected channel
                        .modeSelected-3DmyhH {
                            // Channel actions
                            .actionIcon-2sw4Sl {
                                color: $white-overlay;
                            }
                        }

                        // Muted channel
                        .modeMuted-2T4MDZ {
                            .name-28HaxV,
                            .icon-2W8DHg {
                                color: grey;
                            }
                        }
                    }
                }

                // DMs
                .privateChannels-oVe7HL {
                    background: transparent;

                    // Find conversation
                    .searchBar-3TnChZ {
                        @include windowTitle;

                        .searchBarComponent-3N7dCG {
                            background: transparent;
                            font-size: 14px;
                            line-height: $title-height;
                            font-weight: 600;
                            font-family: Tahoma, sans-serif;
                            text-shadow: 0 1px 1px black;
                            color: white;
                        }
                    }

                    // DMs and friends
                    .scroller-WSmht3 {
                        @include startMenuList();
                    }

                    // DMs category
                    .privateChannelsHeaderContainer-1UWASm {
                        position: relative;
                        @include startMenuDivider(2px);
                    }

                    // Menu item
                    .container-32HW5s {
                        border-radius: 0;
                    }
                }

                // Explore servers category list
                & > .scrollerBase-1Pkza4 {
                    @include startMenuList();
                    position: relative;
                    border-radius: 8px 8px 0 0;

                    &::before {
                        display: none;
                    }

                    // Header
                    .discoverHeader-1vsvZ0 {
                        @include windowTitle;
                        margin: 0;
                        padding: 12px 0;
                        text-indent: 16px;
                        font-size: 16px;
                        position: fixed;
                        width: 240px;
                        z-index: 2;
                    }

                    // Category
                    .container-1oeRFJ {
                        color: var(--channels-default);
                        border-radius: 0;

                        &:first-of-type {
                            margin-top: 62px;
                        }

                        &:nth-last-of-type(2) {
                            margin-bottom: 10px;
                        }

                        .layout-1qmrhw {
                            border-radius: 0;
                        }
                    }

                    .categoryItem-Kc_HK_.selectedCategoryItem-ZjqSui .itemInner-3e_4G4 {
                        background-color: var(--background-modifier-selected);
                    }
                }

                // Control panel
                .panels-3wFtMD {
                    width: $panel-width;
                    height: auto;
                    position: fixed;
                    bottom: -1px;
                    left: calc(100vw - $panel-width);
                    @include barGradient(false, $blue-bright, $blue-mild);

                    .subtext-2HDqJ7 {
                        color: $white-overlay;
                    }

                    // Voice chat controls
                    .container-1zzFcN {
                        background: inherit;
                        border-bottom: 0;

                        // Video stream buttons
                        .button-1EGGcP {
                            @include bgButton;

                            &.buttonActive-Uc1jHx {
                                background: $beige;
                                @include boxShadow;
                            }
                        }
                    }

                    // User and settings
                    .container-YkUktl {
                        height: var(--server-container);
                        flex-direction: row-reverse;
                        background: transparent;

                        // Self info
                        .avatarWrapper-1B9FTW {
                            margin: 0 0 0 6px;
                            padding: 0 4px 0 0;
                            flex-direction: row-reverse;

                            // Username
                            .nameTag-sc-gpq {
                                text-shadow: 0 1px 1px black;

                                .title-338goq {
                                    color: white;
                                    font-weight: normal;
                                }
                            }
                        }
                    }

                    // Buttons
                    .button-12Fmur {
                        color: $white-overlay;
                    }

                    .withTagAsButton-OsgQ9L:hover,
                    .withTagless-10ooWt:hover,
                    .button-12Fmur.enabled-9OeuTA:hover {
                        background: linear-gradient(to bottom, $blue-select, $blue-bright);
                    }

                    .button-12Fmur.enabled-9OeuTA:hover {
                        color: white;
                    }
                }
            }

            // Main DM and friend list view
            .container-2cd8Mz {
                @include mainWindow();
            }

            // Explore servers view
            .pageWrapper-2PwDoS {
                @include mainWindow();
            }

            // University hub
            .scroller-RfJjkV {
                @include mainWindow();
                height: auto;
            }

            // Buy nitro page
            .applicationStore-2nk7Lo {
                @include mainWindow();
            }

            // Main chat and top bar
            .chat-2ZfjoI:not(.container-2IKOsH > .chat-2ZfjoI) {
                @include mainWindow();

                // Main chat
                .chatContent-3KubbW {
                    // Message
                    .message-2CShn3 {
                        padding-right: 140px !important;

                        // Message actions
                        .container-2gUZhU {
                            right: 130px;
                        }
                    }

                    // Message box
                    .form-3gdLxP {
                        // Gift nitro button
                        .buttons-uaqb-5 > .button-ejjZWC {
                            @include makeIcon(50px, auto, ".buttonWrapper-3YFQGJ");
                            top: $window-top;

                            .button-3BaQ4X {
                                margin: 0;

                                .buttonWrapper-3YFQGJ {
                                    padding: 0;
                                    margin: 0;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                            }
                        }

                        // Autocompleter
                        .autocomplete-3NRXG8 {
                            width: calc(100% - 150px);
                        }
                    }
                }

                // Forums
                .headerRow-1MKoR-,
                .list-3FIpnh > div:first-child {
                    min-width: 0;
                }

                // Members list
                .membersWrap-3NUR2t {
                    @include startMenuList();

                    position: fixed;
                    right: 30px;
                    top: 180px;
                    height: 65vh;
                    max-height: calc(100vh - 400px);
                    @include windowHasPseudoTitle("Members");

                    .members-3WRCEx {
                        background: var(--xp-bg-color);

                        // Member group
                        .membersGroup-2eiWxl:not(:nth-child(2)) {
                            position: relative;
                            @include startMenuDivider(7px);
                        }

                        // Member
                        .member-48YF_l {
                            background: var(--xp-bg-color);

                            .container-1oeRFJ,
                            .layout-1qmrhw {
                                border-radius: 0;
                            }
                        }
                    }
                }

                // VC video
                .video-3n15R6 {
                    z-index: 0;
                }
            }

            // Main chat with thread open
            .chat-2ZfjoI.threadSidebarOpen-1LSXvU {
                border-radius: 0;

                // Message needs no indent as member list cannot be visible at once.
                .chatContent-3KubbW .message-2CShn3 {
                    margin-right: 0 !important;
                }

                // Neither does autocompleter
                .autocomplete-3NRXG8 {
                    width: auto !important;
                }
            }

            .resizeHandle-PBRzPC {
                background: $blue-vivid;
            }

            // Floating thread panel
            .floating-3M3WeH {
                border-radius: 0;
            }

            // Threads not video chat
            .content-1SgpWY > {
                // Main chat / thread separator
                .resizeHandle-PBRzPC {
                    position: relative;
                    right: $window-right;
                    margin: $window-top 0 $window-bottom 0;
                    height: auto;
                }

                // Thread panel
                .container-3XgAHv {
                    position: relative;
                    margin: $window-top 0 $window-bottom 0;
                    right: $window-right;
                    border-radius: 0;
                    max-width: 100%;
                    @include windowBox(3px);
                }

                // Floating thread panel for narrow screens
                .chatLayerWrapper-2mgEK- {
                    // margin: $window-top $window-right $window-bottom 0;
                    top: $window-top;
                    right: calc($window-right + 2px);
                    bottom: calc($window-bottom + 2px);
                    height: auto;
                }
            }

            .chatTarget-3H6mpC {
                display: none;
            }
        }
    }

    .layer-86YKbF {
        background: transparent;

        // Settings menu
        .standardSidebarView-E9Pc3j {
            @include mainWindow();
        }

        .pictureInPictureWindow-3ms5Zy {
            @include windowHasPseudoTitle("Stream");
            overflow: visible;
            border-radius: 0;

            &::before {
                left: -2px;
            }

            .pictureInPictureVideo-2puO2Q {
                border-radius: 0;
            }
        }
    }
}

#floating-editor-window {
    border-radius: 10px 10px 0 0;
    @include windowBox(5px);

    .floating-window-titlebar {
        @include windowTitle();

        .title {
            font-size: 14px;
            font-weight: 600;
            font-family: Tahoma, sans-serif;
            text-shadow: 0 1px 1px black;
            color: white;
        }

        .button {
            @include winButton(20px, false);

            &.close-button {
                @include winButton(20px, true);
            }
        }
    }
}