@use "top/vars-scss" as *;
@use "top/boxes" as boxes;
@use "top/shortcutIcon" as sc;

@use "main/windowbar";
@use "main/titlebar";

@use "main/chatbox";
@use "main/messages";

@use "main/channels";
@use "main/forums";
@use "main/friends";
@use "main/members";
@use "main/publicservers";
@use "main/searchresults";
@use "main/taskbar";
@use "main/threads";
@use "main/vc";

// Overall background
.bg-1QIAus {
    background-image: var(--w9x-background-image, none);
    background-color: var(--w9x-background-color, #{$turquoise});
}

// Settings
.standardSidebarView-E9Pc3j,
// Main DM and friend list view
.container-2cd8Mz,
// Explore servers view
.pageWrapper-2PwDoS,
// Student hub
.scroller-RfJjkV,
// Buy Nitro page
.applicationStore-2nk7Lo,
// Main chat
.chat-2ZfjoI:not(.container-2IKOsH > .chat-2ZfjoI) {
    @include boxes.mainWindow();
}

// Student hub
.scroller-RfJjkV {
    height: auto;
    &::before {
        display: none;
    }
}
