@use "top/vars-scss" as *;
@use "top/boxes" as boxes;

// Members list
.membersWrap-3NUR2t {
    @include boxes.box;
    position: fixed;
    right: 30px;
    top: 180px;
    height: 65vh;
    max-height: calc(100vh - 400px);
}