@use "top/vars-scss" as *;
@use "top/boxes" as boxes;

:root {
    --HSL-server-icon-size: 36px;
    --HSL-server-spacing: 6px;
    --HSL-server-direction: column;
}

// Taskbar
.wrapper-1_HaEi .scroller-3X7KbA {
    @include boxes.box($isRotate: true);
    background: $grey;
}

// Folder/server icon
.listItem-3SmSlK:not(.tutorialContainer-1pL9QS + .listItem-3SmSlK) {
    @include boxes.box;
}

// Closed folder icon
.expandedFolderBackground-1kSAf6.collapsed-uGXEbi + .listItem-3SmSlK {
    // Folder icon with aria label
    .folder-241Joy::after {
        content: attr(aria-label);
        display: block;
        position: absolute;
        top: 0;
        width: fit-content;
        font-size: 24px;
        line-height: 24px;
        color: red;
        text-shadow: 1px 1px 2px black, 1px 1px 1px black;
        text-align: left;
    }
}

// Opened folder background strip
.expandedFolderBackground-1kSAf6:not(.collapsed-uGXEbi) {
    background: transparent;
}
// Opened folder icon
.expandedFolderBackground-1kSAf6:not(.collapsed-uGXEbi) + .listItem-3SmSlK {
    @include boxes.box($isInset: true);
}
// Servers in opened folder
#app-mount .guilds-2JjMmN .wrapper-38slSD ul[role="group"] {
    gap: 0px;
    align-items: center;
}
#app-mount .guilds-2JjMmN ul > [class*="listItem"]:not([class*="listItemWrapper"]) {
    --server-size: 24px;
    margin: 0;
}

// Leave gap for control panel
body #app-mount .guilds-2JjMmN {
    height: calc(100vw - $panel-width) !important;
    left: calc(100vw - $panel-width);
    z-index: 0;
    background: $grey;
}

// Control panel
.panels-3wFtMD {
    @include boxes.box;
    width: $panel-width;
    position: fixed;
    bottom: -1px;
    left: calc(100vw - $panel-width);
    background: $grey;

    // User and settings
    .container-YkUktl {
        height: var(--server-container);
        flex-direction: row-reverse;
        background: transparent;
    }
}
