@use "top/vars-scss" as *;
@use "top/vars-css";

@use "taskbar";
@use "channels";
@use "main";
@use "members";
@use "icons";
@use "scrollbar";
@use "threads";
@use "layer";

@import url("https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css");
@import url("https://discordstyles.github.io/Addons/bottomhsl.css");
@import url("https://saltssaumure.github.io/misc-discord-themes/BorderRadiant/br.min.css");

@font-face {
    font-family: w95;
    src: url("https://saltssaumure.github.io/w9x-discord-theme/font/w95fa.woff2");
}

@font-face {
    font-family: FixedSys;
    src: url("https://saltssaumure.github.io/w9x-discord-theme/font/FSEX300.ttf");
}
