@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

#appearance-tab {
    .preview_a614a7 {
        background: $bg;
        @include boxes.inset;
    }

    .presets_f45ea6 {
        gap: 8px;

        .themeSelection_cb7c27 {
            box-shadow: none;
            @include boxes.clickable;

            &.selected_cb7c27 {
                @include boxes.inset;
            }

            &.darkIcon_cb7c27 {
                background: $black;
            }
        }

        .selectionCircle_cb7c27 {
            display: none;
        }
    }
}
