@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

#appearance-tab {
    .preview_f42b5d {
        background: $bg;
        @include boxes.inset;
    }

    .presets__14d08 {
        gap: 8px;

        .themeSelection__6014a {
            box-shadow: none;
            @include boxes.clickable;

            &.selected_e5f907 {
                @include boxes.inset;
            }

            &.darkIcon__1846a {
                background: $black;
            }
        }

        .selectionCircle_f4288e {
            display: none;
        }
    }
}
