@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

#appearance-tab {
    .preview__30ef4 {
        background: $bg;
        @include boxes.inset;
    }

    .presets__4073b {
        gap: 8px;

        .themeSelection_b3e3ae {
            box-shadow: none;
            @include boxes.clickable;

            &.selected_de3345 {
                @include boxes.inset;
            }

            &.darkIcon__6e4cd {
                background: $black;
            }
        }

        .selectionCircle_aa3fcd {
            display: none;
        }
    }
}
