@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

// # Authorised apps
.authedApp_f0135d {
    @include boxes.box;
    border-color: $white $black $black $white !important;
    padding: 8px;

    .marginTop20_f7730b {
        @include boxes.inset;
        padding: 4px;
    }
}
