@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

// # Authorised apps
.authedApp__51b26 {
    @include boxes.box;
    border-color: $white $black $black $white !important;
    padding: 8px;

    .marginTop20_d88ee7 {
        @include boxes.inset;
        padding: 4px;
    }
}
