@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

#billing-tab {
    .codeRedemptionRedirect_b3eca7 {
        background: $grey;
        color: $black;
        @include boxes.box;
    }

    .subText__3b709 {
        color: $darkgrey;
    }
}
