@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

#billing-tab {
    .codeRedemptionRedirect_cb70f4 {
        background: $grey;
        color: $black;
        @include boxes.box;
    }

    .subText_edf4d6 {
        color: $darkgrey;
    }
}
