@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

#billing-tab {
    .codeRedemptionRedirect_bc7f36 {
        background: $grey;
        color: $black;
        @include boxes.box;
    }

    .subText__70c8d {
        color: $darkgrey;
    }
}
