@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

// # Connections
.connectContainer_e331e3 {
    @include boxes.box;
    padding: 8px;

    .connectionsContainer__3fe05 {
        margin-top: 4px;
        gap: 0;

        .inner__51a43,
        .accountAddInner__50785 {
            @include boxes.clickable;
        }
    }
}

.connectionList__5b340 {
    grid-gap: 0;

    .connection__6dbd8 {
        @include boxes.box;
        padding: 0;
        margin-bottom: 0;

        .connectionHeader__2b82f {
            padding: 8px;

            .connectionDelete__300b7 {
                margin: 0;
                align-self: flex-start;

                svg {
                    height: 24px;
                    width: 24px;
                    @include boxes.clickable;
                }
            }
        }

        .upsellWrapper_c40434 {
            padding: 8px;

            .container-QlmnKJ {
                @include boxes.box;
                padding: 8px;
            }
        }

        .metadataContainer__1842c {
            padding: 0 8px;
            margin: 0;
        }

        .connectionOptionsWrapper__1b820 {
            padding: 8px;

            .connectionOptions__06d4b {
                .connectionOptionSwitch_e439d0 {
                    margin-bottom: 0px;
                    padding: 0;
                }
            }
        }
    }
}
