@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

// # Connections
.connectContainer__8050b {
    @include boxes.box;
    padding: 8px;

    .connectionsContainer_ec9a62 {
        margin-top: 4px;
        gap: 0;

        .inner__51a43,
        .accountAddInner_d34c25 {
            @include boxes.clickable;
        }
    }
}

.connectionList__7b310 {
    grid-gap: 0;

    .connection_fff5f6 {
        @include boxes.box;
        padding: 0;
        margin-bottom: 0;

        .connectionHeader__3c82d {
            padding: 8px;

            .connectionDelete__988b5 {
                margin: 0;
                align-self: flex-start;

                svg {
                    height: 24px;
                    width: 24px;
                    @include boxes.clickable;
                }
            }
        }

        .upsellWrapper__033fb {
            padding: 8px;

            .container-QlmnKJ {
                @include boxes.box;
                padding: 8px;
            }
        }

        .metadataContainer__7b316 {
            padding: 0 8px;
            margin: 0;
        }

        .connectionOptionsWrapper_abe849 {
            padding: 8px;

            .connectionOptions_d1a598 {
                .connectionOptionSwitch_b4c979 {
                    margin-bottom: 0px;
                    padding: 0;
                }
            }
        }
    }
}
