@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

// # Connections
.connectContainer_e2a436 {
    @include boxes.box;
    padding: 8px;

    .connectionsContainer_e2a436 {
        margin-top: 4px;
        gap: 0;

        .inner_c36ce4,
        .accountAddInner_e2a436 {
            @include boxes.clickable;
        }
    }
}

.connectionList_e2a436 {
    grid-gap: 0;

    .connection_e2a436 {
        @include boxes.box;
        padding: 0;
        margin-bottom: 0;

        .connectionHeader_e2a436 {
            padding: 8px;

            .connectionDelete_e2a436 {
                margin: 0;
                align-self: flex-start;

                svg {
                    height: 24px;
                    width: 24px;
                    @include boxes.clickable;
                }
            }
        }

        .upsellWrapper_e2a436 {
            padding: 8px;

            .container-QlmnKJ {
                @include boxes.box;
                padding: 8px;
            }
        }

        .metadataContainer_e2a436 {
            padding: 0 8px;
            margin: 0;
        }

        .connectionOptionsWrapper_e2a436 {
            padding: 8px;

            .connectionOptions_e2a436 {
                .connectionOptionSwitch_e2a436 {
                    margin-bottom: 0px;
                    padding: 0;
                }
            }
        }
    }
}
