@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

// Overlay notification position
.wrapper_d2da9c {
    border: 2px solid $darkblue;
    background: transparent;

    .option_d2da9c {
        @include boxes.clickable($position: absolute);
        background: $grey;

        &.selected_d2da9c,
        &:hover {
            background-color: $darkblue;
            box-shadow: none;
        }
    }
}
