@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

// Overlay notification position
.wrapper__4b6b3 {
    border: 2px solid $darkblue;
    background: transparent;

    .option__1d8de {
        @include boxes.clickable($position: absolute);
        background: $grey;

        &.selected__4e154,
        &:hover {
            background-color: $darkblue;
            box-shadow: none;
        }
    }
}
