@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

// Overlay notification position
.wrapper__4beb8 {
    border: 2px solid $darkblue;
    background: transparent;

    .option_a0c054 {
        @include boxes.clickable($position: absolute);
        background: $grey;

        &.selected_ea51d6,
        &:hover {
            background-color: $darkblue;
            box-shadow: none;
        }
    }
}
