@use "../../../top/vars" as *;

#library-inventory-tab {
    .codeRedemptionInput_c9555c {
        margin-right: 0;
        .input_f8bc55 {
            height: 100%;
        }
    }

    .heading-md-semibold__7cb23 {
        margin-top: 8px;
    }
}

.emptyState_e8af36 {
    .emptyStateHeader_e8af36,
    .emptyStateSubtext_e8af36 {
        color: $black;
    }
}
