@use "../../../top/vars" as *;

#library-inventory-tab {
    .codeRedemptionInput__93923 {
        margin-right: 0;
        .input_d266e7 {
            height: 100%;
        }
    }

    .heading-md-semibold__7cb23 {
        margin-top: 8px;
    }
}

.emptyState__3350f {
    .emptyStateHeader_eb7b9f,
    .emptyStateSubtext__6dea4 {
        color: $black;
    }
}
