@use "../../../top/vars" as *;

#library-inventory-tab {
    .codeRedemptionInput__32577 {
        margin-right: 0;
        .input_f27786 {
            height: 100%;
        }
    }

    .heading-md-semibold__7cb23 {
        margin-top: 8px;
    }
}

.emptyState_fc057e {
    .emptyStateHeader__4a6f4,
    .emptyStateSubtext_e886a4 {
        color: $black;
    }
}
