@forward "./myaccount";
@forward "./profiles";
@forward "./privacyandsafety";
@forward "./authorisedapps";
@forward "./devices";
@forward "./connections";

@forward "./nitro";
@forward "./serverboost";
@forward "./subscriptions";
@forward "./giftinventory";
@forward "./billing";

@forward "./appearance";
@forward "./voiceandvideo";
@forward "./keybinds";

@forward "./registeredgames";
@forward "./gameoverlay";

@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;
@use "../../../top/channellist-css" as channels;

// User settings menu
.standardSidebarView__12528 {
    padding-top: $title-height;
    margin-bottom: $window-bottom + 46px;

    // Unsaved changes
    .container__353bc {
        @include boxes.box;
        background: $grey !important;

        .message__702f7,
        .contents__322f4 span {
            color: $black !important;
        }
    }

    .sidebarRegion__36437 {
        @include channels.vars;
        flex-grow: 0;

        .sidebar__02e8d {
            padding: 0;
        }

        .separator_d14fb1 {
            display: none;
        }

        .header__71a82 {
            margin-top: 12px;
        }
    }

    .contentRegionShownSidebar__9d1b9 {
        justify-content: center;

        .contentColumnDefault__78de3,
        .contentColumnWide__146ec {
            padding: 10px;
            @include boxes.box;
        }

        // Close settings button
        .toolsContainer__4e6ad {
            padding-top: 20px;
            margin-right: 0;
            position: absolute;
            left: -300px;
            z-index: 1;

            .container__3529f {
                .closeButton__8177f {
                    @include boxes.clickable;
                    background: $grey;
                    margin-bottom: 8px;

                    &:hover {
                        color: $black;
                    }
                }

                &::after {
                    content: "Close";
                    color: $white;
                }

                .keybind_a619c1 {
                    display: none;
                }
            }
        }
    }
}
