@forward "./myaccount";
@forward "./profiles";
@forward "./privacyandsafety";
@forward "./authorisedapps";
@forward "./devices";
@forward "./connections";

@forward "./nitro";
@forward "./serverboost";
@forward "./subscriptions";
@forward "./giftinventory";
@forward "./billing";

@forward "./appearance";
@forward "./voiceandvideo";
@forward "./keybinds";

@forward "./registeredgames";
@forward "./gameoverlay";

@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;
@use "../../../top/channellist-css" as channels;

// User settings menu
.standardSidebarView_c25c6d {
    padding-top: $title-height;
    margin-bottom: $window-bottom + 46px;

    // Unsaved changes
    .container_b6cd66 {
        @include boxes.box;
        background: $grey !important;

        .message_b6cd66,
        .contents_dd4f85 span {
            color: $black !important;
        }
    }

    .sidebarRegion_c25c6d {
        @include channels.vars;
        flex-grow: 0;

        .sidebar_c25c6d {
            padding: 0;
        }

        .separator_a0 {
            display: none;
        }

        .header_a0 {
            margin-top: 12px;
        }
    }

    .contentRegionShownSidebar_c25c6d {
        justify-content: center;

        .contentColumnDefault_c25c6d,
        .contentColumnWide_c25c6d {
            padding: 10px;
            @include boxes.box;
        }

        // Close settings button
        .toolsContainer_c25c6d {
            padding-top: 20px;
            margin-right: 0;
            position: absolute;
            left: -300px;
            z-index: 1;

            .container_df5532 {
                .closeButton_df5532 {
                    @include boxes.clickable;
                    background: $grey;
                    margin-bottom: 8px;

                    &:hover {
                        color: $black;
                    }
                }

                &::after {
                    content: "Close";
                    color: $white;
                }

                .keybind_df5532 {
                    display: none;
                }
            }
        }
    }
}
