@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

.warning__9db16 {
    @include boxes.box;
}

.marginTop60__2eb69 {
    margin-top: 16px;
}

.defaultKeybindGroup__1adfb {
    margin: 16px 0 0;

    .defaultKeybindGroupHeader_cee6f0,
    .defaultKeybindGroupDescription__42f90 {
        margin-bottom: 8px;
    }
}

.defaultKeybind__05c82 {
    padding: 4px;
    height: 32px;
    @include boxes.inset;

    &:has(.combo__57290:nth-child(2)) {
        height: 64px;
    }
}

.appMount_fae9dd .combo__57290 {
    text-transform: capitalize;
    font-weight: unset;
    font-size: 14px;
    line-height: 16px;

    .key__06fe6 {
        @include boxes.box;
        box-shadow: none;
        background: $darkgrey;
        color: $white;
    }
}
