@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

.warning_f20685 {
    @include boxes.box;
}

.marginTop60_f7730b {
    margin-top: 16px;
}

.defaultKeybindGroup_f916fc {
    margin: 16px 0 0;

    .defaultKeybindGroupHeader_f916fc,
    .defaultKeybindGroupDescription_f916fc {
        margin-bottom: 8px;
    }
}

.defaultKeybind_f916fc {
    padding: 4px;
    height: 32px;
    @include boxes.inset;

    &:has(.combo_c90023:nth-child(2)) {
        height: 64px;
    }
}

.appMount_ea7e65 .combo_c90023 {
    text-transform: capitalize;
    font-weight: unset;
    font-size: 14px;
    line-height: 16px;

    .key_c90023 {
        @include boxes.box;
        box-shadow: none;
        background: $darkgrey;
        color: $white;
    }
}
