@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

.warning__4da7a {
    @include boxes.box;
}

.marginTop60__9b32d {
    margin-top: 16px;
}

.defaultKeybindGroup_fe8d85 {
    margin: 16px 0 0;

    .defaultKeybindGroupHeader__3c306,
    .defaultKeybindGroupDescription_e38653 {
        margin-bottom: 8px;
    }
}

.defaultKeybind__48ba0 {
    padding: 4px;
    height: 32px;
    @include boxes.inset;

    &:has(.combo__57290:nth-child(2)) {
        height: 64px;
    }
}

.appMount_c99875 .combo__57290 {
    text-transform: capitalize;
    font-weight: unset;
    font-size: 14px;
    line-height: 16px;

    .key__6a8d9 {
        @include boxes.box;
        box-shadow: none;
        background: $darkgrey;
        color: $white;
    }
}
