@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

.perkCardsContainerSpacingSettings__54b8c,
.premiumTierCardsContainerSettings_f346a8,
.perksTitle__110ba,
.titleText__55da3 {
    margin-bottom: 8px;
}

.container__1e26b,
.card__48184 {
    @include boxes.inset;
    padding: 16px;
}

.settingsHero__55ff3 {
    margin-bottom: 0;
    width: 100%;
}

.premiumCards__1b3a9 {
    gap: 0;
}

:is(.bigPerkCardContainer-100zsH, .smallPerkCardContainer-X9-c92) {
    gap: 0;
    margin-bottom: 0;

    :is(.bigPerkCard-1uwmWV, .smallPerkCard-2sX_--) {
        @include boxes.inset;
        padding: 8px;

        .bigPerkCardHeading-2A9bsX {
            margin-bottom: 8px;
        }
    }
}

.table__0e47c {
    @include boxes.box;
    tbody :is(th, td) {
        @include boxes.inset;
    }
    th {
        padding: 4px;
    }
    .row__5a3ac {
        height: auto;
    }
    .buttonsCell-gSFzSA {
        padding: 4px;
        gap: 4px;
    }
}

.footer-j5ehCa {
    margin: 0;
    padding-bottom: 8px;
}

.bottomIllustration__5d164 {
    position: fixed;
    bottom: 0;
}
