@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

.perkCardsContainerSpacingSettings_a8b566,
.premiumTierCardsContainerSettings_a8b566,
.perksTitle_d611db,
.titleText_b1bbf4 {
    margin-bottom: 8px;
}

.container_f26610,
.card_c87d73 {
    @include boxes.inset;
    padding: 16px;
}

.settingsHero__55ff3 {
    margin-bottom: 0;
    width: 100%;
}

.premiumCards_c87d73 {
    gap: 0;
}

:is(.bigPerkCardContainer-100zsH, .smallPerkCardContainer-X9-c92) {
    gap: 0;
    margin-bottom: 0;

    :is(.bigPerkCard-1uwmWV, .smallPerkCard-2sX_--) {
        @include boxes.inset;
        padding: 8px;

        .bigPerkCardHeading-2A9bsX {
            margin-bottom: 8px;
        }
    }
}

.table_b1bbf4 {
    @include boxes.box;
    tbody :is(th, td) {
        @include boxes.inset;
    }
    th {
        padding: 4px;
    }
    .row_b1bbf4 {
        height: auto;
    }
    .buttonsCell-gSFzSA {
        padding: 4px;
        gap: 4px;
    }
}

.footer-j5ehCa {
    margin: 0;
    padding-bottom: 8px;
}

.bottomIllustration_a8b566 {
    position: fixed;
    bottom: 0;
}
