@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

// # Privacy and safety
.item_eb92a8 {
    @include boxes.clickable;
    margin: 0;

    &[aria-checked="true"] {
        @include boxes.inset;
    }

    .radioBar_eb92a8 {
        padding: 4px !important;
    }
}

.marginBottom40_f7730b {
    margin-bottom: 20px;
}
