@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

// # Privacy and safety
.item_b7fb7e {
    @include boxes.clickable;
    margin: 0;

    &[aria-checked="true"] {
        @include boxes.inset;
    }

    .radioBar__70669 {
        padding: 4px !important;
    }
}

.marginBottom40_f4d1a4 {
    margin-bottom: 20px;
}
