@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

// # Profiles
// Tabs
.tabBar__22a9a {
    margin-top: 0;

    .brand_ce3ecf.item__48dda {
        @include boxes.clickable;
        padding: 4px;
        margin: 0;

        &:active,
        &:hover,
        &.selected__5711d {
            border-bottom-color: $darkblue;
        }

        &.selected__5711d {
            @include boxes.inset;
        }
    }
}

// Remove section dividers
.customizationSection__16fec {
    border-bottom: 0;
    margin-bottom: 0;
}

// Banner colour picker
.colorSwatch__5f5b9 {
    @include boxes.inset;
}

// Bio typing area
.channelTextArea__56a36 {
    @include boxes.inset;

    .slateTextArea__0661c {
        // maybe risky to other textboxes, doublecheck
        padding: 4px !important;
    }
}

// Emoji picker button
.webkit__8d35a .buttons_ce5b56 {
    margin-right: 0;
}

// Characters left
.characterCount_e55010 {
    right: 24px;
    bottom: 0;
}

// Profile preview
.userPopoutOuter_d739b2 {
    @include boxes.box;

    .userPopoutOverlayBackground_d8afa4 {
        @include boxes.inset;
    }

    .profileBadges__7a7cb.containerWithContent__7e98f {
        @include boxes.box;
    }

    .avatarUploaderInner_c81617 {
        @include boxes.box;
    }
}

// Nitro upsell lol
.premiumFeatureBorder__9bbb3,
.premiumBackground__4ce97 {
    background: none;
}

// Server nickname
.inputWrapper__934f5 {
    @include boxes.inset;
    background: $bg;

    .input_d266e7 {
        padding: 0 4px;
        height: 24px;
        color: $text;
    }
}
