@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

// # Profiles
// Tabs
.tabBar_bff66b {
    margin-top: 0;

    .brand_a0.item_a0 {
        @include boxes.clickable;
        padding: 4px;
        margin: 0;

        &:active,
        &:hover,
        &.selected_a0 {
            border-bottom-color: $darkblue;
        }

        &.selected_a0 {
            @include boxes.inset;
        }
    }
}

// Remove section dividers
.customizationSection_b3a5c2 {
    border-bottom: 0;
    margin-bottom: 0;
}

// Banner colour picker
.colorSwatch_c66781 {
    @include boxes.inset;
}

// Bio typing area
.channelTextArea_d0696b {
    @include boxes.inset;

    .slateTextArea_e52116 {
        // maybe risky to other textboxes, doublecheck
        padding: 4px !important;
    }
}

// Emoji picker button
.webkit__8d35a .buttons_d0696b {
    margin-right: 0;
}

// Characters left
.characterCount_b82429 {
    right: 24px;
    bottom: 0;
}

// Profile preview
.userPopoutOuter_c69a7b {
    @include boxes.box;

    .userPopoutOverlayBackground_c69a7b {
        @include boxes.inset;
    }

    .profileBadges_f89da9.containerWithContent_b64375 {
        @include boxes.box;
    }

    .avatarUploaderInner_ab876d {
        @include boxes.box;
    }
}

// Nitro upsell lol
.premiumFeatureBorder_c6d722,
.premiumBackground_c6d722 {
    background: none;
}

// Server nickname
.inputWrapper_f8bc55 {
    @include boxes.inset;
    background: $bg;

    .input_f8bc55 {
        padding: 0 4px;
        height: 24px;
        color: $text;
    }
}
