@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

// # Profiles
// Tabs
.tabBar__22a9a {
    margin-top: 0;

    .brand_ce3ecf.item__48dda {
        @include boxes.clickable;
        padding: 4px;
        margin: 0;

        &:active,
        &:hover,
        &.selected_a523ff {
            border-bottom-color: $darkblue;
        }

        &.selected_a523ff {
            @include boxes.inset;
        }
    }
}

// Remove section dividers
.customizationSection__0f57e {
    border-bottom: 0;
    margin-bottom: 0;
}

// Banner colour picker
.colorSwatch__74812 {
    @include boxes.inset;
}

// Bio typing area
.channelTextArea__648e5 {
    @include boxes.inset;

    .slateTextArea_b19976 {
        // maybe risky to other textboxes, doublecheck
        padding: 4px !important;
    }
}

// Emoji picker button
.webkit__8d35a .buttons__7ecff {
    margin-right: 0;
}

// Characters left
.characterCount__7e076 {
    right: 24px;
    bottom: 0;
}

// Profile preview
.userPopoutOuter__3884e {
    @include boxes.box;

    .userPopoutOverlayBackground_bf6444 {
        @include boxes.inset;
    }

    .profileBadges__1f2ab.containerWithContent_a67357 {
        @include boxes.box;
    }

    .avatarUploaderInner__71578 {
        @include boxes.box;
    }
}

// Nitro upsell lol
.premiumFeatureBorder__6ac04,
.premiumBackground__4f769 {
    background: none;
}

// Server nickname
.inputWrapper_ecb776 {
    @include boxes.inset;
    background: $bg;

    .input_f27786 {
        padding: 0 4px;
        height: 24px;
        color: $text;
    }
}
