@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

#game-activity-tab {
    .gameName_fd966d {
        color: $black;
    }

    .lastPlayed_fd966d,
    .overlayStatusText__668e1 {
        color: $darkgrey;
    }

    .activeGame_fd966d {
        @include boxes.box;
    }

    .nowPlayingAdd_fd966d {
        color: $black;
    }

    .card_ffe375 {
        @include boxes.box;
        padding: 8px;

        .gameNameInput_fd966d {
            &:focus,
            &:hover {
                background: $white;
                @include boxes.inset;
            }
        }

        .overlayToggleIcon-1WRcQ9 {
            @include boxes.clickable;

            .overlayToggleIconOn-21NN2N .fill_fd966d {
                fill: $darkgrey;
            }

            .overlayToggleIconOff-ps4gGp rect {
                fill: var(--status-danger);
            }
        }

        .flowerStar_ff7d90 path {
            fill: $darkblue;
        }
    }

    .removeGame_fd966d {
        @include boxes.clickable($position: absolute);
        right: -12px;
        background-color: $grey;
        z-index: 1;
    }
}

// Technically a popover
.animatorBottom_f88ae3 .addGamePopout_fd966d {
    background: $grey;
    @include boxes.box;

    .actions_fd966d {
        margin-top: 8px;
    }
}
