@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

#game-activity-tab {
    .gameName_aeeab5 {
        color: $black;
    }

    .lastPlayed_accc56,
    .overlayStatusText__61367 {
        color: $darkgrey;
    }

    .activeGame__99516 {
        @include boxes.box;
    }

    .nowPlayingAdd__7caf1 {
        color: $black;
    }

    .card_dc88cd {
        @include boxes.box;
        padding: 8px;

        .gameNameInput_e25dd8 {
            &:focus,
            &:hover {
                background: $white;
                @include boxes.inset;
            }
        }

        .overlayToggleIcon-1WRcQ9 {
            @include boxes.clickable;

            .overlayToggleIconOn-21NN2N .fill__80e66 {
                fill: $darkgrey;
            }

            .overlayToggleIconOff-ps4gGp rect {
                fill: var(--status-danger);
            }
        }

        .flowerStar_a9981e path {
            fill: $darkblue;
        }
    }

    .removeGame_aa12f1 {
        @include boxes.clickable($position: absolute);
        right: -12px;
        background-color: $grey;
        z-index: 1;
    }
}

// Technically a popover
.animatorBottom_b2d32e .addGamePopout_e4ca8f {
    background: $grey;
    @include boxes.box;

    .actions__0d917 {
        margin-top: 8px;
    }
}
