@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

#game-activity-tab {
    .gameName_c1c8a6 {
        color: $black;
    }

    .lastPlayed__0b4ef,
    .overlayStatusText__668e1 {
        color: $darkgrey;
    }

    .activeGame__6d821 {
        @include boxes.box;
    }

    .nowPlayingAdd_ab1001 {
        color: $black;
    }

    .card_dc88cd {
        @include boxes.box;
        padding: 8px;

        .gameNameInput__3e1e4 {
            &:focus,
            &:hover {
                background: $white;
                @include boxes.inset;
            }
        }

        .overlayToggleIcon-1WRcQ9 {
            @include boxes.clickable;

            .overlayToggleIconOn-21NN2N .fill__90d85 {
                fill: $darkgrey;
            }

            .overlayToggleIconOff-ps4gGp rect {
                fill: var(--status-danger);
            }
        }

        .flowerStar_fa5ad8 path {
            fill: $darkblue;
        }
    }

    .removeGame__4f4cb {
        @include boxes.clickable($position: absolute);
        right: -12px;
        background-color: $grey;
        z-index: 1;
    }
}

// Technically a popover
.animatorBottom__90ece .addGamePopout__61649 {
    background: $grey;
    @include boxes.box;

    .actions__1012d {
        margin-top: 8px;
    }
}
