@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

.divider__93246 {
    display: none;
}

.featureHeaderTop__6798e,
.featureHeader__3d3f0,
.features_c2c4bf,
.guildFullFeatures_d50b8c,
.guildsSection__337a8,
.guilds__66a9b {
    margin-top: 8px;
}

.features_c2c4bf {
    grid-gap: 0;
    .feature__99aa8 {
        @include boxes.inset;
        padding: 4px;
    }
}

.guildsSection__337a8 {
    border-top: 0;
    padding-top: 8px;
    margin-bottom: 8px;

    .guilds__66a9b {
        grid-gap: 4px;
    }

    .card__11580 {
        @include boxes.clickable;
        padding: 8px;

        &:hover {
            background: $grey;
        }

        .circle-1BhSZ2 {
            display: none;
        }

        .gemIndicatorContainer_b03ca0 {
            @include boxes.inset;
            background: $grey;

            .tierLabel__41356 {
                color: $black;
            }
        }
    }
}

.tier0Heading__3a2e8 {
    margin-bottom: 8px;
}
