@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

.sectionAccountCredit_e70817,
.subscriptionDetails_e70817 {
    padding-bottom: 16px;
    margin-bottom: 0;
    border-bottom: 0;
}

.card_a298b8 {
    @include boxes.inset;
    padding: 16px;

    .noItemsIcon_a206c7,
    .noItemsIcon_e70817 {
        background: transparent;
    }

    .cardText_a206c7,
    .cardText_e70817 {
        color: $black;
    }
}
