@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

.sectionAccountCredit__8ffc1,
.subscriptionDetails_f73fb4 {
    padding-bottom: 16px;
    margin-bottom: 0;
    border-bottom: 0;
}

.card__4dc22 {
    @include boxes.inset;
    padding: 16px;

    .noItemsIcon_b1e42b,
    .noItemsIcon__38ca2 {
        background: transparent;
    }

    .cardText_c116a3,
    .cardText__2fe30 {
        color: $black;
    }
}
