@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

.sectionAccountCredit_c94c5d,
.subscriptionDetails_a1ad09 {
    padding-bottom: 16px;
    margin-bottom: 0;
    border-bottom: 0;
}

.card__4dc22 {
    @include boxes.inset;
    padding: 16px;

    .noItemsIcon__299fb,
    .noItemsIcon_ead6f9 {
        background: transparent;
    }

    .cardText__604bf,
    .cardText__08ae7 {
        color: $black;
    }
}
