@use "../top/vars-scss" as *;
@use "../top/boxes" as boxes;

// Update banners
#bd-notices {
    .bd-notice-button {
        @include boxes.clickable;
    }
}

// Settings sidebar
.bd-sidebar-header {
    h2 {
        color: $black;
    }

    .bd-changelog-button {
        @include boxes.clickable;
        height: 18px;
    }

    .bd-icon:hover {
        fill: $black;
    }
}

// Tabs
.bd-tab-item {
    @include boxes.clickable;

    &.selected,
    &:hover {
        background: $grey;
        color: $black;
    }
}

// Addon error
:is(.theme-dark, .theme-light) .bd-addon-error {
    &.collapsed {
        @include boxes.clickable;
    }

    &.expanded {
        @include boxes.box;
    }
}

.bd-addon-error-details .detailsIcon-2NtTO9 {
    color: var(--header-secondary);
}

.bd-divider {
    display: none;
}

.bd-addon-error-stack .scrollbarGhostHairline-2LpzZ9 {
    @include boxes.inset;
    background: $white;
    max-height: 200px;
}

// Settings
.bd-settings-title {
    color: $black;
}

.bd-setting-divider {
    display: none;
}

// Searchbar
.bd-search-wrapper {
    @include boxes.inset;
    background: var(--w9x-background);

    .bd-search {
        color: var(--w9x-text);
    }
}

// Number input
.bd-number-input {
    @include boxes.inset;
    color: var(--w9x-text);
}

// Dropdown selector
.bd-select {
    @include boxes.inset;
    padding: 0;
    background: var(--w9x-background);
    color: var(--w9x-text);

    &.bd-select-transparent {
        @include boxes.inset;
        background: var(--w9x-background);
        align-items: center;
    }

    .bd-select-arrow {
        @include boxes.clickable;
        background: $grey;
        height: 24px !important;
        width: 24px !important;

    }

    .bd-select-options {
        @include boxes.inset($position: absolute);
        background: var(--w9x-background);

        .bd-select-option {
            padding: 4px 8px;

            &.selected {
                background: $darkblue;
                color: $white;
            }
        }
    }
}

// Toggle switch
.bd-switch {
    @include boxes.box;
}

.bd-switch-body {
    --switch-color: #{$darkgrey};
}

.bd-switch input:checked+.bd-switch-body {
    --switch-color: #{$green};
}

.bd-filled-checkmark {
    background: $green;
}

.bd-empty-updates svg {
    fill: $green;
}

// Regular butons
.bd-button {
    @include boxes.clickable;
    background: $grey;
    color: $black;

    &:hover,
    &:active {
        background: $grey;
    }

    &.bd-button-danger {
        background: $grey;

        &:hover,
        &:active {
            background: $grey;
        }

        svg {
            color: $red;
        }
    }
}

// Addon card layout buttons
.bd-addon-views .bd-view-button {

    &:hover,
    &:active {
        background: $grey;
    }

    &.selected {
        @include boxes.inset;
        background: $grey;

        svg {
            fill: $black;
        }
    }

    +.bd-view-button {
        margin-left: 0;
    }
}

// Addon cards
.bd-addon-card {
    @include boxes.box;
    padding: 6px;

    :is(.bd-addon-header, .bd-description-wrap, .bd-footer) {
        padding: 0;
    }

    .bd-meta {
        color: $darkgrey;
    }

    .bd-addon-header .bd-icon {
        margin-right: 4px;
    }

    .bd-links .bd-addon-button {
        @include boxes.clickable;
        width: 24px;
        align-items: center;
        justify-content: center;

        +.bd-addon-button {
            margin-left: 0;
        }

        .bd-link:hover,
        .bd-link:active {
            color: $black;
        }
    }

    .bd-addon-button svg {
        fill: $black;
    }

    .bd-button-danger svg {
        fill: $red;
    }
}

// Maybe not BD, but goes here for now.
// Update modal text
:is(.theme-dark, .theme-light) .markdown-19oyJN {
    color: $black;
}

// Floating editors
#floating-editor-window,
#floating-windows-layer [id^="bd-floating-window-"] {
    @include boxes.box;

    .floating-window-titlebar {
        @include boxes.winBar($text: "", $bgColor: $darkblue);
        width: auto;

        .title {
            font-size: 1rem;
            padding: 0;
            color: $grey;
        }

        .button {
            @include boxes.clickable;
            background: $grey;
            height: 18px;
            width: 22px;

            &:hover {
                color: $black;
            }
        }
    }

    #bd-editor-controls {
        z-index: 0;
        padding: 2px;
        padding-top: 0;

        .btn-primary {
            @include boxes.clickable;
            margin-right: 0;

            &:hover,
            &:active {
                background: $grey;
                color: $black;
            }
        }

        .checkbox-item {
            @include boxes.clickable;
            cursor: pointer;
            height: 24px;

            &:has(.checkbox:checked) {
                @include boxes.inset;
            }

            .checkbox-label {
                width: 100%;
                margin: 6px;
            }

            .checkbox-wrapper,
            .checkbox-inner,
            .checkbox {
                position: absolute;
                width: 100%;
                margin: 0;
                height: 100%;
            }

            .checkbox {
                visibility: hidden;
            }
        }
    }

    .editor-wrapper {
        @include boxes.inset;

        &::before {
            top: -2px;
        }
    }
}