@use "../top/vars" as *;
@use "../top/boxes" as boxes;

:is(
        .button__8ec71,
        .welcomeCTAButtonOuter_a7da64,
        .friendRequestsButton_f19806,
        .button_ddf91e,
        .lookFilled__19298,
        .lookOutlined__46d54,
        .lookInverted_ee4261
    ) {
    @include boxes.clickable;
}

:is(.theme-dark, .theme-light) {
    .lookLink__93965.colorPrimary__6ed40 {
        color: $black;

        &:hover .contents_fb6220 {
            --button--underline-color: #{$black};
        }
    }
}

.appMount_fae9dd .lookFilled__19298 {
    &:is(.colorBrand_b2253e, .colorBrand_b2253e:disabled, .colorBrand_b2253e[aria-disabled="true"], .colorBrandNew_fd170a) {
        color: $black;
        background: $lightgrey;

        &:hover,
        &:active {
            background: $lightgrey;
        }
    }

    &:is(.colorPrimary__6ed40, .colorTransparent__4c280) {
        color: $black;
    }
}
