@use "../top/vars-scss" as *;
@use "../top/boxes" as boxes;

:is(
        .button-2b4VEQ,
        .welcomeCTAButtonOuter-3pJkMq,
        .friendRequestsButton-77veU7,
        .button-1_oXub,
        .lookFilled-1H2Jvj,
        .lookOutlined-3RTC7c,
        .lookInverted-2GrLaB
    ) {
    @include boxes.clickable;
}

:is(.theme-dark, .theme-light) {
    .lookLink-13iF2K.colorPrimary-2-Lusz {
        color: $black;

        &:hover .contents-3NembX {
            --button--underline-color: #{$black};
        }
    }
}

.appMount-2yBXZl .lookFilled-1H2Jvj {
    &:is(.colorBrand-2M3O3N, .colorBrand-2M3O3N:disabled, .colorBrand-2M3O3N[aria-disabled="true"], .colorBrandNew-abZT3v) {
        color: $black;
        background: $lightgrey;

        &:hover,
        &:active {
            background: $lightgrey;
        }
    }

    &:is(.colorPrimary-2-Lusz, .colorTransparent-2SBJ8-) {
        color: $black;
    }
}
