@use "../top/vars" as *;
@use "../top/boxes" as boxes;

:is(
        .button_f73214,
        .welcomeCTAButtonOuter_fdd0ae,
        .friendRequestsButton__77e10,
        .button__292b6,
        .lookFilled__950dd,
        .lookOutlined__014b5,
        .lookInverted_a299dc
    ) {
    @include boxes.clickable;
}

:is(.theme-dark, .theme-light) {
    .lookLink_a2da25.colorPrimary_ebe632 {
        color: $black;

        &:hover .contents__322f4 {
            --button--underline-color: #{$black};
        }
    }
}

.appMount_c99875 .lookFilled__950dd {
    &:is(.colorBrand__27d57, .colorBrand__27d57:disabled, .colorBrand__27d57[aria-disabled="true"], .colorBrandNew__8872c) {
        color: $black;
        background: $lightgrey;

        &:hover,
        &:active {
            background: $lightgrey;
        }
    }

    &:is(.colorPrimary_ebe632, .colorTransparent__3e3c7) {
        color: $black;
    }
}
