@use "../top/vars" as *;
@use "../top/boxes" as boxes;

:is(
        .button_b9fe76,
        .welcomeCTAButtonOuter_f6dde0,
        .friendRequestsButton_c0c071,
        .button__292b6,
        .lookFilled_dd4f85,
        .lookOutlined_dd4f85,
        .lookInverted_a299dc
    ) {
    @include boxes.clickable;
}

:is(.theme-dark, .theme-light) {
    .lookLink_dd4f85.colorPrimary_dd4f85 {
        color: $black;

        &:hover .contents_dd4f85 {
            --button--underline-color: #{$black};
        }
    }
}

.appMount_ea7e65 .lookFilled_dd4f85 {
    &:is(.colorBrand_dd4f85, .colorBrand_dd4f85:disabled, .colorBrand_dd4f85[aria-disabled="true"], .colorBrandNew__8872c) {
        color: $black;
        background: $lightgrey;

        &:hover,
        &:active {
            background: $lightgrey;
        }
    }

    &:is(.colorPrimary_dd4f85, .colorTransparent_dd4f85) {
        color: $black;
    }
}
