// Replace all SVGs with dark mode equivalent
$prefix: "https://canary.discord.com";

.theme-light {
    .calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--next,
    .calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--previous {
        background-image: url($prefix + "/assets/7619529e87dad31fd2ae83d9b9583e49.svg");
    }
    .wrapper-3AZUiP {
        background-image: url($prefix + "/assets/86548cb347b5acfb41bcb328c89b9bdc.svg");
    }
    .image-35kDIs {
        background-image: url($prefix + "/assets/5656f17248cf747f56433a1d60c8c1bf.svg");
    }
    .conflictUploadArt-21GcRD {
        background-image: url($prefix + "/assets/b55aae0bca1abd3369da79d1e6618211.svg");
    }
    .conflictDownloadArt-3TkINu {
        background-image: url($prefix + "/assets/c6252bc3f9adf69da8ef5af3b8e04c01.svg");
    }
    .errorArt-1eXOnd {
        background-image: url($prefix + "/assets/a9cea9dcca399579f75e78d703989496.svg");
    }
    .authBox-1HR6Ha .discordLogo-2A4X97 {
        background: url($prefix + "/assets/22fd790491653d837422d80e3500cf92.svg") no-repeat;
    }
    .cardFormHeader-1oooZk.jcb-Ff1Gj5:before {
        background-image: url($prefix + "/assets/2f837517dadf32743c343c0692856dbb.svg");
    }
    .cardFormHeader-1oooZk.jcb_monochrome-3KP8_2:before {
        background-image: url($prefix + "/assets/a4c0bb50800f073359c9caa1bd23f52b.svg");
    }
    .cardFormHeader-1oooZk.amex-3qtwwv:before {
        background-image: url($prefix + "/assets/e6f5fdb421197ac145651a603b2a4ca1.svg");
    }
    .cardFormHeader-1oooZk.amex_monochrome-wXzgdf:before {
        background-image: url($prefix + "/assets/66252c929725c13b887842fc14122de9.svg");
    }
    .cardFormHeader-1oooZk.mastercard-WtGV2v:before {
        background-image: url($prefix + "/assets/8859268fe0da6c1d43120cc61af43cb2.svg");
    }
    .cardFormHeader-1oooZk.mastercard_monochrome-1Qxgn-:before {
        background-image: url($prefix + "/assets/5fc1cc70085cd310fe4078fdb6130259.svg");
    }
    .cardFormHeader-1oooZk.visa-3AxzrI:before {
        background-image: url($prefix + "/assets/46bbfc06391fb63686e04c31a0f5d393.svg");
    }
    .cardFormHeader-1oooZk.visa_monochrome-p0ou1I:before {
        background-image: url($prefix + "/assets/6e3349b7a97ffa4e40e032748de881aa.svg");
    }
    .cardFormHeader-1oooZk.discover-Iz-grc:before {
        background-image: url($prefix + "/assets/151e9174cffc5d38d6ce34b0e119b613.svg");
    }
    .cardFormHeader-1oooZk.discover_monochrome-UzSxyl:before {
        background-image: url($prefix + "/assets/3bed510362f6ace8c0a0a3d3089a8ea8.svg");
    }
    .cardFormHeader-1oooZk.dinersclub-23rERj:before {
        background-image: url($prefix + "/assets/1192c04cdb47505dbb57fba293b49956.svg");
    }
    .cardFormHeader-1oooZk.dinersclub_monochrome-Lw7S6Q:before {
        background-image: url($prefix + "/assets/7e4ced9a6e6936b22e821a0f739bef36.svg");
    }
    .imageUnverified-27S_KF {
        background-image: url($prefix + "/assets/9ee155142daa13a74e603cc1c1bad485.svg");
    }
    .header-1aIywd {
        background:
            center 15%/90% auto url($prefix + "/assets/a81e1a44f42b5939d6e007d37b4fb48c.svg") no-repeat,
            linear-gradient(359.37deg, rgba(0, 0, 0, 0.5) 12.68%, hsla(0, 0%, 100%, 0) 50.4%),
            linear-gradient(
                159.15deg,
                var(--premium-tier-0-header-gradient-1) 8.49%,
                var(--premium-tier-0-header-gradient-2) 32.21%,
                var(--premium-tier-0-header-gradient-3) 42.9%,
                var(--premium-tier-0-header-gradient-4) 66.06%,
                var(--premium-tier-0-header-gradient-5) 71.4%
            );
    }
    .invalidPoop--w1123 {
        background-image: url($prefix + "/assets/9a31e0f65d520cc12d7f42374d59a2d1.svg");
    }
    .guildIconExpired-2BFmZC {
        background-image: url($prefix + "/assets/9a31e0f65d520cc12d7f42374d59a2d1.svg");
    }
    .invalid-3VipAX {
        background-image: url($prefix + "/assets/9a31e0f65d520cc12d7f42374d59a2d1.svg");
    }
    .artworkSpotifySessionEnded-D18iXB {
        background-image: url($prefix + "/assets/1e3eefd7b16f4e6b59faa3e3d48f582f.svg");
    }
    .sadImage-2_mw0p {
        background-image: url($prefix + "/assets/28e8c52ad284779a9272dad02a70fa4e.svg");
    }
    .imageLoading-2uloYN {
        background-image: url($prefix + "/assets/56b42ec7fdca5d48afd672a7163b9c06.png");
    }
    .art-1bAcVF {
        background-image: url($prefix + "/assets/f0fd53980da8cde41a97db3cf20de65d.svg");
    }
    .emptyState-1OLqEw {
        background-image: url($prefix + "/assets/e61baf173edfbd88037ecdd2c793834e.svg");
    }
    .verification-2oQUwN .image-cLINxN {
        background-image: url($prefix + "/assets/d5bd759fc308772cbf277188cabdcc8f.svg");
    }
    .verificationBlock-xhj3fR .image-cLINxN.email-1Zyyoj {
        background-image: url($prefix + "/assets/ad21e9327e71ab990fd1d7fb8cea66fc.svg");
    }
    .verificationBlock-xhj3fR .image-cLINxN.phone-2wue_- {
        background-image: url($prefix + "/assets/0eeb095cd923afdf420687347dc673ff.svg");
    }
    .activityInviteEducationArrow-1Avyhe {
        background-image: url($prefix + "/assets/ce73613685f715d326709ec90c1cd741.svg");
    }
    .endContainer-22e-US:after {
        background-image: url($prefix + "/assets/be5f088125f778701a7e4fad471a45da.svg");
    }
    .image-3M1H1y {
        background-image: url($prefix + "/assets/03e1ac95e0dd757f16dc200bf6af9ba3.svg");
    }
    .image-3HC6rC {
        background-image: url($prefix + "/assets/f6a272d9794eb33939cf1baa953ceb3e.svg");
    }
    .searchIndexBackground-2pbSFD {
        background-image: url($prefix + "/assets/63a3f34794926b2ee4e5ef22b5c31e15.svg");
    }
    .resultsBlockedImage--tkTSD {
        background-image: url($prefix + "/assets/b21bd7d0978d3e2d41eefa8993333435.svg");
    }
    .noResultsImage-1-dP2n {
        background-image: url($prefix + "/assets/8f79e7f01dbb1afeb122cb3e8c4a342f.svg");
    }
    .noResultsImage-1-dP2n.alt-3_Cl_W {
        background-image: url($prefix + "/assets/f203f5736b9aa0178751342dcc73548a.svg");
    }
    .errorImage-19HeaA {
        background-image: url($prefix + "/assets/7dfacc7529214e45b9e3cfd50979edea.svg");
    }
    .emptyPreviewImage-2pvAiF {
        background-image: url($prefix + "/assets/66b66e8ee672e7d5c3edd7d139efe166.svg");
    }
    .notFriends-lSusTz .errorStateIcon-3y6XWh {
        background-image: url($prefix + "/assets/35000dd88d1b338a790f3e387cbd7e7a.svg");
    }
    .noFriends-1Y8EWR .errorStateIcon-3y6XWh {
        background-image: url($prefix + "/assets/1dabb8ee5d7cb5137c06f958e0091573.svg");
    }
    .partyFull-kwAvJT .errorStateIcon-3y6XWh {
        background-image: url($prefix + "/assets/25f3555f54d3c872f0ac7a5922c8eccf.svg");
    }
    .noResults-1ceiMB .errorStateIcon-3y6XWh {
        background-image: url($prefix + "/assets/03e1ac95e0dd757f16dc200bf6af9ba3.svg");
    }
    .unknown-3n6wbq {
        background-image: url($prefix + "/assets/81673077ca178aa1173cfdca182420d8.svg");
    }
    .quickSelectArrow-1dOOHb {
        background: url($prefix + "/assets/fb792f56515490f402b731abf6af5d45.svg") 50% no-repeat;
    }
    .emptyIconStreamerMode-3P4I-V {
        background-image: url($prefix + "/assets/16cbaa97e5daa42bbc69cf064011be69.svg");
    }
    .emptyIconGuilds-2NNSTU {
        background-image: url($prefix + "/assets/3ba82b28fba53cc606486b5cf48c3c30.svg");
    }
    .emptyIconFriends-2LNxTX {
        background-image: url($prefix + "/assets/7fcb750721a08b543ba49fb04bd04158.svg");
    }
    .streamerModeEnabledImage-2EveVD {
        background-image: url($prefix + "/assets/80cb895c1ed74292d5cf0acabe103f32.svg");
    }
    .tier1Banner-LvpkWu {
        background-image: url($prefix + "/assets/ea6fbee8930d2ece33ce9c1cabb73304.svg");
    }
    .emptyWumpus-11kRB0 {
        background: url($prefix + "/assets/e0989b9d43cd9ca4417b49f4f8fbebc6.svg");
    }
    :is(.krispLogo-aWHaan, .krispLogo-2NYhKv) {
        background-image: url($prefix + "/assets/73c1c05c8458288db873591e1f6ee5a9.svg");
    }
    .imageUploaderIcon-2OHmFu {
        background-image: url($prefix + "/assets/4a1000a95b1aad334e98f9d15b9d0ec4.svg");
    }
    .noProductsContainer-PcBbce {
        background: var(--background-modifier-hover) url($prefix + "/assets/80b29ef69b7a8039d6f1276d5acc31eb.png") 16px 16px/702px 108px
            no-repeat;
    }
    .imageUploaderInnerSquare-3D4B4d {
        background-image: url($prefix + "/assets/2366391afb15ed6c2a019a0c0caa0797.svg");
    }
    .imageUploaderInnerSquare-gHxn5x {
        background-image: url($prefix + "/assets/2366391afb15ed6c2a019a0c0caa0797.svg");
    }
    .footerImage-2WsqiE {
        background-image: url($prefix + "/assets/d89511b11686ab5c942b3ef900e3d0eb.svg");
    }
    .imageUpgrade-14Nm12 {
        background-image: url($prefix + "/assets/d8371709428ae18e72c92a419931f43f.svg");
    }
    .imageCancel-JCYzge {
        background: url($prefix + "/assets/40c7bc64839852a875c69b4bf2182676.svg");
    }
    .imageUnclaimed-3oCGjd {
        background-image: url($prefix + "/assets/eb38bedd2469cc0ee75d038314b808de.svg");
    }
    .imageUnverified-3XUZP7 {
        background-image: url($prefix + "/assets/9ee155142daa13a74e603cc1c1bad485.svg");
    }
    .image-39E-vF {
        background-image: url($prefix + "/assets/1e3eefd7b16f4e6b59faa3e3d48f582f.svg");
    }
    .confirmImage-e5jLwI {
        background-image: url($prefix + "/assets/192d6baea83c7c91a2d07c81f7fb141a.svg");
    }
    .transferConfirmImage-2h-wby {
        background-image: url($prefix + "/assets/208ed87ce5401340f7f0107a37b5d3d4.svg");
    }
    .art-FBwvRJ {
        background-image: url($prefix + "/assets/0d16e62fc3a84fc7e76b06584b646df9.svg");
    }
    .art-1TvEXv {
        background-image: url($prefix + "/assets/13cb217fd14b022bf4b00dcc8c157238.svg");
    }
    .cancelImage-T807tN {
        background: url($prefix + "/assets/40c7bc64839852a875c69b4bf2182676.svg");
    }
    .missingEntitlementImage-112ztW {
        background-image: url($prefix + "/assets/e0989b9d43cd9ca4417b49f4f8fbebc6.svg");
    }
    .authenticationRequiredImage-2E6TQE {
        background-image: url($prefix + "/assets/ad66c2b1e739060afe74de24f7cc4f97.svg");
    }
    .authenticationSuccessImage-tBBeV0 {
        background-image: url($prefix + "/assets/369e96a61ac2a37279f81ba839f3b9b2.svg");
    }
    .authenticationFailImage-3DXXvB {
        background-image: url($prefix + "/assets/f057d122337814596b28b4640cfc5671.svg");
    }
    .image-21WP6W {
        background-image: url($prefix + "/assets/e7569d7c2e9acc7c6afffd5c9cf1d86c.svg");
    }
    .header-13P3fr {
        background-image: url($prefix + "/assets/579816de0b3fa8045cb75173f0ce1c90.svg");
    }
    .image-_AMZsN {
        background-image: url($prefix + "/assets/ad21e9327e71ab990fd1d7fb8cea66fc.svg");
    }
    .emptyStateImage-1kilCd {
        background: url($prefix + "/assets/e0989b9d43cd9ca4417b49f4f8fbebc6.svg");
    }
    .guildHeaderBackground-2xMDZT {
        background-image: url($prefix + "/assets/2366391afb15ed6c2a019a0c0caa0797.svg");
    }
    .emptyGuilds-3pisxB {
        background-image: url($prefix + "/assets/9eccd9710a1b3c2b7127bc1ab191a423.svg");
    }
    .previewImage-7EfQfc {
        background-image: url($prefix + "/assets/ca9e397003df8b46709315d7a248c7de.svg");
    }
    .dragged-S44x-A {
        background-image: url($prefix + "/assets/821af47396cd9ac94ff55bfb5f5d94c3.svg");
    }
    .checkImage-33CSZl {
        background-image: url($prefix + "/assets/b6193b9564ca0ecbbd1ed6b80f47646d.svg");
    }
    .tagImage-1hIwJJ {
        background-image: url($prefix + "/assets/2c49cb0b019dc56e36e7ed5602c37aee.svg");
    }
    .pencilImage-_srmuL {
        background-image: url($prefix + "/assets/8defbbe53b9bd1536fa6636bc2f0a835.svg");
    }
    .fromToWrapper-7A2MIP {
        background-image: url($prefix + "/assets/00933827d9e2b3ecacc0a0a319211ddc.svg");
    }
}

:is(.themeOverrideLight-bdYR2N.icon-2PiQ65, .theme-light .icon-2PiQ65) {
    &.targetAll-21RPfg {
        background: url($prefix + "/assets/22fd0ab3562af24ea964465bb65531aa.svg");
    }
    &.targetBan-qwvck2 {
        background: url($prefix + "/assets/fd541825b6853aaae233ad9d83e05a18.svg");
    }
    &.targetChannel-1NWbC5 {
        background: url($prefix + "/assets/528ae525a9823affbcd2a35bd20573b0.svg");
    }
    &.targetGuild-pvPVWS {
        background: url($prefix + "/assets/448b698d906ab4d93b609282595a1c9d.svg");
    }
    &.targetEmoji-2T6Ze4 {
        background: url($prefix + "/assets/858ab2bdee17ca226df85e23263bcf3a.svg");
    }
    &.targetSticker-2BoYB9 {
        background: url($prefix + "/assets/da5f0aa4b5ccf0165b4220ba9929ea59.svg");
    }
    &.targetIntegration-j5Mnwy {
        background: url($prefix + "/assets/993b5f52b8bd8d1c1c34cac05015c331.svg");
    }
    &.targetInvite-2hFskc {
        background: url($prefix + "/assets/d0dc8a4c8ea55b119c5c2cccf69b031f.svg");
    }
    &.targetMemberRole-jNaX-k {
        background: url($prefix + "/assets/00124e254d0d86c37f6d02ec0c5b1e02.svg");
    }
    &.targetMember-2pI3Cu {
        background: url($prefix + "/assets/e2c0846875f889524e3d60e7d25afa55.svg");
    }
    &.targetPermission-2fNNaU {
        background: url($prefix + "/assets/35de2007bfe0db9821881321d8b7c1fe.svg");
    }
    &.targetRole-24Nm1S {
        background: url($prefix + "/assets/9aa6e9df74888ec09885bb08341800be.svg");
    }
    &.targetOnboarding-2xQ2Xp {
        background: url($prefix + "/assets/30d336e8dfc82755e571eb207476343e.svg");
    }
    &.targetVanityUrl-1KGkGd {
        background: url($prefix + "/assets/bef4eebd4f9e00aabbfa7de1949c8565.svg");
    }
    &.targetWebhook-3gzYYG {
        background: url($prefix + "/assets/210ac667f45d13bc52020744f008b1ed.svg");
    }
    &.targetWidget-3g4NqJ {
        background: url($prefix + "/assets/03f717eddad9ac74a1900254625657cf.svg");
    }
    &.targetMessage-WgF9Dt {
        background: url($prefix + "/assets/aa9f9c29b51e414f0476d4388031aaf4.svg");
    }
    &.targetStageInstance-2ljqjY {
        background: url($prefix + "/assets/dfad85fc7c072498298077f68cf006ca.svg");
    }
    &.targetGuildScheduledEvent-330pb3 {
        background: url($prefix + "/assets/7093e58edcd5202a129a6e4fbf427c6d.svg");
    }
    &.thread-P4cm8D {
        background: url($prefix + "/assets/c254ffdde9bc5c90c5ec5d9e11dbf382.svg");
    }
    &.applicationCommand-3YMgNf {
        background: url($prefix + "/assets/561a626f671b8fd8f0c2e85c97df9b04.svg");
    }
    &.autoModerationBlockMessage-97cbNX,
    &.autoModerationRule-2pc9PC {
        background: url($prefix + "/assets/210ac667f45d13bc52020744f008b1ed.svg");
    }
    &.targetGuildHome-3LSyOg {
        background: url($prefix + "/assets/eeaa7c1199e8f4cdb46de98c9b924edf.svg");
    }
    &.targetGuildSoundboard-3JyOX2 {
        background: url($prefix + "/assets/43c3103dc78b8ddb331c6de385183e95.svg");
    }
}
