/**
 * @name NineX
 * @author Saltssaumure
 * @authorLink https://github.com/Saltssaumure
 * @description A Windows 9x style Discord theme. With support for dark/light mode and customisation.
 * @version 1.1
 * @invite uy8nKQVatp
 * @source https://github.com/Saltssaumure/w9x-discord-theme
 * @donate https://ko-fi.com/saltssaumure
*/

/*
                                                Made by:
 _______  _______  _    _________ _______  _______  _______           __   __           _______  _______
(  ____ \(  ___  )( \   \__   __/(  ____ \(  ____ \(  ___  )|\     /|(  \ /  )|\     /|(  ____ )(  ____ \
| (____\/| (___) || |      | |   | (____\/| (____\/| (___) || |   | || || || || |   | || (____)|| (__  \/
(_____  )|  ___  || |      | |   (_____  )(_____  )|  ___  || |   | || |(_)| || |   | || __  __)|  __)
/\____) || )   ( || (____/\| |   /\____) |/\____) || )   ( || (___) || )   ( || (___) || ) \ \__| (____/\
\_______)|/     \|(_______/)_(   \_______)\_______)|/     \|(_______)|/     \|(_______)|/   \__/(_______/
                                         Licensed under GPL-3.0

Discord: Saltssaumure#7557
GitHub: https://github.com/Saltssaumure/w9x-discord-theme
Join Salt's Discord Themes server: https://discord.gg/uy8nKQVatp
*/

@import url("https://saltssaumure.github.io/w9x-discord-theme/w9x.min.css");

:root {
    --w9x-background-image: none;
    --w9x-background-color: #008080;
    --w9x-start-text: "Windows95";
}