@use "../../../top/vars" as *;
@use "../../../top/boxes" as boxes;

.member__55269 {
    @include boxes.box;
    padding: 15px;

    .role_d81130 {
        @include boxes.clickable;
        cursor: pointer;
    }
}
