@use "../../top/vars-scss" as *;
@use "../../top/boxes" as boxes;

// Create (group) DM

.header-1ffhsl {
    .subtitle-3v29zT {
        color: $black;
    }
    
    .searchBarComponent-18D6hD {
        @include boxes.inset;
        background: var(--w9x-background);
    
        .inner-1NoIT5 {
            overflow: hidden !important;
        }
    
        .input-2FSSDe {
            color: var(--w9x-text);
        }
    
        .tag-15zcD_ {
            @include boxes.clickable;
        }
    }
}

.scroller-1Kbkqa {
    @include boxes.scroller;

    .friendWrapper-2x5j0A {
        @include boxes.clickable;
        margin: 0;

        &[aria-selected="true"] {
            @include boxes.inset;
        }

        .friendSelected-3cwmD7 {
            background: unset;
        }
    }
}

.footer-C9oLp9 {
    padding: 8px;
}
