@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Create (group) DM

.header__5e5a6 {
    .subtitle__6fbe4 {
        color: $black;
    }

    .searchBarComponent__53adf {
        @include boxes.inset;
        background: $bg;

        .inner__178b2 {
            overflow: hidden !important;
        }

        .input__745d4 {
            color: $text;
        }

        .tag__69d9d {
            @include boxes.clickable;
        }
    }
}

.scroller__991cb {
    @include boxes.scroller;

    .friendWrapper_f9b51d {
        @include boxes.clickable;
        margin: 0;

        &[aria-selected="true"] {
            @include boxes.inset;
        }

        .friendSelected__98d91 {
            background: unset;
        }
    }
}

.footer__062a1 {
    padding: 8px;
}
