@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Create (group) DM

.header_f9a4c9 {
    .subtitle_e6af9c {
        color: $black;
    }

    .searchBarComponent_e6af9c {
        @include boxes.inset;
        background: $bg;

        .inner_effbe2 {
            overflow: hidden !important;
        }

        .input_effbe2 {
            color: $text;
        }

        .tag_effbe2 {
            @include boxes.clickable;
        }
    }
}

.scroller_e6af9c {
    @include boxes.scroller;

    .friendWrapper_ebf869 {
        @include boxes.clickable;
        margin: 0;

        &[aria-selected="true"] {
            @include boxes.inset;
        }

        .friendSelected_ebf869 {
            background: unset;
        }
    }
}

.footer_e6af9c {
    padding: 8px;
}
