@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Dropdowns
.popout_a6e77f {
    @include boxes.inset;
    background: $bg;

    .option_be8b2e {
        padding: 4px 8px;
        color: $text;

        .defaultColor__77578 {
            color: $text;
        }

        .icon__6e628 {
            opacity: 1;
        }

        &[aria-selected="true"]:not(.option_be8b2e.multi__8d15f) {
            background: $lightgrey;
        }

        .content__87c97 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .selectedIcon__4b0ba {
            color: $darkblue;
        }
    }
}
