@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Dropdowns
.popout_f6639d {
    @include boxes.inset;
    background: $bg;

    .option_f6639d {
        padding: 4px 8px;
        color: $text;

        .defaultColor__77578 {
            color: $text;
        }

        .icon__34dc7 {
            opacity: 1;
        }

        &[aria-selected="true"]:not(.option_f6639d.multi_f6639d) {
            background: $lightgrey;
        }

        .content_f6639d {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .selectedIcon_f6639d {
            color: $darkblue;
        }
    }
}
