@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Highlighted text editor
.buttons_dd497f {
    @include boxes.box;
    background: $grey;

    .icon__2c9bf,
    .active__05fbc .icon__2c9bf,
    .hover_d0ebf2:hover .icon__2c9bf {
        color: $black;
    }

    .active__05fbc {
        @include boxes.inset;
    }

    .divider_d6bbe2 {
        display: none;
    }
}
