@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Highlighted text editor
.buttons_de3e42 {
    @include boxes.box;
    background: $grey;

    .icon_de3e42,
    .active__05fbc .icon_de3e42,
    .hover_d0ebf2:hover .icon_de3e42 {
        color: $black;
    }

    .active__05fbc {
        @include boxes.inset;
    }

    .divider_de3e42 {
        display: none;
    }
}
