@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

.contentWrapper_af5dbb,
.contentWrapper_eab878 {
    @include boxes.box;
    // grid-row-gap: 0;
}

// Gifs / Stickers / Emojis tabs
// Reaction / Super Reaction tabs
:is(.nav_af5dbb, .nav__2aafa) {
    border-bottom: 1px solid $darkgrey;
}
:is(.navItem_af5dbb, .navItem_bd587d) {
    @include boxes.tab;
    margin-right: 0;
    top: -2px;

    & + .navItem_af5dbb {
        margin-left: 0;
    }

    &:is(.navButtonActive_af5dbb, .navButtonActive_b003de) {
        background: $grey;
        color: var(--interactive-active);
    }
}

// Search bar
:is(.container_effbe2, .container__33507) {
    @include boxes.inset;
    background: $bg;
    margin-right: 0;

    .inner_effbe2 {
        padding-right: 1px !important;
        overflow: hidden !important;
    }

    :is(.input_effbe2, .input__48d49) {
        color: $text;
    }

    // Search button
    :is(.iconLayout_effbe2, .iconLayout__67261) {
        @include boxes.clickable;
        background: $grey;
        cursor: pointer;
    }

    &.disabled_effbe2 :is(.iconLayout_effbe2, .iconLayout__67261) {
        @include boxes.box;
    }
}

// Header
:is(.emojiPickerHasTabWrapper_c6ee36 .header_c6ee36, .header_c6ee36, .header_d8cdac, .header_b56bbc) {
    padding: 0 8px 8px;

    // VC picker
    &.emojiPickerHeader_bdea70 {
        padding-top: 8px;

        .tooltipContainer_b7d6f1 {
            @include boxes.clickable;
        }
    }

    // Back button
    .backButton_b56bbc {
        @include boxes.clickable;
        margin-right: 0;
        padding: 2px 4px;
        color: $black;
    }

    // Skin tone selector
    .diversitySelectorButton_cce80d {
        @include boxes.clickable;
        padding: 4px;
    }
    .diversitySelectorOptions_cce80d {
        @include boxes.box($position: absolute);
        right: 16px;
    }

    // Beta tag in Super Reactions
    .betaTag__403f6 {
        top: 12px;
    }
}

// Emoji picker only panel, eg. in custom status modal
.layer_cd0de5 #emoji-picker-tab-panel {
    @include boxes.box;
    background: $grey;
    padding-top: 8px;
}

// Gif picker
#gif-picker-tab-panel {
    background: $grey;

    // Scroller
    .container_af1167 {
        background: $bg;
    }

    // Favourites
    .categoryFadeBlurple_af1167 {
        background: $darkblue;
        opacity: 0.7;
    }

    // Gif / Category
    .result_bad108 {
        background: $bg !important;
        @include boxes.clickable;

        &:hover::after {
            box-shadow: inset 0 0 0 2px $darkblue;
        }
    }
}

// Emoji / Sticker picker
:is(.bodyWrapper_c6ee36, .listWrapper_d8cdac) {
    background: $bg;

    // Super reactions ad
    // Nitro ad
    .burstNotice_ea6e72,
    .premiumUpsell_aae531 {
        margin: 0;
    }

    // No results search suggestion
    .searchSuggestion_de4721 {
        @include boxes.clickable;
    }

    // Emojis list
    .listItems_dcade6 {
        left: 0 !important;

        // Category section
        .categorySection_a3bc57 {
            margin-bottom: 0;
        }

        // Category header
        :is(.header_a3bc57, .packHeader_de4721) {
            @include boxes.box;
            z-index: 2;

            .header_e06857 {
                width: 100%;
                height: 100%;
            }

            .headerLabel_e06857 {
                text-transform: none;
            }
        }

        .emojiItem_fbfedd {
            @include boxes.clickable;

            &.emojiItemDisabled__843ea {
                @include boxes.box;
            }

            &.emojiItemSelected_fbfedd {
                background: transparent;
            }
        }

        .row_a708c4 {
            $gap: 32px;
            column-gap: $gap !important;
            margin-left: $gap;
            margin-top: 12px;

            & > div {
                @include boxes.clickable;

                .inspectedIndicator_a708c4 {
                    background: transparent;
                }
            }
        }
    }
}

// Emoji info
.inspector_c3120f {
    @include boxes.box;
}

// Servers list
:is(.emojiPickerHasTabWrapper_c6ee36 .categoryList_c6ee36, .categoryList_c6ee36, .categoryList_a7a485) {
    @include boxes.box($position: absolute);
    top: 45px;

    :is(.categoryItem_dfa278, .stickerCategory_a7a485) {
        @include boxes.clickable;
        margin-bottom: 0;
    }

    // Divider
    :is(.guildCategorySeparator_dfa278, .guildCategorySeparator_a7a485) {
        border: unset;
        margin: 4px;
    }
}
