@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

.contentWrapper_e0bb2c,
.contentWrapper_eab878 {
    @include boxes.box;
    // grid-row-gap: 0;
}

// Gifs / Stickers / Emojis tabs
// Reaction / Super Reaction tabs
:is(.nav_b56420, .nav__2aafa) {
    border-bottom: 1px solid $darkgrey;
}
:is(.navItem__38e35, .navItem_bd587d) {
    @include boxes.tab;
    margin-right: 0;
    top: -2px;

    & + .navItem__38e35 {
        margin-left: 0;
    }

    &:is(.navButtonActive__0c878, .navButtonActive_b003de) {
        background: $grey;
        color: var(--interactive-active);
    }
}

// Search bar
:is(.container_ec5ce2, .container__33507) {
    @include boxes.inset;
    background: $bg;
    margin-right: 0;

    .inner__178b2 {
        padding-right: 1px !important;
        overflow: hidden !important;
    }

    :is(.input__745d4, .input__48d49) {
        color: $text;
    }

    // Search button
    :is(.iconLayout__9d9a4, .iconLayout__67261) {
        @include boxes.clickable;
        background: $grey;
        cursor: pointer;
    }

    &.disabled_f5cfa0 :is(.iconLayout__9d9a4, .iconLayout__67261) {
        @include boxes.box;
    }
}

// Header
:is(.emojiPickerHasTabWrapper__63198 .header_e5d8b2, .header_e5d8b2, .header__643ce, .header_aac16f) {
    padding: 0 8px 8px;

    // VC picker
    &.emojiPickerHeader_e5f6a0 {
        padding-top: 8px;

        .tooltipContainer_b6b61f {
            @include boxes.clickable;
        }
    }

    // Back button
    .backButton_d9b964 {
        @include boxes.clickable;
        margin-right: 0;
        padding: 2px 4px;
        color: $black;
    }

    // Skin tone selector
    .diversitySelectorButton__3fd6f {
        @include boxes.clickable;
        padding: 4px;
    }
    .diversitySelectorOptions_daea2d {
        @include boxes.box($position: absolute);
        right: 16px;
    }

    // Beta tag in Super Reactions
    .betaTag__403f6 {
        top: 12px;
    }
}

// Emoji picker only panel, eg. in custom status modal
.layer__6b5c3 #emoji-picker-tab-panel {
    @include boxes.box;
    background: $grey;
    padding-top: 8px;
}

// Gif picker
#gif-picker-tab-panel {
    background: $grey;

    // Scroller
    .container__4405a {
        background: $bg;
    }

    // Favourites
    .categoryFadeBlurple_ffb0c5 {
        background: $darkblue;
        opacity: 0.7;
    }

    // Gif / Category
    .result_e1fc74 {
        background: $bg !important;
        @include boxes.clickable;

        &:hover::after {
            box-shadow: inset 0 0 0 2px $darkblue;
        }
    }
}

// Emoji / Sticker picker
:is(.bodyWrapper__5f209, .listWrapper__588b8) {
    background: $bg;

    // Super reactions ad
    // Nitro ad
    .burstNotice_ea6e72,
    .premiumUpsell_aae531 {
        margin: 0;
    }

    // No results search suggestion
    .searchSuggestion_a4ef6d {
        @include boxes.clickable;
    }

    // Emojis list
    .listItems__49027 {
        left: 0 !important;

        // Category section
        .categorySection__6f1c3 {
            margin-bottom: 0;
        }

        // Category header
        :is(.header__3028e, .packHeader__8c477) {
            @include boxes.box;
            z-index: 2;

            .header__8e271 {
                width: 100%;
                height: 100%;
            }

            .headerLabel_febbb2 {
                text-transform: none;
            }
        }

        .emojiItem_de65fd {
            @include boxes.clickable;

            &.emojiItemDisabled__843ea {
                @include boxes.box;
            }

            &.emojiItemSelected__023be {
                background: transparent;
            }
        }

        .row_b3c4f2 {
            $gap: 32px;
            column-gap: $gap !important;
            margin-left: $gap;
            margin-top: 12px;

            & > div {
                @include boxes.clickable;

                .inspectedIndicator__0c5e3 {
                    background: transparent;
                }
            }
        }
    }
}

// Emoji info
.inspector__80c84 {
    @include boxes.box;
}

// Servers list
:is(.emojiPickerHasTabWrapper__63198 .categoryList_eac4ac, .categoryList_eac4ac, .categoryList_a35b58) {
    @include boxes.box($position: absolute);
    top: 45px;

    :is(.categoryItem__4a642, .stickerCategory__12120) {
        @include boxes.clickable;
        margin-bottom: 0;
    }

    // Divider
    :is(.guildCategorySeparator__5ea84, .guildCategorySeparator__11d59) {
        border: unset;
        margin: 4px;
    }
}
