@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Inbox
.recentMentionsPopout__826a9 {
    @include boxes.box;
    max-height: calc(100vh - $window-top - 120px) !important;

    // Header
    .header__28ebb.expanded__98fe6 {
        padding: 6px;
        padding-bottom: 0;

        .inboxIcon_ce3604,
        .base__92a12 {
            color: $black;
            background: transparent !important;
        }

        .topPill__0cdf1 {
            position: relative;
            top: 17px;

            .tab_a8a066 {
                @include boxes.tab;
                margin-right: 0;

                &:first-child {
                    border-left-color: $black;
                }
            }
        }
    }

    // Messages
    :is(.scroller__1c703, .messagesPopout__22763, .container__2c498) {
        .tertiary_bc0225 {
            @include boxes.clickable;

            &:hover {
                background: $grey;
            }
        }

        .markReadButton__79c2f {
            margin-left: 0;
        }

        :is(.messageContainer_aa7d14, .messages_f7999e) {
            @include boxes.inset;
            background: $bg;

            // Jump button
            :is(.jumpButton__24ca6, .jumpButton_da1ebb) {
                @include boxes.clickable($position: absolute);
            }
        }
    }
}
