@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Inbox
.recentMentionsPopout_ddb5b4 {
    @include boxes.box;
    max-height: calc(100vh - $window-top - 120px) !important;

    // Header
    .header_f0cd33.expanded_f0cd33 {
        padding: 6px;
        padding-bottom: 0;

        .inboxIcon_f0cd33,
        .base__5ed84 {
            color: $black;
            background: transparent !important;
        }

        .topPill_a0 {
            position: relative;
            top: 17px;

            .tab_f0cd33 {
                @include boxes.tab;
                margin-right: 0;

                &:first-child {
                    border-left-color: $black;
                }
            }
        }
    }

    // Messages
    :is(.scroller_f1c3d9, .messagesPopout_ac90a2, .container_fe1358) {
        .tertiary_ad6d80 {
            @include boxes.clickable;

            &:hover {
                background: $grey;
            }
        }

        .markReadButton_d09ffd {
            margin-left: 0;
        }

        :is(.messageContainer_ddb5b4, .messages_c06487) {
            @include boxes.inset;
            background: $bg;

            // Jump button
            :is(.jumpButton_aab0bc, .jumpButton_ac3dc2) {
                @include boxes.clickable($position: absolute);
            }
        }
    }
}
