@forward "./createdm";
@forward "./dropdown";
@forward "./editor";
@forward "./emojiinfo";
@forward "./emotes";
@forward "./inbox";
@forward "./incomingcall";
@forward "./loading";
@forward "./menus";
@forward "./moretags";
@forward "./pinned";
@forward "./regionselect";
@forward "./search";
@forward "./soundboard";
@forward "./threads";
@forward "./toasts";
@forward "./userprofiles";
@forward "./vc";

@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Inner message scroller in pinned / inbox
.layerContainer_d5a653 [class^="header-"] + :is(.messagesPopout__22763, .scrollerBase_dc3aa9) {
    @include boxes.inset;
    margin: 0 6px 6px 6px;

    &::before {
        display: none;
    }
}

// Max height for pinned / inbox
.messagesPopoutWrap_b3b384 {
    max-height: calc(100vh - $window-top - 120px) !important;
}
