@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Small menus
.menu__088f7 {
    background: $grey;
    box-shadow: none;
    @include boxes.box;

    &::before {
        display: none;
    }

    .scroller__8f066 {
        padding: 0;
    }

    // Menu options
    .colorDefault_e361cf.focused_dcafb9,
    .colorDefault_e361cf:active:not(.hideInteraction__0b569) {
        background: $darkblue;
        color: $white;
    }

    // Blue options
    .colorBrand__9bb0f {
        color: $blue;
    }

    .submenuPaddingContainer__5a97c {
        padding: 0;
        margin: 0 -4px;
        background: $grey;
    }

    // Group labels
    .groupLabel_bee392 {
        text-transform: none;
    }

    // Checkbox
    .icon__0bfbf:has(:is(.checkbox__378d3, path[d^="M12 20C16.4183"]), path[d^="M18.625 3"]) {
        @include boxes.inset;
        background: $white;
        width: 12px;
        height: 12px;

        // Checkbox
        .checkbox__378d3,
        path[d^="M18.625 3"] {
            display: none;
        }

        .check__8d1bd {
            color: $black;
        }

        // Radio button
        &:has(path[d^="M12 20C16.4183"]) {
            border-radius: 50%;
        }

        path[d^="M12 20C16.4183"] {
            display: none;
        }

        // Inner circle
        .radioSelection__41d1e {
            color: $black;
        }
    }

    .colorDefault_e361cf.focused_dcafb9 .caret_ce50ce,
    .colorDefault_e361cf.focused_dcafb9 .checkbox__378d3,
    .colorDefault_e361cf.focused_dcafb9 .radioSelection__41d1e {
        color: $black;
    }

    // Slider
    .mini_d6d84c {
        .bar_e58961 {
            height: 4px;
        }

        .grabber_e3daf3 {
            height: 16px;
            width: 10px;
        }
    }

    // Quick reacts
    .button_bfb8e1 {
        @include boxes.clickable;
        padding: 0;
        margin-top: 4px;
    }
}
