@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Small menus
.menu_dc52c6 {
    background: $grey;
    box-shadow: none;
    @include boxes.box;

    &::before {
        display: none;
    }

    .scroller__750f5 {
        padding: 0;
    }

    // Menu options
    .colorDefault__0b482.focused__27621,
    .colorDefault__0b482:active:not(.hideInteraction__2790e) {
        background: $darkblue;
        color: $white;
    }

    // Blue options
    .colorBrand__471df {
        color: $blue;
    }

    .submenuPaddingContainer__12a9d {
        padding: 0;
        margin: 0 -4px;
        background: $grey;
    }

    // Group labels
    .groupLabel_e66554 {
        text-transform: none;
    }

    // Checkbox
    .icon_f09dde:has(:is(.checkbox__45366, path[d^="M12 20C16.4183"]), path[d^="M18.625 3"]) {
        @include boxes.inset;
        background: $white;
        width: 12px;
        height: 12px;

        // Checkbox
        .checkbox__45366,
        path[d^="M18.625 3"] {
            display: none;
        }

        .check__8d1bd {
            color: $black;
        }

        // Radio button
        &:has(path[d^="M12 20C16.4183"]) {
            border-radius: 50%;
        }

        path[d^="M12 20C16.4183"] {
            display: none;
        }

        // Inner circle
        .radioSelection__5ed39 {
            color: $black;
        }
    }

    .colorDefault__0b482.focused__27621 .caret_ce50ce,
    .colorDefault__0b482.focused__27621 .checkbox__45366,
    .colorDefault__0b482.focused__27621 .radioSelection__5ed39 {
        color: $black;
    }

    // Slider
    .mini_d6d84c {
        .bar_e58961 {
            height: 4px;
        }

        .grabber_d2868c {
            height: 16px;
            width: 10px;
        }
    }

    // Quick reacts
    .button__3ecb4 {
        @include boxes.clickable;
        padding: 0;
        margin-top: 4px;
    }
}
