@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Small menus
.menu_d90b3d {
    background: $grey;
    box-shadow: none;
    @include boxes.box;

    &::before {
        display: none;
    }

    .scroller_d90b3d {
        padding: 0;
    }

    // Menu options
    .colorDefault_d90b3d.focused_d90b3d,
    .colorDefault_d90b3d:active:not(.hideInteraction_d90b3d) {
        background: $darkblue;
        color: $white;
    }

    // Blue options
    .colorBrand_d90b3d {
        color: $blue;
    }

    .submenuPaddingContainer_d90b3d {
        padding: 0;
        margin: 0 -4px;
        background: $grey;
    }

    // Group labels
    .groupLabel_d90b3d {
        text-transform: none;
    }

    // Checkbox
    .icon_d90b3d:has(:is(.checkbox_d90b3d, path[d^="M12 20C16.4183"]), path[d^="M18.625 3"]) {
        @include boxes.inset;
        background: $white;
        width: 12px;
        height: 12px;

        // Checkbox
        .checkbox_d90b3d,
        path[d^="M18.625 3"] {
            display: none;
        }

        .check_d90b3d {
            color: $black;
        }

        // Radio button
        &:has(path[d^="M12 20C16.4183"]) {
            border-radius: 50%;
        }

        path[d^="M12 20C16.4183"] {
            display: none;
        }

        // Inner circle
        .radioSelection_d90b3d {
            color: $black;
        }
    }

    .colorDefault_d90b3d.focused_d90b3d .caret_d90b3d,
    .colorDefault_d90b3d.focused_d90b3d .checkbox_d90b3d,
    .colorDefault_d90b3d.focused_d90b3d .radioSelection_d90b3d {
        color: $black;
    }

    // Slider
    .mini_c7a159 {
        .bar_c7a159 {
            height: 4px;
        }

        .grabber_c7a159 {
            height: 16px;
            width: 10px;
        }
    }

    // Quick reacts
    .button_a24e84 {
        @include boxes.clickable;
        padding: 0;
        margin-top: 4px;
    }
}
