@use "../../top/vars-scss" as *;
@use "../../top/boxes" as boxes;

// Small menus
.menu-2TXYjN {
    background: $grey;
    box-shadow: none;
    @include boxes.box;

    &::before {
        display: none;
    }

    .scroller-nxCRu_ {
        padding: 0;
    }

    // Menu options
    .colorDefault-2_rLdz.focused-3LIdPu,
    .colorDefault-2_rLdz:active:not(.hideInteraction-1vQrZJ) {
        background: $darkblue;
        color: $white;
    }

    // Blue options
    .colorBrand-26tvUE {
        color: $blue;
    }

    .submenuPaddingContainer-QgnL1r {
        padding: 0;
        margin: 0 -4px;
        background: $grey;
    }

    // Group labels
    .groupLabel-KyZarI {
        text-transform: none;
    }

    // Checkbox
    .icon-3XHs8t:has(:is(.checkbox-397WsK, path[d^="M12 20C16.4183"]), path[d^="M18.625 3"]) {
        @include boxes.inset;
        background: $white;
        width: 12px;
        height: 12px;

        // Checkbox
        .checkbox-397WsK,
        path[d^="M18.625 3"] {
            display: none;
        }

        .check-3-73a4 {
            color: $black;
        }

        // Radio button
        &:has(path[d^="M12 20C16.4183"]) {
            border-radius: 50%;
        }

        path[d^="M12 20C16.4183"] {
            display: none;
        }

        // Inner circle
        .radioSelection-3PDNAQ {
            color: $black;
        }
    }

    .colorDefault-2_rLdz.focused-3LIdPu .caret-1TZU-U,
    .colorDefault-2_rLdz.focused-3LIdPu .checkbox-397WsK,
    .colorDefault-2_rLdz.focused-3LIdPu .radioSelection-3PDNAQ {
        color: $black;
    }

    // Slider
    .mini-28oMa3 {
        .bar-2H7Q9u {
            height: 4px;
        }

        .grabber-3R-Rx9 {
            height: 16px;
            width: 10px;
        }
    }

    // Quick reacts
    .button-1zW0-r {
        @include boxes.clickable;
        padding: 0;
        margin-top: 4px;
    }
}