@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// See more tags creating forum post with narrow screen
.container_ac201b {
    @include boxes.box;

    .searchWithScrollbar_eef3ef {
        @include boxes.inset;
        background: $bg;

        .input__48d49 {
            color: $text;
        }
    }

    .list_eef3ef {
        @include boxes.scroller;
        margin: 1px;
        padding: 0;

        .item_eef3ef {
            @include boxes.clickable;
            margin: 0;

            &.selected_eef3ef {
                @include boxes.inset;
            }
        }
    }
}
