@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// See more tags creating forum post with narrow screen
.container_d27846 {
    @include boxes.box;

    .searchWithScrollbar__791f8 {
        @include boxes.inset;
        background: $bg;

        .input__74754 {
            color: $text;
        }
    }

    .list__9970c {
        @include boxes.scroller;
        margin: 1px;
        padding: 0;

        .item__287de {
            @include boxes.clickable;
            margin: 0;

            &.selected__511cf {
                @include boxes.inset;
            }
        }
    }
}
