@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Pinned messages
.messagesPopoutWrap_b3b384 {
    @include boxes.box;

    .header_f5cc88 {
        padding: 6px;
        box-shadow: none;
    }

    .messageGroupWrapper_f8c6e9 {
        @include boxes.inset;
        background: $bg;

        .jumpButton__0329d {
            @include boxes.clickable;
        }
    }
}
