@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Pinned messages
.messagesPopoutWrap__10dd1 {
    @include boxes.box;

    .header__21b33 {
        padding: 6px;
        box-shadow: none;
    }

    .messageGroupWrapper__1fce2 {
        @include boxes.inset;
        background: $bg;

        .jumpButton__309d6 {
            @include boxes.clickable;
        }
    }
}
