@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

.picker__6dca7 {
    @include boxes.box;
}

// Soundboard volume
.settingsClickArea__2839d {
    @include boxes.clickable;
    margin-left: 0;
    box-sizing: border-box;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

// Category list
.categoryList__2f64f {
    @include boxes.box($position: absolute);
    top: 61px;

    .listItems__49027 {
        inset: 6px !important;
    }
}

// Category icon
.category__81549 {
    @include boxes.clickable;
    margin-bottom: 0;
    height: 36px;
    box-sizing: border-box;
}

// Sounds panel
.wrapper_c899da {
    background: $bg;
}

// Category header
.sectionHeader_d974fe {
    background: $grey;
    @include boxes.box;
    inset: -8px 0 0 -8px;
    padding: 8px;
    width: calc(100% - 8px);
    margin-bottom: 0;
}

// Button arrangement
.soundRow_a5ce1a {
    gap: 0;

    &:not(:has(+ .sectionHeader_d974fe)) {
        margin-bottom: 0;
    }
}

// Sound
.soundButton__845c7 {
    @include boxes.clickable;
}
