@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

.picker_cd703d {
    @include boxes.box;
}

// Soundboard volume
.settingsClickArea_ca5acd {
    @include boxes.clickable;
    margin-left: 0;
    box-sizing: border-box;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

// Category list
.categoryList_ceda83 {
    @include boxes.box($position: absolute);
    top: 61px;

    .listItems_dcade6 {
        inset: 6px !important;
    }
}

// Category icon
.category_ceda83 {
    @include boxes.clickable;
    margin-bottom: 0;
    height: 36px;
    box-sizing: border-box;
}

// Sounds panel
.wrapper_cdfd51 {
    background: $bg;
}

// Category header
.sectionHeader_ca5acd {
    background: $grey;
    @include boxes.box;
    inset: -8px 0 0 -8px;
    padding: 8px;
    width: calc(100% - 8px);
    margin-bottom: 0;
}

// Button arrangement
.soundRow_ca5acd {
    gap: 0;

    &:not(:has(+ .sectionHeader_ca5acd)) {
        margin-bottom: 0;
    }
}

// Sound
.soundButton_f40049 {
    @include boxes.clickable;
}
