@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Threads
.browser_fa9cea {
    @include boxes.box;

    .header__6d44a {
        .divider__622af,
        .spacer__62dcb {
            display: none;
        }

        .searchBox__9423b {
            @include boxes.inset;
            background: $bg;

            .input__48d49 {
                color: $text;
            }

            .iconLayout__67261 {
                @include boxes.clickable;
                background: $grey;
            }
        }

        .createButton_f595af {
            height: 26px;
        }

        .closeIcon_ab1a00 {
            @include boxes.clickable;
            height: 24px;
        }

        .searchBox__9423b,
        .createButton_f595af {
            margin-right: 0;
        }
    }

    .container__9922f {
        @include boxes.clickable;
    }

    .jump_d5b765 {
        @include boxes.clickable($position: absolute);
    }
}
