@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Threads
.browser_fece63 {
    @include boxes.box;

    .header__53b07 {
        .divider_dec9ac,
        .spacer_f0c2f6 {
            display: none;
        }

        .searchBox_ff53b2 {
            @include boxes.inset;
            background: $bg;

            .input__74754 {
                color: $text;
            }

            .iconLayout__6d744 {
                @include boxes.clickable;
                background: $grey;
            }
        }

        .createButton_c8864c {
            height: 26px;
        }

        .closeIcon__15ae7 {
            @include boxes.clickable;
            height: 24px;
        }

        .searchBox_ff53b2,
        .createButton_c8864c {
            margin-right: 0;
        }
    }

    .container__6604b {
        @include boxes.clickable;
    }

    .jump_d5b765 {
        @include boxes.clickable($position: absolute);
    }
}
