@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// User profiles
.userProfileOuter_c69a7b {
    @include boxes.box;

    &.userProfileOuterThemed_c69a7b {
        &.theme-dark {
            --interactive-active: #{$white};
            --header-primary: #{$grey};
            --header-secondary: #{$grey};
            --text-normal: #{$lightgrey};
        }
    }

    .userProfileInner_c69a7b {
        // Avatar
        .avatarWrapper_f89da9 {
            @include boxes.clickable($position: absolute);
        }

        // Profile badges
        .profileBadges_f89da9 {
            gap: 0;
            padding: 0;
            .anchor_af404b {
                @include boxes.clickable;
                padding: 2px;
            }
        }

        // Inner box
        .userPopoutOverlayBackground_c69a7b {
            @include boxes.box;

            // Divider
            .divider_e6f9ab {
                background-color: transparent;
            }

            // About me
            .scroller_d2b491 {
                @include boxes.inset;
            }

            code,
            .blockquoteDivider_d6076c {
                background: $darkgrey;
            }

            // Roles
            .role_f9575e {
                @include boxes.box;
                margin-right: 0;
            }

            // Note
            .note_c90ad7 {
                @include boxes.inset;
                background: $bg;

                textarea {
                    color: $text;
                }
            }

            // Activity buttons
            .vertical_bf8eca > :not(:first-child) {
                margin-top: 0;
            }
        }
    }
}
