@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// User profiles
.userProfileOuter__4ac83 {
    @include boxes.box;

    &.userProfileOuterThemed__1fbd7 {
        &.theme-dark {
            --interactive-active: #{$white};
            --header-primary: #{$grey};
            --header-secondary: #{$grey};
            --text-normal: #{$lightgrey};
        }
    }

    .userProfileInner__61cc1 {
        // Avatar
        .avatarWrapper__0cd44 {
            @include boxes.clickable($position: absolute);
        }

        // Profile badges
        .profileBadges__1f2ab {
            gap: 0;
            padding: 0;
            .anchor_c8ddc0 {
                @include boxes.clickable;
                padding: 2px;
            }
        }

        // Inner box
        .userPopoutOverlayBackground_bf6444 {
            @include boxes.box;

            // Divider
            .divider_e6f9ab {
                background-color: transparent;
            }

            // About me
            .scroller_f9a667 {
                @include boxes.inset;
            }

            code,
            .blockquoteDivider__5cbad {
                background: $darkgrey;
            }

            // Roles
            .role_d81130 {
                @include boxes.box;
                margin-right: 0;
            }

            // Note
            .note_ba0c31 {
                @include boxes.inset;
                background: $bg;

                textarea {
                    color: $text;
                }
            }

            // Activity buttons
            .vertical_f3d051 > :not(:first-child) {
                margin-top: 0;
            }
        }
    }
}
