@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// User profiles
.userProfileOuter__46bb7 {
    @include boxes.box;

    &.userProfileOuterThemed__6eb84 {
        &.theme-dark {
            --interactive-active: #{$white};
            --header-primary: #{$grey};
            --header-secondary: #{$grey};
            --text-normal: #{$lightgrey};
        }
    }

    .userProfileInner__8065b {
        // Avatar
        .avatarWrapper_f77579 {
            @include boxes.clickable($position: absolute);
        }

        // Profile badges
        .profileBadges__7a7cb {
            gap: 0;
            padding: 0;
            .anchor_c8ddc0 {
                @include boxes.clickable;
                padding: 2px;
            }
        }

        // Inner box
        .userPopoutOverlayBackground_d8afa4 {
            @include boxes.box;

            // Divider
            .divider_ed0c1d {
                background-color: transparent;
            }

            // About me
            .scroller__83262 {
                @include boxes.inset;
            }

            code,
            .blockquoteDivider__96157 {
                background: $darkgrey;
            }

            // Roles
            .role__631a3 {
                @include boxes.box;
                margin-right: 0;
            }

            // Note
            .note_ba0c31 {
                @include boxes.inset;
                background: $bg;

                textarea {
                    color: $text;
                }
            }

            // Activity buttons
            .vertical_d613c2 > :not(:first-child) {
                margin-top: 0;
            }
        }
    }
}
