@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// VC emoji picker
.container__77df0 {
    @include boxes.box;

    .categoryList_f8c48f {
        top: 52px;
    }

    .slotsContainer__9d357 {
        @include boxes.box;
        padding: 4px;
        width: auto;

        .slotsWide__07b92 {
            gap: 8px;
        }

        .slot_c61209 {
            @include boxes.clickable;
            padding: 4px;
        }

        // Do not popout with hover
        .contents_fb6220 > div {
            transform: none !important;
        }
    }
}

// VC activity picker
.container_c344de {
    @include boxes.box;

    // Activity
    .activityItem_13_11__97830 {
        @include boxes.clickable;
        transform: none !important;
    }

    // No animation
    .wumpusRocketOuterContainer__2f463 {
        display: none;
    }
}
