@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// VC emoji picker
.container_bdea70 {
    @include boxes.box;

    .categoryList_c6ee36 {
        top: 52px;
    }

    .slotsContainer_bdea70 {
        @include boxes.box;
        padding: 4px;
        width: auto;

        .slotsWide_bdea70 {
            gap: 8px;
        }

        .slot_bdea70 {
            @include boxes.clickable;
            padding: 4px;
        }

        // Do not popout with hover
        .contents_dd4f85 > div {
            transform: none !important;
        }
    }
}

// VC activity picker
.container_b572de {
    @include boxes.box;

    // Activity
    .activityItem_13_11_ec77c5 {
        @include boxes.clickable;
        transform: none !important;
    }

    // No animation
    .wumpusRocketOuterContainer_b572de {
        display: none;
    }
}
