@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// VC emoji picker
.container_ad6d5c {
    @include boxes.box;

    .categoryList_eac4ac {
        top: 52px;
    }

    .slotsContainer_fdf76f {
        @include boxes.box;
        padding: 4px;
        width: auto;

        .slotsWide__03094 {
            gap: 8px;
        }

        .slot__741e2 {
            @include boxes.clickable;
            padding: 4px;
        }

        // Do not popout with hover
        .contents__322f4 > div {
            transform: none !important;
        }
    }
}

// VC activity picker
.container__79284 {
    @include boxes.box;

    // Activity
    .activityItem_13_11__1464b {
        @include boxes.clickable;
        transform: none !important;
    }

    // No animation
    .wumpusRocketOuterContainer_aa48ff {
        display: none;
    }
}
