@use "../top/vars" as *;
@use "../top/boxes" as boxes;

.baseLayer__2b890.stop-animations {
    opacity: 1 !important;
    transform: scale(1) !important;

    .container_d1f8f5 {
        filter: grayscale(0.8) brightness(0.5);
        backdrop-filter: brightness(1);
    }
}

.layers__1c917 > .layer_f7d46a .animating_b7d085 {
    transform: none !important;
}

.layer_f7d46a {
    background: transparent;
}

.pictureInPictureWindow__9f0e6 {
    overflow: visible;
    border-radius: 0;

    &::before {
        left: -2px;
    }
}
