@use "../top/vars" as *;
@use "../top/boxes" as boxes;

.baseLayer__8fda3.stop-animations {
    opacity: 1 !important;
    transform: scale(1) !important;

    .container__037ed {
        filter: grayscale(0.8) brightness(0.5);
        backdrop-filter: brightness(1);
    }
}

.layers__1c917 > .layer__2efaa .animating__27211 {
    transform: none !important;
}

.layer__2efaa {
    background: transparent;
}

.pictureInPictureWindow_dc49a8 {
    overflow: visible;
    border-radius: 0;

    &::before {
        left: -2px;
    }
}
