@use "modals/activities";
@use "modals/avatardecoration";
@use "modals/carousel";
@use "modals/changeavatar";
@use "modals/editaccount";
@use "modals/feedback";
@use "modals/notifsettings";
@use "modals/quickswitcher";
@use "modals/report";
@use "modals/screenshare";
@use "modals/sendinvite";
@use "modals/userprofile";
@use "modals/videotest";
@use "modals/welcome";
@use "modals/whatsnew";

@use "../top/vars-scss" as *;
@use "../top/boxes" as boxes;

.root-1CAIjD:not(.carouselModal-1eUFoq) {
    @include boxes.box;

    // Header and footer
    .modalHeader-3X0A4K,
    .footer-IubaaS {
        @include boxes.box;
    }
}

.artContainer-1yaXct {
    display: none;
}

.content-1OG56Q {
    @include boxes.scroller;
    padding-top: 18px;
    margin-bottom: 0;
}

// Changelog
.layerContainer-2lfOPe {

    .content-FDHp32 {
        :is(ol, p, ul li) {
            color: $black;
        }

        ul li::before {
            background: $black;
            opacity: 1;
        }

        a {
            color: var(--text-link);
        }
    }

    .improved-2SJXHz {
        color: $darkblue;

        &::after {
            background: $darkblue;
        }
    }

    .fixed-cTX7Hp {
        color: $red;

        &::after {
            background: $red;
        }
    }
}