@use "../top/vars-scss" as *;
@use "../top/boxes" as boxes;

.menu-2TXYjN {
    background: $grey;
    box-shadow: none;
    @include boxes.box;

    &::before {
        display: none;
    }

    .scroller-nxCRu_ {
        padding: 0;
    }

    // Menu options
    .colorDefault-2_rLdz.focused-3LIdPu,
    .colorDefault-2_rLdz:active:not(.hideInteraction-1vQrZJ) {
        background: $darkblue;
        color: $white;
    }

    // Blue options
    .colorBrand-26tvUE {
        color: $blue;
    }

    .submenuPaddingContainer-QgnL1r {
        padding: 0;
        margin: 0 -4px;
        background: $grey;
    }

    // Checkbox
    .icon-3XHs8t:has(:is(.checkbox-397WsK, path[d^="M12 20C16.4183"])) {
        @include boxes.box($isInset: true);
        background: $white;
        width: 12px;
        height: 12px;

        // Checkbox
        .checkbox-397WsK,
        path[d^="M18.625 3"] {
            display: none;
        }

        .check-3-73a4 {
            color: $black;
        }

        // Radio button
        &:has(path[d^="M12 20C16.4183"]) {
            border-radius: 50%;
        }

        path[d^="M12 20C16.4183"] {
            display: none;
        }

        // Inner circle
        .radioSelection-3PDNAQ {
            color: $black;
        }
    }

    .colorDefault-2_rLdz.focused-3LIdPu .caret-1TZU-U,
    .colorDefault-2_rLdz.focused-3LIdPu .checkbox-397WsK,
    .colorDefault-2_rLdz.focused-3LIdPu .radioSelection-3PDNAQ,
    .colorDefault-2_rLdz.focused-3LIdPu .subtext-1mqKVB {
        color: $black;
    }

    // Slider bar
    .mini-28oMa3 .bar-2H7Q9u {
        @include boxes.box($isInset: true);
        background: $grey;
        height: 4px;

        .barFill-3RgCsY {
            background: transparent;
        }
    }

    // Handle
    .grabber-3R-Rx9 {
        @include boxes.box;
        background: $grey;

        &::before {
            background: $grey;
        }

        height: 16px;
        width: 10px;
    }
}

// Inner message scroller in pinned / inbox
.layerContainer-2lfOPe [class^="header-"]+ :is(.messagesPopout-eVzQcI, .scrollerBase-1Pkza4) {
    @include boxes.box;
    margin: 0 6px 6px 6px;

    &::before {
        display: none;
    }
}

// Inbox
.recentMentionsPopout-2bI1ZN {
    @include boxes.box;
    max-height: calc(100vh - $window-top - 120px) !important;

    // Header
    .header-145e10.expanded-2H1xJ- {
        padding-bottom: 0;

        .inboxIcon-1XO7FO,
        .base-3IDx3L {
            color: $black;
            background: transparent !important;
        }

        .friendRequestsButton-77veU7,
        .secondary-2bzKEX {

            &,
            &:hover {
                color: $black;
            }
        }

        .topPill-2vcLsa {
            position: relative;
            top: 17px;

            .tab-TRrPC8 {
                @include boxes.box;
                margin-right: 0;
                border-bottom-color: transparent;
                border-radius: 4px 4px 0 0;

                &::before {
                    border-bottom: 0;
                }

                &:hover,
                &:active {
                    background: $grey;
                    color: $black;
                }

                &.selected-1sf9UK {
                    background: $grey;
                    color: $black;
                    z-index: 1;
                }
            }
        }
    }

    // Messages
    :is(.scroller-145h9c, .messagesPopout-eVzQcI, .container-1A0qQO) {

        .tertiary-1e-lAP {
            @include boxes.clickable;

            &:hover {
                background: $grey;
                color: $black;
            }
        }

        .markReadButton-28SmPf {
            margin-left: 0;
        }

        :is(.messageContainer-3VTXBC, .messages-23can0) {
            @include boxes.box($isInset: true);
            background: $white;

            // Jump button
            :is(.jumpButton-1ITAeq, .jumpButton-1V_1FA) {
                @include boxes.clickable;
                position: absolute;

                &:active {
                    position: absolute;
                }

                & .text-2ifC_x,
                &:hover .text-2ifC_x {
                    color: $black;
                }
            }
        }
    }
}

// Pinned messages
.messagesPopoutWrap-3zryHW {
    @include boxes.box;

    .header-1w9Q93 {
        padding: 6px;
        box-shadow: none;
    }

    .messageGroupWrapper-1jf_7C {
        @include boxes.box($isInset: true);
        background: $white;

        .jumpButton-1ZwI_j {
            @include boxes.clickable;

            &:hover {
                color: $black;
            }
        }
    }
}

// Threads
.browser-mnQ1T7 {
    @include boxes.box;

    .header-3_zmOb {

        .divider-2xk5N2,
        .spacer-180E7A {
            display: none;
        }

        .searchBox-3IjAC1 {
            @include boxes.box($isInset: true);

            .iconLayout-3Bjizv {
                @include boxes.clickable;

                &:hover .clear-3102V9 {
                    color: $black;
                }
            }
        }

        .createButton-oruGBs {
            height: 26px;
        }

        .closeIcon-11tHJX {
            @include boxes.clickable;
            height: 24px;

            &:hover {
                color: $black;
            }
        }

        .searchBox-3IjAC1,
        .createButton-oruGBs {
            margin-right: 0;
        }
    }

    .sectionHeader-QsOv68 {
        color: $black !important;
    }

    .container-2rzKKA {
        @include boxes.clickable;

        .threadName-2k9mLl {
            color: $black;
        }
    }
}