@use "popovers/createdm";
@use "popovers/dropdown";
@use "popovers/editor";
@use "popovers/emojiinfo";
@use "popovers/emotes";
@use "popovers/inbox";
@use "popovers/incomingcall";
@use "popovers/loading";
@use "popovers/menus";
@use "popovers/moretags";
@use "popovers/pinned";
@use "popovers/regionselect";
@use "popovers/search";
@use "popovers/threads";
@use "popovers/toasts";
@use "popovers/userprofiles";
@use "popovers/vc";

@use "../top/vars-scss" as *;
@use "../top/boxes" as boxes;

// Inner message scroller in pinned / inbox
.layerContainer-2lfOPe [class^="header-"] + :is(.messagesPopout-eVzQcI, .scrollerBase-1Pkza4) {
    @include boxes.inset;
    margin: 0 6px 6px 6px;

    &::before {
        display: none;
    }
}

// Max height for pinned / inbox
.messagesPopoutWrap-3zryHW {
    max-height: calc(100vh - $window-top - 120px) !important;
}
