@use "settings/myaccount";
@use "settings/profiles";
@use "settings/privacyandsafety";
@use "settings/authorisedapps";
@use "settings/devices";
@use "settings/connections";

@use "settings/nitro";
@use "settings/serverboost";
@use "settings/subscriptions";
@use "settings/giftinventory";
@use "settings/billing";

@use "settings/appearance";
@use "settings/voiceandvideo";
@use "settings/keybinds";

@use "settings/registeredgames";
@use "settings/gameoverlay";

@use "../top/vars-scss" as *;
@use "../top/boxes" as boxes;
@use "../top/shortcutIcon" as ico;

// User settings menu
.standardSidebarView-E9Pc3j {
    padding-top: $title-height;
    margin-bottom: $window-bottom + 46px;

    .sidebarRegion-1VBisG {
        flex-grow: 0;

        .sidebar-nqHbhN {
            padding: 0;
        }

        .separator-2N511j {
            display: none;
        }

        .header-2F5_LB {
            margin-top: 12px;
        }
    }

    .contentRegionShownSidebar-fHXkEg {
        justify-content: center;

        .contentColumnDefault-3eyv5o,
        .contentColumnWide-2CgNjO {
            padding: 10px;
            @include boxes.box;
        }

        // Close settings button
        .toolsContainer-25FL6V {
            padding-top: 20px;
            margin-right: 0;
            position: absolute;
            left: -300px;
            z-index: 1;

            .container-O54IuJ {

                .closeButton-PCZcma {
                    @include boxes.clickable;
                    background: $grey;
                    margin-bottom: 8px;

                    &:hover {
                        color: $black;
                    }
                }

                &::after {
                    content: "Close";
                    color: $white;
                }

                .keybind-13vtq8 {
                    display: none;
                }
            }
        }
    }
}

// Settings menu specific stuff

.divider-3nqZNm {
    display: none;
}

.h5-2feg8J,
.label-7akf7-,
.legend-3BgtI3 {
    color: #{$black};
}

// Toggles
.control-10qYax {
    @include boxes.box;

    .container-1QtPKm {
        background: $darkgrey !important;

        .slider-HJFN2i {
            rect {
                fill: $lightgrey;
            }
            svg path {
                fill: $darkgrey;
            }
        }

        &.checked-16gMAN {
            background: $green !important;

            .slider-HJFN2i {
                svg path {
                    fill: $green;
                }
            }
        }
    }
}

// Notices
.formNotice-1JW4h2 {
    @include boxes.box;
}

// Sliders
.slider-1mmyV6 {
    // Slider bar
    .bar-2H7Q9u {
        @include boxes.box($isInset: true);
        background: $grey;
        height: 8px;

        .barFill-3RgCsY {
            background: transparent;
        }
    }

    // Slider handle
    .grabber-3R-Rx9 {
        @include boxes.box;
        background: $grey;
        height: 20px;
        width: 10px;
        z-index: 1;

        &::before {
            background: $grey;
        }
    }

    // Slider marks
    .mark-3BqK0R {
        &:not(.defaultValue-1-QxQ0) .markValue-21gAVC {
            color: $black;
        }

        .markDash-1ATsxA {
            background: $black;
            height: 6px;
            width: 1px;
            margin-top: 20px;
        }
    }
}

// Checkbox
.checkboxWrapper-3zdYym {
    .inputDefault-2DXavk {
        width: 20px !important;
        height: 20px !important;
    }

    .checkbox-1LuCGM {
        width: 20px !important;
        height: 20px !important;
        border: 2px solid $black !important;
        background: transparent !important;

        path {
            d: path("M 3 3 V 21 H 21 V 3 Z");
        }

        &.checked-22NTbO path {
            fill: $black;
        }
    }
}

// Dropdown selectors
.lookFilled-GPyucw.select-Zz0IcO {
    @include boxes.box($isInset: true);
    padding: 0;

    .value-2en4z7 {
        padding-left: 8px;
    }

    .icons-2ibyma {
        background: $grey;
        @include boxes.box;
    }
}
