@use "../top/vars" as *;
@use "../top/boxes" as boxes;

// Tabs
.tabBar_d4764b {
    margin: 0 16px;
    border-bottom: 0;

    .tabBarItem__60c37 {
        padding-bottom: 8px;
    }
}

// Customise
.appMount_c99875 .scrollerContainer_dda72c {
    background: $bg;
    @include boxes.inset;
}

.pageBody__12fb4 h2 {
    color: $text !important;
}

.prompt__1b100 {
    background: $bg;
    border-color: unset !important;
    padding: 0;
}

.promptOptions__9b66e {
    gap: 0;
}

.optionButtonWrapper_c86844 {
    background: $grey;
    @include boxes.clickable;

    &:hover {
        border-color: $white $black $black $white;
    }

    &:active {
        border-color: $black $white $white $black;
    }

    &.pressed_e85da9 {
        transform: none;
    }

    &.selected__31118 {
        @include boxes.inset;

        .checkIcon__3c055 {
            top: 4px;
            right: 4px;
        }
    }
}

.helpText__80c19 {
    .text-xs-medium__220aa {
        color: $text !important;
    }
}

// Browse channels
.pageBody_c0e5dd {
    padding-left: 0;
}

.browser__428d5 {
    background: $bg;
    @include boxes.scroller;
}

.selectAll_fe1469 .checkboxWrapper_a2bcc8 .checkbox_fcf2ad {
    border-color: var(--text-muted) !important;

    &.checked__16f88 path {
        fill: var(--text-muted);
    }
}
