@use "../top/vars" as *;
@use "../top/boxes" as boxes;
@use "../top/channellist-css" as channels;
@use "../top/msgPill" as msg;

// Channels sidebar
.sidebar_a4d4d9 {
    @include channels.vars;
    @include boxes.box($position: absolute);
    bottom: 0;
    max-height: 60vh;

    &::after {
        content: var(--w9x-start-text, "Windows95");
        display: block;
        position: absolute;
        width: 28px;
        height: 100%;
        $textPad: 10px;
        top: -$textPad;
        padding-top: $textPad;
        background: $darkgrey;
        font-size: 1.6rem;
        font-family: "Franklin Gothic Bold", "Arial Narrow", Arial, sans-serif;
        font-weight: 900;
        color: var(--background-secondary);
        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }

    // Server channels
    .container_ee69e0,
    // DMs
    .privateChannels_f0963d {
        padding-left: 28px;
    }
}

// Header
:not(.bannerVisible_fd6364) > .header_fd6364 {
    @include boxes.clickable;
    box-shadow: none;
}

.clickable_fd6364 .header_fd6364:hover,
.selected_fd6364 .header_fd6364 {
    background: unset;
}

// Find or start a conversation
.searchBar_f0963d .searchBarComponent_f0963d {
    @include boxes.clickable;
    color: $black;
}

// Unread DM message
.highlighted_f9647d {
    @include msg.unreadPill($size: 8px);
    color: $black;

    :is(.interactive_f5eb4b:focus-within, .interactive_f5eb4b:hover) & {
        color: $white;
    }
}

// Public server indicator
.communityInfoPill_fd6364 {
    @include boxes.box;
    z-index: 1;
}

// Boost goal
.container_c75f85 {
    margin: 2px;

    .goalText_c75f85 {
        color: var(--channels-default) !important;
    }

    .progressBarContainer_c75f85 {
        @include boxes.inset;
    }

    .divider__0c76f {
        display: none;
    }
}

.sectionDivider_c43953 {
    display: none;
}

// Channel group
.wrapper_a08117:is(.muted_a08117:hover, :hover) :is(.icon_a08117, .name_a08117),
.privateChannelsHeaderContainer_c47fa9:hover :is(.headerText_c47fa9, .privateChannelRecipientsInviteButtonIcon_c47fa9) {
    color: var(--channels-default);
}

// Add channel button
.addButton_a08117 {
    width: 20px;
    height: 20px;

    .addButtonIcon_a08117:hover {
        color: var(--channels-default);
    }
}

// Channel
.container_b15955,
.wrapper_d8bfb3 {
    margin-left: 0;
}

// Channel actions
.children_d8bfb3 {
    margin-top: 2px;
}
.iconItem_f6f816 {
    margin-left: 0;

    .actionIcon_f6f816 {
        @include boxes.clickable;
        background: var(--background-secondary);
    }

    &:hover .actionIcon_f6f816 {
        color: var(--channels-default);
    }

    &.openChatIconItem-2kj5qO {
        padding-right: 0;
    }
}

// Show all VC button
.voiceChannelsButton_a08117 {
    @include boxes.clickable;
    color: var(--channels-default);
}

// Unread bubble
.unreadImportant_d8bfb3 {
    background: var(--channels-default);
    z-index: 1;
    left: 0;
}

// Channels: black on none bg
:is(
        .modeConnected_d8bfb3,
        .modeUnreadImportant_d8bfb3:not(:hover),
        .notInteractive_d8bfb3.modeConnected_d8bfb3,
        .notInteractive_d8bfb3.modeSelected_d8bfb3
    ) {
    .name_d8bfb3 {
        color: var(--channels-default);
    }
}

// Muted channels: grey on none bg
.modeMuted_d8bfb3 .icon_d8bfb3,
.modeMuted_d8bfb3 .name_d8bfb3 {
    color: $darkgrey;
}

// Hovered and selected channels: white on navy bg
:is(.modeMuted_d8bfb3:hover, .wrapper_d8bfb3:hover, .modeConnected_d8bfb3:hover, .modeSelected_d8bfb3, .modeSelected_d8bfb3:hover) {
    :is(.icon_d8bfb3, .name_d8bfb3) {
        color: var(--interactive-hover);
    }

    .unreadImportant_d8bfb3 {
        background: var(--interactive-hover);
    }
}

// Voice user
.voiceUser_cdc675:is(:hover, :active) {
    :is(.username_cdc675, .icon_cdc675) {
        color: var(--interactive-hover);
    }
}

.usernameSpeaking_cdc675 {
    color: var(--channels-default);
}

// Drag voice user
.containerUserOver_f6f816::after {
    background: $darkblue;
    opacity: 0.3;
    border-color: $darkblue;
    left: 0;
}

// Drag channel before
// Drag channel after
.containerDragBefore_f6f816::before,
.containerDragAfter_f6f816::after {
    background: $darkblue;
    left: 0;
}
