@use "../top/vars" as *;
@use "../top/boxes" as boxes;

// Tabs
.tabBar_f1fd9c {
    margin: 0 16px;
    border-bottom: 0;

    .tabBarItem_f1fd9c {
        padding-bottom: 8px;
    }
}

// Customise
.appMount_ea7e65 .scrollerContainer_c6b11b {
    background: $bg;
    @include boxes.inset;
}

.pageBody_c6b11b h2 {
    color: $text !important;
}

.prompt_c6b11b {
    background: $bg;
    border-color: unset !important;
    padding: 0;
}

.promptOptions_c6b11b {
    gap: 0;
}

.optionButtonWrapper_bd5e1f {
    background: $grey;
    @include boxes.clickable;

    &:hover {
        border-color: $white $black $black $white;
    }

    &:active {
        border-color: $black $white $white $black;
    }

    &.pressed_bd5e1f {
        transform: none;
    }

    &.selected_bd5e1f {
        @include boxes.inset;

        .checkIcon_bd5e1f {
            top: 4px;
            right: 4px;
        }
    }
}

.helpText_c6b11b {
    .text-xs-medium__220aa {
        color: $text !important;
    }
}

// Browse channels
.pageBody_c2efea {
    padding-left: 0;
}

.browser_c2efea {
    background: $bg;
    @include boxes.scroller;
}

.selectAll_f04d06 .checkboxWrapper_f6cde8 .checkbox_f6cde8 {
    border-color: var(--text-muted) !important;

    &.checked_f6cde8 path {
        fill: var(--text-muted);
    }
}
