@use "../top/vars" as *;
@use "../top/boxes" as boxes;

// Chat box
.channelTextArea_c2094b {
    @include boxes.inset;

    // Buttons
    .buttonContainer_ff1010,
    .attachButton__56f98,
    .buttonContainer__14dd9 {
        @include boxes.clickable;
        background: $grey;
    }
    .webkit__8d35a .buttons__7ecff {
        margin-right: 0;
    }

    .separator__666aa {
        margin-left: unset;

        &::before {
            display: none;
        }

        .innerButton__9efb8 {
            margin: 6px;
        }

        .button_dd99ad:focus-within .activeButtonChild__58171,
        .button_dd99ad:focus .activeButtonChild__58171,
        .button_dd99ad:hover .activeButtonChild__58171,
        .button_dd99ad .activeButtonChild__58171 {
            color: var(--text-brand);
        }
    }

    // Attachment area divider
    .divider__855e3 {
        display: none;
    }

    // Attachments
    .channelAttachmentArea__5e46a {
        padding: 4px;
        margin: 0;
        gap: 4px;

        .upload_c98ecb {
            padding: 0;
        }

        // Attachment preview
        .uploadContainer__72a65 {
            @include boxes.box;
            flex-direction: column-reverse;
        }

        // Attachment controls
        .actionBar_a15295 {
            transform: none;
            right: 4px;
            top: 4px;

            .wrapper__4e6b6 {
                height: 17px;
            }

            .button_d4bf9b {
                @include boxes.clickable;
                height: 16px;
                width: 16px;
                padding: 0;
                min-width: unset;
            }
        }

        // Filename
        .filenameContainer__3b490 {
            @include boxes.winBar($text: "");
            margin-top: 0;

            .filename__1769f {
                margin-top: 0;
                color: $grey;
            }
        }

        // Attachment image
        .mediaContainer_e3d4b8 {
            margin: auto 0;
        }

        .icon__33bb5.code_b9f306 {
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAx0lEQVRYR+1XWxaEIAiVnbkzdWe6MicK54xHezDxkYk/ESGP6yUPYNqVSQXLU1JGf82qlN777JwzIYTVUFpe/KPbKub3pQQHAJPzVriUjAVh8BijsdZWSTwvgd453dWllNbKLyFwN1hv/3gJIPl6q5Cz205E3t+9xX4OBI64Mx4C0p0wHgL/dIFyQBSBvSPgkvN9PyJFQBGYBwFupWf27MtI7wJF4IxU3O+XSIhOcT6k2Y0b49B+bypqJlXyUkZy0STIWTNwfABE/48wR04ubgAAAABJRU5ErkJggg==")
                center no-repeat;
        }
    }

    // Typing area
    .slateTextArea_b19976 {
        padding-left: 10px;
    }

    // Autocomplete
    .autocomplete__743a5 {
        @include boxes.box($position: absolute);
        bottom: calc(100% + 17px);
        left: -1px;
        right: -1px;
        box-shadow: none;
        background: $grey;

        &,
        &::before {
            border-bottom-color: $grey;
        }

        .scroller__3fc84 {
            padding-bottom: 1px;
        }

        // Entry
        .autocompleteRow__2a1b9 .base__87e58 {
            @include boxes.clickable;
        }

        .autocompleteRow__2a1b9[aria-selected="true"] .base__87e58 {
            @include boxes.inset;
        }

        // Divider
        .divider__20bfc {
            display: none;
        }

        // Members matching title
        .contentTitle_b6c2bb strong {
            color: $black;
        }

        // Bot list
        .rail_ad1aea {
            @include boxes.box;
            margin-bottom: 0;
            width: 48px;

            &::before {
                border-bottom: 0;
            }

            .listItems__49027 {
                inset: 7px !important;
            }

            .section__4da0b {
                margin-bottom: 0;
            }

            .selectable_b68b2e,
            .selectable__8161d {
                @include boxes.clickable;
            }

            .builtInSeparator__3f669 {
                display: none;
            }
        }

        // Bot command group
        .categoryHeader__70c8e {
            background: $grey;
            z-index: 2;
            border-bottom: 1px solid $darkgrey;
        }

        // Command required args
        .option__2b069 {
            @include boxes.thin;
            background: $grey;
        }

        // Command optional args
        .optionals__2aaef {
            @include boxes.thin;
            padding: 0 4px;
            .optionalCount__2e126 {
                padding: 0;
            }
        }
    }
}

// Under chat box
.base__06abc {
    // Slowmode
    .cooldownWrapper__193b2 {
        color: $black !important;
    }
}
