@use "../top/vars-scss" as *;
@use "../top/boxes" as boxes;

// Chat box
.channelTextArea-1FufC0 {
    @include boxes.inset;

    // Buttons
    .buttonContainer-2lnNiN,
    .attachButton-_ACFSu,
    .buttonContainer-6W2Ep3 {
        @include boxes.clickable;
        background: $grey;
    }
    .webkit-QgSAqd .buttons-uaqb-5 {
        margin-right: 0;
    }

    .separator-3ng7S5 {
        margin-left: unset;

        &::before {
            display: none;
        }

        .innerButton-1aF_E_ {
            margin: 6px;
        }

        .button-y6hemj:focus-within .activeButtonChild-2hgLAO,
        .button-y6hemj:focus .activeButtonChild-2hgLAO,
        .button-y6hemj:hover .activeButtonChild-2hgLAO, 
        .button-y6hemj .activeButtonChild-2hgLAO {
            color: var(--text-brand);
        }
    }

    // Attachment area divider
    .divider-2rZFJK {
        display: none;
    }

    // Attachments
    .channelAttachmentArea-HwpkuQ {
        padding: 4px;
        margin: 0;
        gap: 4px;

        .upload-vLbqu- {
            padding: 0;
        }

        // Attachment preview
        .uploadContainer-TCg-Ji {
            @include boxes.box;
            flex-direction: column-reverse;
        }

        // Attachment controls
        .actionBar-1ozugS {
            transform: none;
            right: 4px;
            top: 4px;

            .wrapper-2vIMkT {
                height: 17px;
            }

            .button-3bklZh {
                @include boxes.clickable;
                height: 16px;
                width: 16px;
                padding: 0;
                min-width: unset;
            }
        }

        // Filename
        .filenameContainer-2qwz8w {
            @include boxes.winBar($text: "");
            margin-top: 0;

            .filename-jyRDv_ {
                margin-top: 0;
                color: $grey;
            }
        }

        // Attachment image
        .imageContainer-ZRSemj {
            margin: auto 0;
        }

        .icon-2bPCaV.code-1hTP09 {
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAx0lEQVRYR+1XWxaEIAiVnbkzdWe6MicK54xHezDxkYk/ESGP6yUPYNqVSQXLU1JGf82qlN777JwzIYTVUFpe/KPbKub3pQQHAJPzVriUjAVh8BijsdZWSTwvgd453dWllNbKLyFwN1hv/3gJIPl6q5Cz205E3t+9xX4OBI64Mx4C0p0wHgL/dIFyQBSBvSPgkvN9PyJFQBGYBwFupWf27MtI7wJF4IxU3O+XSIhOcT6k2Y0b49B+bypqJlXyUkZy0STIWTNwfABE/48wR04ubgAAAABJRU5ErkJggg==")
                center no-repeat;
        }
    }

    // Typing area
    .slateTextArea-27tjG0 {
        padding-left: 10px;
    }

    // Autocomplete
    .autocomplete-3NRXG8 {
        @include boxes.box($position: absolute);
        bottom: calc(100% + 17px);
        left: -1px;
        right: -1px;
        box-shadow: none;
        background: $grey;

        &,
        &::before {
            border-bottom-color: $grey;
        }

        .scroller-18M1mG {
            padding-bottom: 1px;
        }

        // Entry
        .autocompleteRow-14iwvH .base-2v-uc0 {
            @include boxes.clickable;
        }

        .autocompleteRow-14iwvH[aria-selected="true"] .base-2v-uc0 {
            @include boxes.inset;
        }

        // Divider
        .divider-1bJsnZ {
            display: none;
        }

        // Members matching title
        .contentTitle-3CylD3 strong {
            color: $black;
        }

        // Bot list
        .rail-1BiMhk {
            @include boxes.box;
            margin-bottom: 0;
            width: 48px;

            &::before {
                border-bottom: 0;
            }

            .listItems-6eZzQ1 {
                inset: 7px !important;
            }

            .section-Dep3No {
                margin-bottom: 0;
            }

            .selectable-LZ5XDU,
            .selectable-fgiA2c {
                @include boxes.clickable;
            }

            .builtInSeparator-2rCueY {
                display: none;
            }
        }

        // Bot command group
        .categoryHeader-OpJ1Ly {
            background: $grey;
            z-index: 2;
            border-bottom: 1px solid $darkgrey;
        }

        // Command required args
        .option-Tt7anD {
            @include boxes.thin;
            background: $grey;
        }

        // Command optional args
        .optionals-2w-NPQ {
            @include boxes.thin;
            padding: 0 4px;
            .optionalCount-1BzEgg {
                padding: 0;
            }
        }
    }
}
