@use "../top/vars" as *;
@use "../top/boxes" as boxes;
@use "../top/channellist-css" as channels;
@use "../top/msgPill" as msg;

// Channels sidebar
.sidebar_ded4b5 {
    @include channels.vars;
    @include boxes.box($position: absolute);
    bottom: 0;
    max-height: 60vh;

    &::after {
        content: var(--w9x-start-text, "Windows95");
        display: block;
        position: absolute;
        width: 28px;
        height: 100%;
        $textPad: 10px;
        top: -$textPad;
        padding-top: $textPad;
        background: $darkgrey;
        font-size: 1.6rem;
        font-family: "Franklin Gothic Bold", "Arial Narrow", Arial, sans-serif;
        font-weight: 900;
        color: var(--background-secondary);
        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }

    // Server channels
    .container__590e2,
    // DMs
    .privateChannels__93473 {
        padding-left: 28px;
    }
}

// Header
:not(.bannerVisible__191f6) > .header__104ca {
    @include boxes.clickable;
    box-shadow: none;
}

.clickable__2d589 .header__104ca:hover,
.selected__0b1ad .header__104ca {
    background: unset;
}

// Find or start a conversation
.searchBar_e4ea2a .searchBarComponent__22760 {
    @include boxes.clickable;
    color: $black;
}

// Unread DM message
.highlighted__7bba7 {
    @include msg.unreadPill($size: 8px);
    color: $black;

    :is(.interactive__776ee:focus-within, .interactive__776ee:hover) & {
        color: $white;
    }
}

// Public server indicator
.communityInfoPill_d3f445 {
    @include boxes.box;
    z-index: 1;
}

// Boost goal
.container__4f639 {
    margin: 2px;

    .goalText__3bdd2 {
        color: var(--channels-default) !important;
    }

    .progressBarContainer__9b571 {
        @include boxes.inset;
    }

    .divider__40683 {
        display: none;
    }
}

.sectionDivider__68d2a {
    display: none;
}

// Channel group
.wrapper__9c483:is(.muted_de6e6e:hover, :hover) :is(.icon_ef4486, .name__590d6),
.privateChannelsHeaderContainer_ddcec6:hover :is(.headerText__051c0, .privateChannelRecipientsInviteButtonIcon__1e8fc) {
    color: var(--channels-default);
}

// Add channel button
.addButton__8b4f0 {
    width: 20px;
    height: 20px;

    .addButtonIcon_b776b3:hover {
        color: var(--channels-default);
    }
}

// Channel
.container-32HW5s,
.wrapper__7bcde {
    margin-left: 0;
}

// Channel actions
.children_a486f8 {
    margin-top: 2px;
}
.iconItem__8e3b8 {
    margin-left: 0;

    .actionIcon_d679b5 {
        @include boxes.clickable;
        background: var(--background-secondary);
    }

    &:hover .actionIcon_d679b5 {
        color: var(--channels-default);
    }

    &.openChatIconItem-2kj5qO {
        padding-right: 0;
    }
}

// Show all VC button
.voiceChannelsButton__46c37 {
    @include boxes.clickable;
    color: var(--channels-default);
}

// Unread bubble
.unreadRelevant__44f9e {
    background: var(--channels-default);
    z-index: 1;
    left: 0;
}

// Channels: black on none bg
:is(
        .modeConnected__1c02e,
        .modeUnread_f74c03:not(:hover),
        .notInteractive_a7d9fb.modeConnected__1c02e,
        .notInteractive_a7d9fb.modeSelected__487d6
    ) {
    .name__8d1ec {
        color: var(--channels-default);
    }
}

// Muted channels: grey on none bg
.modeMuted__0aeea .icon_eff5d4,
.modeMuted__0aeea .name__8d1ec {
    color: $darkgrey;
}

// Hovered and selected channels: white on navy bg
:is(.modeMuted__0aeea:hover, .wrapper__7bcde:hover, .modeConnected__1c02e:hover, .modeSelected__487d6, .modeSelected__487d6:hover) {
    :is(.icon_eff5d4, .name__8d1ec) {
        color: var(--interactive-hover);
    }

    .unreadRelevant__44f9e {
        background: var(--interactive-hover);
    }
}

// Voice user
.voiceUser__0470a:is(:hover, :active) {
    :is(.username__73ce9, .icon__1d60c) {
        color: var(--interactive-hover);
    }
}

.usernameSpeaking__78095 {
    color: var(--channels-default);
}

// Drag voice user
.containerUserOver__8b873::after {
    background: $darkblue;
    opacity: 0.3;
    border-color: $darkblue;
    left: 0;
}

// Drag channel before
// Drag channel after
.containerDragBefore_fe91aa::before,
.containerDragAfter__437c5::after {
    background: $darkblue;
    left: 0;
}
