@use "../top/vars" as *;
@use "../top/boxes" as boxes;

// Chat box
.channelTextArea__2e60f {
    @include boxes.inset;

    // Buttons
    .buttonContainer__8b164,
    .attachButton_b1db83,
    .buttonContainer__9b459 {
        @include boxes.clickable;
        background: $grey;
    }
    .webkit__8d35a .buttons_ce5b56 {
        margin-right: 0;
    }

    .separator__8424b {
        margin-left: unset;

        &::before {
            display: none;
        }

        .innerButton_debeee {
            margin: 6px;
        }

        .button__8d734:focus-within .activeButtonChild__6e162,
        .button__8d734:focus .activeButtonChild__6e162,
        .button__8d734:hover .activeButtonChild__6e162,
        .button__8d734 .activeButtonChild__6e162 {
            color: var(--text-brand);
        }
    }

    // Attachment area divider
    .divider_b9338f {
        display: none;
    }

    // Attachments
    .channelAttachmentArea__740bf {
        padding: 4px;
        margin: 0;
        gap: 4px;

        .upload_c98ecb {
            padding: 0;
        }

        // Attachment preview
        .uploadContainer__5a7da {
            @include boxes.box;
            flex-direction: column-reverse;
        }

        // Attachment controls
        .actionBar__3cdab {
            transform: none;
            right: 4px;
            top: 4px;

            .wrapper_c727b6 {
                height: 17px;
            }

            .button_d553e5 {
                @include boxes.clickable;
                height: 16px;
                width: 16px;
                padding: 0;
                min-width: unset;
            }
        }

        // Filename
        .filenameContainer_c6cd59 {
            @include boxes.winBar($text: "");
            margin-top: 0;

            .filename__7ce23 {
                margin-top: 0;
                color: $grey;
            }
        }

        // Attachment image
        .imageContainer-ZRSemj {
            margin: auto 0;
        }

        .icon_c2f643.code_d3dfc7 {
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAx0lEQVRYR+1XWxaEIAiVnbkzdWe6MicK54xHezDxkYk/ESGP6yUPYNqVSQXLU1JGf82qlN777JwzIYTVUFpe/KPbKub3pQQHAJPzVriUjAVh8BijsdZWSTwvgd453dWllNbKLyFwN1hv/3gJIPl6q5Cz205E3t+9xX4OBI64Mx4C0p0wHgL/dIFyQBSBvSPgkvN9PyJFQBGYBwFupWf27MtI7wJF4IxU3O+XSIhOcT6k2Y0b49B+bypqJlXyUkZy0STIWTNwfABE/48wR04ubgAAAABJRU5ErkJggg==")
                center no-repeat;
        }
    }

    // Typing area
    .slateTextArea__0661c {
        padding-left: 10px;
    }

    // Autocomplete
    .autocomplete_df266d {
        @include boxes.box($position: absolute);
        bottom: calc(100% + 17px);
        left: -1px;
        right: -1px;
        box-shadow: none;
        background: $grey;

        &,
        &::before {
            border-bottom-color: $grey;
        }

        .scroller_cc9b9a {
            padding-bottom: 1px;
        }

        // Entry
        .autocompleteRow_a20cfa .base__76a71 {
            @include boxes.clickable;
        }

        .autocompleteRow_a20cfa[aria-selected="true"] .base__76a71 {
            @include boxes.inset;
        }

        // Divider
        .divider__87f51 {
            display: none;
        }

        // Members matching title
        .contentTitle_b7c496 strong {
            color: $black;
        }

        // Bot list
        .rail_ad1aea {
            @include boxes.box;
            margin-bottom: 0;
            width: 48px;

            &::before {
                border-bottom: 0;
            }

            .listItems__699d1 {
                inset: 7px !important;
            }

            .section_e983c1 {
                margin-bottom: 0;
            }

            .selectable_ad5550,
            .selectable__25a87 {
                @include boxes.clickable;
            }

            .builtInSeparator_e77ba4 {
                display: none;
            }
        }

        // Bot command group
        .categoryHeader_f97a5f {
            background: $grey;
            z-index: 2;
            border-bottom: 1px solid $darkgrey;
        }

        // Command required args
        .option__32fd1 {
            @include boxes.thin;
            background: $grey;
        }

        // Command optional args
        .optionals__8c34d {
            @include boxes.thin;
            padding: 0 4px;
            .optionalCount__5f6e1 {
                padding: 0;
            }
        }
    }
}

// Under chat box
.base__512ed {
    // Slowmode
    .cooldownWrapper_de448f {
        color: $black !important;
    }
}
