@use "../top/vars" as *;
@use "../top/boxes" as boxes;

// Channel header
.forumOrHome_ff5f90 {
    --__header-bar-background: #{$grey};
}

// Tags
.pill_c993da {
    @include boxes.clickable;
    background: $grey;
    &.selected_c993da {
        @include boxes.inset;
    }
}

// Main container
.container_a6d69a {
    @include boxes.inset;
    background: $bg;

    // Post tags
    .tags_f451cd {
        gap: 0;

        & > :is(.pinIcon_f451cd, .tagPill_a57509) {
            @include boxes.box;
            background: $grey;

            path {
                fill: $black;
            }
        }
    }

    // New post bubble
    .newPostsButton_a6d69a {
        z-index: 2;
    }

    // Not have left-right padding on everything in list mode
    .list_a6d69a .content_eed6a8 {
        padding: 0;
    }

    // The same in gallery mode
    .content_eed6a8 {
        // Everything but post cards
        & > div:first-child {
            position: relative !important;
            top: 0 !important;
            left: 0 !important;
            width: auto !important;

            .headerRow_a6d69a {
                width: auto !important;
            }
        }

        // Post card container
        & > div:last-child {
            position: relative !important;
            top: 16px !important;
            left: 0 !important;
            width: auto !important;

            // Tag area in text posts
            .textContentFooter_a57509 {
                background: transparent;
            }
        }
    }

    // Everything but post cards
    .headerRow_a6d69a {
        padding: 0;

        // Filter by tags bar
        .tagsContainer_a6d69a {
            @include boxes.box;
            background: $grey;
            padding: 2px 12px;

            // Sort and view dropdown
            .sortDropdown_a6d69a {
                margin-bottom: 0;
                &[aria-expanded="true"] {
                    @include boxes.inset;
                }
            }

            .divider_a6d69a {
                display: none;
            }

            .tagListInner_a6d69a {
                gap: 0;
            }
        }

        // Matching post count bar
        .matchingPostsRow_a6d69a {
            @include boxes.box;
        }

        // Search/create posts bar
        .mainCard_a6d69a {
            margin-top: 0;
            @include boxes.box;

            // Search button and guidelines button
            :is(.prefixElement_c1668f, .guidelinesButton_d7afe7) {
                @include boxes.clickable;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                height: 30px;
                width: 30px;

                // Close button
                div {
                    height: 24px;
                    width: 24px;
                }
            }

            // Post message
            .contentContainer_c1668f {
                padding-left: 32px;

                div {
                    background: $bg;

                    .channelTextArea_d0696b {
                        width: auto;
                    }
                }
            }

            // Post attachments
            .container_a15d29 {
                align-self: flex-end;

                .uploadInput_a15d29 {
                    @include boxes.clickable;
                    height: 76px;
                    width: 76px;
                }

                // Attachment not image type
                .icon_f847a3 {
                    @include boxes.box;
                }

                // Attachment is image type
                .mediaContainer_f847a3 > div:not([aria-expanded="false"]),
                .mediaContainer_f847a3 > div:not([aria-expanded="false"]) > div {
                    max-height: 76px;
                    max-width: 76px;

                    .imageSmall_f847a3 {
                        height: 76px;
                    }
                }

                // Number of attachments
                .badge_a15d29 {
                    z-index: 1;
                    background: $darkblue;
                }

                // Attachments popout
                .popoutContainer_a15d29 {
                    z-index: 1;
                    @include boxes.box($position: absolute);
                    padding: 0;
                    top: -8px;
                    right: -8px;

                    // Scroller
                    .popout_a15d29 {
                        padding-bottom: 0;

                        &::-webkit-scrollbar-track,
                        &::-webkit-scrollbar-thumb,
                        &::-webkit-scrollbar-button {
                            visibility: hidden;
                        }

                        // Attachment controls
                        .actionBarContainer_df1eaf {
                            z-index: 2;
                        }
                    }
                }
            }

            // Create post button
            .submitButton_c1668f {
                height: 30px;
            }

            // Divider
            .tagsDivider_c1668f {
                display: none;
            }

            // Post tags
            .tagsContainer_c1668f {
                margin-left: 8px;
                margin-top: 0px;
                .tagListInner_c1668f {
                    gap: 0;
                }
            }

            // Post bar
            .controlsContainer_c1668f {
                justify-content: flex-start;
                gap: 0;
                margin-top: 0;

                // Add emoji button
                .expression-picker-chat-input-button {
                    @include boxes.clickable;
                    justify-content: center;
                    height: 30px;
                    width: 30px;
                }

                .controls_c1668f {
                    flex-grow: initial;
                    gap: 0;

                    // Slowmode warning
                    .wrappedControls_c1668f {
                        order: 1;
                        padding-left: 4px;
                    }
                }
            }
        }
    }
}

// Post card
li.card_a6d69a {
    padding: 0;
    margin: 8px;
    @include boxes.clickable;
}

:is(.container_d331f1, .container_a57509) {
    .markup_d6076c {
        color: var(--text-normal);
    }

    &:not(.isOpen_d331f1, .isOpen_a57509) {
        &:hover,
        &:active {
            background-color: var(--background-primary);
            transform: none;
        }
    }

    &:is(.isOpen_d331f1, .isOpen_a57509) {
        @include boxes.inset;
    }

    // Post content preview
    .thumbnailContainer_d331f1,
    .contentPreview_a57509,
    .bodyMedia_a57509 {
        @include boxes.inset;
    }

    // Text content
    .contentPreview_a57509 {
        background: $bg;

        .markup_d6076c {
            color: $text;
        }
    }
}

// Opened post
// Post alert options bar
.container_b385c8 {
    position: absolute;
    z-index: 0;
    border-top: 0;
    margin-top: 0;
    inset: 28px 0 auto;
    padding: 0;
    padding-right: 4px;
    background: transparent;
    box-shadow: none;

    .buttons_b385c8 {
        gap: 0;

        .buttonInner_b385c8 {
            @include boxes.clickable;
            height: 20px;

            &:has(path[d^="M8.99991 16.17"]) {
                @include boxes.inset;
            }
        }
    }
}

// OP post and post replies divider
.divider_af45f8 {
    display: none;
}
