@use "../top/vars" as *;
@use "../top/boxes" as boxes;

// Titlebar
.children_cde9af {
    overflow: visible;

    .topPill__63ad4 {
        position: relative;
        top: 12px;
        left: 10px;

        .item__48dda {
            @include boxes.tab;
            margin: 0;

            &.selected_a523ff {
                text-decoration: underline;
            }
        }
    }
}

// Online / All / Pending / Blocked / Add Friend
.peopleColumn__0c784 {
    @include boxes.inset;

    .searchBar__310d8 {
        @include boxes.inset;
        background: $bg;
        color: $text;
        margin: 8px 8px 0;

        .input__48d49 {
            color: $text;
        }

        .iconContainer__4d295 {
            @include boxes.clickable;
            background: $grey;
            padding: 2px;
        }
    }

    .title_c42cad {
        margin: 8px 12px 4px;
    }

    .peopleList_d2f527 {
        margin: 0 8px 8px;
        padding-bottom: 0;
        @include boxes.inset;

        .peopleListItem_dab480 {
            margin: 0;
            padding: 8px;
            @include boxes.clickable;

            .actionButton__2b4bb {
                @include boxes.clickable;
                height: 24px;
                width: 24px;
                // Hide redundant message button
                &:first-child {
                    display: none;
                }
            }
        }
    }

    .header__6ddae {
        border-bottom: 0;
    }

    .header__6ddae,
    .header__7cf1d {
        padding: 8px;
    }

    // Other places to make friends
    .grid__8fc4b {
        padding: 0 8px;
        gap: 8px;

        .container__048f4 {
            @include boxes.clickable;
        }
    }

    // Add friend
    .addFriendInputWrapper__2b30b {
        padding: 0;

        .addFriendInput__12af4 {
            margin-right: 0;
        }
    }
}

// Friend activity
.nowPlayingColumn_b025fe {
    .scroller__7c25e {
        @include boxes.scroller;
        padding: 0 !important;

        .header_c56a27 {
            position: sticky;
            top: 0;
            margin: 0 0 8px;
            padding: 12px 8px 8px;
            background: $grey;
            border-bottom: 1px solid $darkgrey;
            z-index: 2;
        }

        .itemCard_b64118 {
            @include boxes.clickable;
            margin: 0 8px;
            padding: 12px;

            &:hover {
                background: $grey;
            }

            .body__616e6 {
                @include boxes.inset;
            }
        }
    }
}

// Message requests
.list__325e7 {
    @include boxes.scroller;
    padding: 8px !important;

    .content__690c5 > div:first-child {
        display: none;
    }

    // Title
    .container__43554 {
        color: $black;
        text-transform: none;
        margin-bottom: 8px;
    }

    .messageRequestItem__9f70d {
        @include boxes.clickable;

        .messageContent_abea64 {
            color: $black;
        }
    }
}

// If empty
.content__01e65:has(.emptyStateContainer_ba3ea0) {
    @include boxes.inset;
}
