@use "../top/vars" as *;
@use "../top/boxes" as boxes;

// Titlebar
.children_e44302 {
    overflow: visible;

    .topPill_a0 {
        position: relative;
        top: 12px;
        left: 10px;

        .item_a0 {
            @include boxes.tab;
            margin: 0;

            &.selected_a0 {
                text-decoration: underline;
            }
        }
    }
}

// Online / All / Pending / Blocked / Add Friend
.peopleColumn_c2739c {
    @include boxes.inset;

    .searchBar_e0840f {
        @include boxes.inset;
        background: $bg;
        color: $text;
        margin: 8px 8px 0;

        .input__48d49 {
            color: $text;
        }

        .iconContainer__4d295 {
            @include boxes.clickable;
            background: $grey;
            padding: 2px;
        }
    }

    .title_a1cafe {
        margin: 8px 12px 4px;
    }

    .peopleList_e0840f {
        margin: 0 8px 8px;
        padding-bottom: 0;
        @include boxes.inset;

        .peopleListItem_d51464 {
            margin: 0;
            padding: 8px;
            @include boxes.clickable;

            .actionButton_e01b91 {
                @include boxes.clickable;
                height: 24px;
                width: 24px;
                // Hide redundant message button
                &:first-child {
                    display: none;
                }
            }
        }
    }

    .header_c96274 {
        border-bottom: 0;
    }

    .header_c96274,
    .header_aef5fd {
        padding: 8px;
    }

    // Other places to make friends
    .grid_aef5fd {
        padding: 0 8px;
        gap: 8px;

        .container_aef5fd {
            @include boxes.clickable;
        }
    }

    // Add friend
    .addFriendInputWrapper_de812f {
        padding: 0;

        .addFriendInput_de812f {
            margin-right: 0;
        }
    }
}

// Friend activity
.nowPlayingColumn_c2739c {
    .scroller_bf550a {
        @include boxes.scroller;
        padding: 0 !important;

        .header_bf550a {
            position: sticky;
            top: 0;
            margin: 0 0 8px;
            padding: 12px 8px 8px;
            background: $grey;
            border-bottom: 1px solid $darkgrey;
            z-index: 2;
        }

        .itemCard_f02fcf {
            @include boxes.clickable;
            margin: 0 8px;
            padding: 12px;

            &:hover {
                background: $grey;
            }

            .body_cd82a7 {
                @include boxes.inset;
            }
        }
    }
}

// Message requests
.list_f3abf4 {
    @include boxes.scroller;
    padding: 8px !important;

    .content_eed6a8 > div:first-child {
        display: none;
    }

    // Title
    .container_cc72c1 {
        color: $black;
        text-transform: none;
        margin-bottom: 8px;
    }

    .messageRequestItem_a5de62 {
        @include boxes.clickable;

        .messageContent_ec86aa {
            color: $black;
        }
    }
}

// If empty
.content_a7d72e:has(.emptyStateContainer_c353e6) {
    @include boxes.inset;
}
