@use "../top/vars" as *;
@use "../top/boxes" as boxes;

// Header bars
:is(
        .container-2cd8Mz .container-ZMc96U,
        .container-2_BXG- .container-ZMc96U,
        .pageWrapper-2PwDoS .scroller-3j5xK2,
        .scroller-RfJjkV .viewWrapper-oqUsis,
        .applicationStore-2nk7Lo .homeWrapper-L4ors0,
        :is(.container-3XgAHv, .container-3s2w-i):not(:is(.floating-3M3WeH, .floating-1T0kDs)) .container-ZMc96U:not(.wrapper-1gVUIN .container-ZMc96U),
        :is(.chat-2ZfjoI, .chat-9g_3Xj) .container-ZMc96U:not(.wrapper-1gVUIN .container-ZMc96U)
    ) {
    margin-top: $title-height;
    z-index: 0;

    .divider-q3P9HC {
        display: none;
    }
}

// End of description shadow
.appMount-2yBXZl :is(.innerHeader-1cC3Fp, .headerBarInner-39Tej7)::after {
    background: linear-gradient(180deg, transparent, $grey);
}

// Tools
.toolbar-3_r2xA {
    .search-39IXmY {
        @include boxes.inset;
        margin: 0;

        .searchBar-jGtisZ {
            height: 30px;
            align-items: center;
            background: $bg;
            color: $text;

            .DraftEditor-root {
                padding-top: 5px;
            }

            // Search button
            .icon-tZMHgY {
                @include boxes.clickable;
                background: $grey;

                .icon-18rqoe {
                    color: $black;
                }
            }

            // Filters
            .searchFilter-2UfsDk,
            .searchAnswer-23w-CH {
                @include boxes.box;
                background: $grey;
                color: $black;
            }
        }
    }

    // Buttons
    .videoControls-353CsJ
        &
        .iconWrapper-2awDjA.clickable-ZD7xvu:is(.anchor-1X4H4q .iconWrapper-2awDjA:only-of-type, :has([d^="M14 8.00598"])),
    .iconWrapper-2awDjA.clickable-ZD7xvu:not(.anchor-1X4H4q .iconWrapper-2awDjA:only-of-type, :has([d^="M14 8.00598"])) {
        @include boxes.clickable;
        margin: 0;
        height: 32px;
        min-width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;

        .count-vTKEhF {
            margin: 4px;
        }
    }
}

// Under header bar
:is(.content-1jQy2l, .content-18rAwf)::before {
    display: none;
}
