@use "../top/vars" as *;
@use "../top/boxes" as boxes;

// Header bars
:is(
        .container_bd15da .container__26baa,
        .container__2b28c .container__26baa,
        .pageWrapper_c182d3 .scroller__26b89,
        .scroller__32e73 .viewWrapper_d3b8a1,
        .applicationStore__444b9 .homeWrapper_d63773,
        .container__694a1:not(.floating__8f631) .container__26baa:not(.wrapper__6bf2d .container__26baa),
        .chat__52833 .container__26baa:not(.wrapper__6bf2d .container__26baa)
    ) {
    margin-top: $title-height;
    z-index: 0;

    .divider_bdb894 {
        display: none;
    }
}

// End of description shadow
.appMount_c99875 :is(.innerHeader_ccbd77, .headerBarInner__42db6)::after {
    background: linear-gradient(180deg, transparent, $grey);
}

// Tools
.toolbar__62fb5 {
    .search__07df0 {
        @include boxes.inset;
        margin: 0;

        .searchBar__5a20a {
            height: 30px;
            align-items: center;
            background: $bg;
            color: $text;

            .DraftEditor-root {
                padding-top: 5px;
            }

            // Search button
            .icon__53a5c {
                @include boxes.clickable;
                background: $grey;

                .icon__5c8c7 {
                    color: $black;
                }
            }

            // Filters
            .searchFilter_dbda51,
            .searchAnswer__2ccaf {
                @include boxes.box;
                background: $grey;
                color: $black;
            }
        }
    }

    // Buttons
    .videoControls_af6621
        &
        .iconWrapper_de6cd1.clickable_ce0925:is(.anchor_c8ddc0 .iconWrapper_de6cd1:only-of-type, :has([d^="M14 8.00598"])),
    .iconWrapper_de6cd1.clickable_ce0925:not(.anchor_c8ddc0 .iconWrapper_de6cd1:only-of-type, :has([d^="M14 8.00598"])) {
        @include boxes.clickable;
        margin: 0;
        height: 32px;
        min-width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;

        .count__03d4d {
            margin: 4px;
        }
    }
}

// Under header bar
.content__01e65::before {
    display: none;
}
