@forward "./windowbar";
@forward "./headerbar";

@forward "./chatbox";
@forward "./messages";

@forward "./channels";
@forward "./channelsandroles";
@forward "./forums";
@forward "./friends";
@forward "./members";
@forward "./publicservers";
@forward "./searchresults";
@forward "./serverguide";
@forward "./serversubscriptions";
@forward "./taskbar";
@forward "./threads";
@forward "./vc";

@use "../top/vars" as *;
@use "../top/boxes" as boxes;
@use "../top/shortcutIcon" as sc;

// Overall background
.bg__12180 {
    background: var(--w9x-background-color) var(--w9x-background-image) center/cover;
}

// Transparency
:is(.appMount_fae9dd, body, .app_de4237) {
    background: transparent;
}

// Put notice banners below main window
.base__3e6af {
    flex-direction: column-reverse;
    height: calc(100% - var(--server-container));

    #bd-notices {
        z-index: 102;
    }

    :is(.bd-notice, .notice__99c03, .notice__5fd4c) {
        @include boxes.box;
        margin-bottom: -4px;

        .back_e83edd {
            position: absolute;
        }
    }
}

// Settings
.standardSidebarView__1129a,
// Main DM and friend list view
.container__5c7e7,
// Explore servers view
.pageWrapper_fef757,
// Student hub
.scroller_e9501c,
// Buy Nitro page
.applicationStore_fc7d76,
// Server subscriptions
.container__42489,
// Main chat
.chat__52833:not(.container__10dc7 > .chat__52833) {
    @include boxes.mainWindow();
}
