@forward "./windowbar";
@forward "./headerbar";

@forward "./chatbox";
@forward "./messages";

@forward "./channels";
@forward "./channelsandroles";
@forward "./forums";
@forward "./friends";
@forward "./members";
@forward "./publicservers";
@forward "./searchresults";
@forward "./serverguide";
@forward "./serversubscriptions";
@forward "./taskbar";
@forward "./threads";
@forward "./vc";

@use "../top/vars" as *;
@use "../top/boxes" as boxes;
@use "../top/shortcutIcon" as sc;

// Overall background
.bg_d4b6c5 {
    background: var(--w9x-background-color) var(--w9x-background-image) center/cover;
}

// Transparency
:is(.appMount_ea7e65, body, .app_a01fb1) {
    background: transparent;
}

// Put notice banners below main window
.base_a4d4d9 {
    flex-direction: column-reverse;
    height: calc(100% - var(--server-container));

    #bd-notices {
        z-index: 102;
    }

    :is(.bd-notice, .notice_dd5a33, .notice__5fd4c) {
        @include boxes.box;
        margin-bottom: -4px;

        .back_dd5a33 {
            position: absolute;
        }
    }
}

// Settings
.standardSidebarView_c25c6d,
// Main DM and friend list view
.container_c2739c,
// Explore servers view
.pageWrapper_a3a4ce,
// Student hub
.scroller_a39aa3,
// Buy Nitro page
.applicationStore_cecc86,
// Server subscriptions
.container_fca846,
// Main chat
.chat_a7d72e:not(.container_f1fd9c > .chat_a7d72e) {
    @include boxes.mainWindow();
}
