@forward "./windowbar";
@forward "./headerbar";

@forward "./chatbox";
@forward "./messages";

@forward "./channels";
@forward "./channelsandroles";
@forward "./forums";
@forward "./friends";
@forward "./members";
@forward "./publicservers";
@forward "./searchresults";
@forward "./serverguide";
@forward "./serversubscriptions";
@forward "./taskbar";
@forward "./threads";
@forward "./vc";

@use "../top/vars" as *;
@use "../top/boxes" as boxes;
@use "../top/shortcutIcon" as sc;

// Overall background
.bg__12180 {
    background: var(--w9x-background-color) var(--w9x-background-image) center/cover;
}

// Transparency
:is(.appMount_c99875, body, .app_de4237) {
    background: transparent;
}

// Put notice banners below main window
.base_c0676e {
    flex-direction: column-reverse;
    height: calc(100% - var(--server-container));

    #bd-notices {
        z-index: 102;
    }

    :is(.bd-notice, .notice__99c03, .notice__5fd4c) {
        @include boxes.box;
        margin-bottom: -4px;

        .back_e83edd {
            position: absolute;
        }
    }
}

// Settings
.standardSidebarView__12528,
// Main DM and friend list view
.container_bd15da,
// Explore servers view
.pageWrapper_c182d3,
// Student hub
.scroller__32e73,
// Buy Nitro page
.applicationStore__444b9,
// Server subscriptions
.container__2b28c,
// Main chat
.chat__52833:not(.container__03ec9 > .chat__52833) {
    @include boxes.mainWindow();
}
