@use "../top/vars-scss" as *;
@use "../top/boxes" as boxes;
@use "../top/channellist-css" as channels;

// Members list
.membersWrap-3NUR2t {
    @include channels.vars;
    @include boxes.box;
    @include boxes.winBar($isPseudo: true, $text: "Members");
    position: fixed;
    right: 30px;
    top: 180px;
    height: 65vh;
    max-height: calc(100vh - 400px);
    background: var(--background-secondary);
    z-index: 1; // Elevates above double border
}

// Members list scroller
.members-3WRCEx {
    margin-top: $title-height;

    // Member
    .member-2gU6Ar {
        margin-left: 4px;

        // Custom status or activity
        &:is(:hover, .selected-1-Z6gm) .activityText-1rR-8O {
            color: var(--interactive-hover);
        }
    }
}