@use "../top/vars" as *;
@use "../top/boxes" as boxes;

// Chat message display area
.messagesWrapper_ea2b0b {
    margin-bottom: 24px;
    @include boxes.inset;
    background: $bg;
}

// Placeholder messages
.wrapper_b8c724,
.wrapper__5c5cd {
    background: $bg;
}

// Jump to present bar and other bottom bars
.barBase__4e0ba {
    right: 18px;
    left: 0;
    padding-bottom: 0;
}

// With members list visible
.base__3e6af:has(.membersWrap__90226) {
    // VC video controls
    .bottomControls__8bd89 {
        width: auto;
        padding-right: 150px;
    }

    // Message
    .message__80c10 {
        padding-right: 140px !important;

        // Message actions
        .container__9d616 {
            right: 130px;
        }
    }
}

// Message actions
.wrapper_c727b6 {
    height: auto;

    .button_d553e5 {
        @include boxes.clickable;
        padding: 0;

        &.disabled_a3e440,
        &.disabled_a3e440:hover {
            @include boxes.box;
            padding: 0;
        }
    }
}

// Text
.description__57d03,
.markup_a7e664,
.container_aed774,
.header__4080b,
.username_d30d99,
.repliedTextPlaceholder__044d3,
.repliedTextPreview__90311.clickable_d866f1:hover,
.repliedMessage_e2bf4a,
.subtitle__9cab9,
.markup_a7e664 code,
.codeBlockText__6172e,
.codeLine__3797b,
.operations__07224,
.markup_a7e664 h1,
.markup_a7e664 h2,
.markup_a7e664 h3,
.markup_a7e664 h4,
.markup_a7e664 h5,
.markup_a7e664 h6 {
    color: $text;
}

// Eyebrow
.eyebrow_e5a66c,
.eyebrow_b7df6b {
    text-transform: none;
}

// Blockquote
.blockquoteDivider__96157 {
    background: $grey;
}

// Bullet point
.markup_a7e664 li {
    list-style-type: square;
}

// Attachments
.spoilerInnerContainer__9ef22,
.messageAttachment_b97504 .wrapperAudio__555ce,
.embedWrapper_c143d9.container__8cab3,
.attachment_f3cf2c,
.gridContainer_de8cdc,
.tile_ebc93b,
.wrapper_efe67f,
.imageWrapper_fd6587 {
    @include boxes.box;
}

// Remove attachments
.embedSuppressButton_df9a75,
.embedSuppressButton_df9a75:hover {
    color: $text;
}

// Text attachments
.newMosaicStyle__8d3be .codeView__8b1ff {
    margin: 0;
}

.textContainer__709ff {
    @include boxes.inset;
    background: $bg;

    code {
        background: $bg;
        color: $text;
    }
}

.downloadButton__620ea {
    @include boxes.clickable;
    padding: 0;
    margin-top: 5px;
    margin-left: 6px;
}

.codeIcon__14a76 {
    @include boxes.clickable;
    padding: 0;
}

// Central play pause video button
.iconWrapper__8560c {
    @include boxes.clickable;
    opacity: 1;
    background: $grey;
    color: $black;
}

// Download / delete / alt txt button
.hoverButton__13836,
.mediaMosaicAltText__4ab63 {
    @include boxes.clickable;

    &:active,
    &:hover,
    .keyboard-mode &:focus {
        background: $grey;
        color: $black;
    }
}

// Embed source site
.embedProvider_cfa718 {
    color: var(--text-normal);
}

// Music and video controls
.audioControls__9fbe9,
.videoControls__96149 {
    background: $grey;
}

.audioControls__9fbe9 {
    @include boxes.box;
}

// Fullscreen button
.controlIcon__25700,
.controlIcon__25700:hover {
    color: $black;
}

.videoButton__1a553 {
    @include boxes.clickable;
}

.controlIcon__11f8e {
    opacity: 1;
}

.wrapper__3a7a0 {
    color: $black;
}

// Progress bar
.mediaBarWrapper_f312bd,
.mediaBarWrapper_f312bd::after,
.mediaBarWrapper_f312bd::before {
    background: $grey;
}

.mediaBarWrapper_f312bd {
    @include boxes.inset;
}

.mediaBarGrabber_c64ff9,
.mediaBarProgress__29db2,
.mediaBarProgress__29db2::after,
.mediaBarProgress__29db2::before {
    background: $darkblue;
}

.bubble_f48089 {
    z-index: 1;
}

// Volume control
.mediaBarInteractionVolume_f4c833 {
    background: $grey;
    @include boxes.box;
}

// Reactions
.reaction_b90ab0 {
    margin-right: 0;
    border: 0;
}

.reactionInner__00d5f {
    @include boxes.box;
}

// Self reactions
.reaction_b90ab0.reactionMe_bf6909 {
    background: $grey;
}

// Clicked reactions
.reactionMe_bf6909 .reactionInner__00d5f,
.reactionInner__00d5f:active {
    @include boxes.inset;

    .reactionCount__60448 {
        color: $black;
    }
}

// Hovered reactions
.reaction_b90ab0:hover {
    .reactionCount__60448 {
        color: $black;
    }
}

// Add more reactions button
.reactionBtn__46474:hover,
.reactionBtn__46474:active {
    .icon_b0b9a4 {
        color: $text;
    }
}

// Open thread button
.container__767d1 {
    @include boxes.clickable;
}

// Links
.content__72fdc a {
    color: var(--text-link);
}

// Channel/user mentions
.wrapper__2d9b1:is(.channelMention, .mention) {
    @include boxes.clickable;
}

// Hovered mentions
.interactive:hover {
    color: var(--mention-foreground);
    background: var(--mention-background);
}

// Spoiler text
.messageContent__21e69 {
    .spoilerText-2G40u0.hidden_f44e41 {
        @include boxes.box;
        background: $darkgrey;
    }

    .spoilerText-2G40u0 {
        @include boxes.inset;
        background: $bg;
    }
}

// Code blocks
.markup_a7e664 code {
    @include boxes.box;
    background: $bg;
}

// Editors
.editor__66464 {
    caret-color: $text;
}
