@use "../top/vars" as *;
@use "../top/boxes" as boxes;

// Chat message display area
.messagesWrapper_e2e187 {
    margin-bottom: 24px;
    @include boxes.inset;
    background: $bg;
}

// Placeholder messages
.wrapper_ba0ffb,
.wrapper_b211c6 {
    background: $bg;
}

// Jump to present bar and other bottom bars
.barBase_cf58b5 {
    right: 18px;
    left: 0;
    padding-bottom: 0;
}

// With members list visible
.base_a4d4d9:has(.membersWrap_cbd271) {
    // VC video controls
    .bottomControls_dd069c {
        width: auto;
        padding-right: 150px;
    }

    // Message
    .message_d5deea {
        padding-right: 140px !important;

        // Message actions
        .container_a3b500 {
            right: 130px;
        }
    }
}

// Message actions
.wrapper_ef319f {
    height: auto;

    .button_ef319f {
        @include boxes.clickable;
        padding: 0;

        &.disabled_ef319f,
        &.disabled_ef319f:hover {
            @include boxes.box;
            padding: 0;
        }
    }
}

// Text
.description_c2668b,
.markup_d6076c,
.container_e62b38,
.header_c2668b,
.username_ec86aa,
.repliedTextPlaceholder_ec86aa,
.repliedTextPreview_ec86aa.clickable_ec86aa:hover,
.repliedMessage_ec86aa,
.subtitle_ec583a,
.markup_d6076c code,
.codeBlockText_cdb578,
.codeLine_cdb578,
.operations_ed9386,
.markup_d6076c h1,
.markup_d6076c h2,
.markup_d6076c h3,
.markup_d6076c h4,
.markup_d6076c h5,
.markup_d6076c h6 {
    color: $text;
}

// Eyebrow
.eyebrow_e5a66c,
.eyebrow_c46f6a {
    text-transform: none;
}

// Blockquote
.blockquoteDivider_d6076c {
    background: $grey;
}

// Bullet point
.markup_d6076c li {
    list-style-type: square;
}

// Attachments
.spoilerInnerContainer_a3d0f7,
.messageAttachment__5dae1 .wrapperAudio_f316dd,
.embedWrapper_b558d0.container_ad9cbd,
.attachment_a4623d,
.gridContainer_ad0b71,
.tile_ab47a1,
.wrapper_b9fe76,
.imageWrapper__178ee {
    @include boxes.box;
}

// Remove attachments
.embedSuppressButton_ad0b71,
.embedSuppressButton_ad0b71:hover {
    color: $text;
}

// Text attachments
.newMosaicStyle_ad9cbd .codeView_ad9cbd {
    margin: 0;
}

.textContainer_ad9cbd {
    @include boxes.inset;
    background: $bg;

    code {
        background: $bg;
        color: $text;
    }
}

.downloadButton_ad9cbd {
    @include boxes.clickable;
    padding: 0;
    margin-top: 5px;
    margin-left: 6px;
}

.codeIcon_ad9cbd {
    @include boxes.clickable;
    padding: 0;
}

// Central play pause video button
.iconWrapper_b26897 {
    @include boxes.clickable;
    opacity: 1;
    background: $grey;
    color: $black;
}

// Download / delete / alt txt button
.hoverButton_be4802,
.mediaMosaicAltText_cf58b5 {
    @include boxes.clickable;

    &:active,
    &:hover,
    .keyboard-mode &:focus {
        background: $grey;
        color: $black;
    }
}

// Embed source site
.embedProvider_ad0b71 {
    color: var(--text-normal);
}

// Music and video controls
.audioControls_f316dd,
.videoControls_f316dd {
    background: $grey;
}

.audioControls_f316dd {
    @include boxes.box;
}

// Fullscreen button
.controlIcon_ef18ee,
.controlIcon_ef18ee:hover {
    color: $black;
}

.videoButton_f316dd {
    @include boxes.clickable;
}

.controlIcon_f316dd {
    opacity: 1;
}

.wrapper_f316dd {
    color: $black;
}

// Progress bar
.mediaBarWrapper_f7877e,
.mediaBarWrapper_f7877e::after,
.mediaBarWrapper_f7877e::before {
    background: $grey;
}

.mediaBarWrapper_f7877e {
    @include boxes.inset;
}

.mediaBarGrabber_f7877e,
.mediaBarProgress_f7877e,
.mediaBarProgress_f7877e::after,
.mediaBarProgress_f7877e::before {
    background: $darkblue;
}

.bubble_f7877e {
    z-index: 1;
}

// Volume control
.mediaBarInteractionVolume_f7877e {
    background: $grey;
    @include boxes.box;
}

// Reactions
.reaction_f61c73 {
    margin-right: 0;
    border: 0;
}

.reactionInner_f61c73 {
    @include boxes.box;
}

// Self reactions
.reaction_f61c73.reactionMe_f61c73 {
    background: $grey;
}

// Clicked reactions
.reactionMe_f61c73 .reactionInner_f61c73,
.reactionInner_f61c73:active {
    @include boxes.inset;

    .reactionCount_f61c73 {
        color: $black;
    }
}

// Hovered reactions
.reaction_f61c73:hover {
    .reactionCount_f61c73 {
        color: $black;
    }
}

// Add more reactions button
.reactionBtn_f61c73:hover,
.reactionBtn_f61c73:active {
    .icon_f61c73 {
        color: $text;
    }
}

// Open thread button
.container_c15230 {
    @include boxes.clickable;
}

// Links
.content_e62b38 a {
    color: var(--text-link);
}

// Channel/user mentions
.wrapper_d4fa29:is(.channelMention, .mention) {
    @include boxes.clickable;
}

// Hovered mentions
.interactive:hover {
    color: var(--mention-foreground);
    background: var(--mention-background);
}

// Spoiler text
.messageContent_ec86aa {
    .spoilerMarkdownContent_a3d0f7.hidden_a3d0f7 {
        @include boxes.box;
        background: $darkgrey;
    }

    .spoilerMarkdownContent_a3d0f7 {
        @include boxes.inset;
        background: $bg;
    }
}

// Code blocks
.markup_d6076c code {
    @include boxes.box;
    background: $bg;
}

// Editors
.editor_a552a6 {
    caret-color: $text;
}

// Polls
.container_a1531c {
    @include boxes.box;
    background: $grey;

    --control-brand-foreground: #{$black};

    // Option
    .answer_cf2c85 {
        @include boxes.box;

        &.enabled_b97e9a {
            @include boxes.clickable;
        }

        &:is(.votedStyles_b5cb3c, [aria-checked="true"]) {
            @include boxes.inset;
        }

        // Inner
        .answerInner_cf2c85.currentlyVoting_cf2c85.selected_cf2c85 {
            outline: none;
        }
    }
}
