@use "../top/vars-scss" as *;
@use "../top/boxes" as boxes;

// Chat message display area
.messagesWrapper-RpOMA3 {
    margin-bottom: 24px;
    @include boxes.inset;
    background: var(--w9x-background);
}

// Placeholder messages
.wrapper-3HVHpV,
.wrapper-15CKyy {
    background: var(--w9x-background);
}

// Jump to present bar and other bottom bars
.barBase-3xxDXu {
    right: 18px;
    left: 0;
    padding-bottom: 0;
}

// With members list visible
.base-2jDfDU:has(.membersWrap-3NUR2t) {
    // VC video controls
    .bottomControls-31YuPK {
        width: auto;
        padding-right: 150px;
    }

    // Message
    .message-2CShn3 {
        padding-right: 140px !important;

        // Message actions
        .container-2gUZhU {
            right: 130px;
        }
    }
}

// Message actions
.wrapper-2vIMkT {
    height: auto;

    .button-3bklZh {
        @include boxes.clickable;
        padding: 0;

        &.disabled-3SakJY,
        &.disabled-3SakJY:hover {
            @include boxes.box;
            padding: 0;
        }
    }
}

// Text
.description-22d6ux,
.markup-eYLPri,
.container-x059i8,
.header-1dhDWV,
.username-h_Y3Us,
.repliedTextPlaceholder-1Njd47,
.repliedTextPreview-1bvxun.clickable-31pE3P:hover,
.repliedMessage-3Z6XBG,
.subtitle-C_i4IN,
.markup-eYLPri code,
.codeBlockText-28BOxV,
.codeLine-2C-9aH,
.operations-3q3u6E {
    color: var(--w9x-text);
}

// Eyebrow
.eyebrow-1Shfyi,
.eyebrow-2wJAoF {
    text-transform: none;
}

// Blockquote
.blockquoteDivider-363utW {
    background: $grey;
}

// Attachments
.spoilerInnerContainer-1P_w0A,
.messageAttachment-CZp8Iv .wrapperAudio-1Bzv_Z,
.embedWrapper-1MtIDg.container-rr3Ruk,
.attachment-1PZZB2,
.gridContainer-1cF_Ic,
.tile-2mmK5T,
.wrapper-1HIH0j,
.imageWrapper-oMkQl4 {
    @include boxes.box;
}

// Remove attachments
.embedSuppressButton-1rZHq6,
.embedSuppressButton-1rZHq6:hover {
    color: var(--w9x-text);
}

// Text attachments
.newMosaicStyle-2jdUaP .codeView-12LUIl {
    margin: 0;
}

.textContainer-36wgKK {
    @include boxes.inset;
    background: var(--w9x-background);

    code {
        background: var(--w9x-background);
        color: var(--w9x-text);
    }
}

.downloadButton-2PkwZg {
    @include boxes.clickable;
    padding: 0;
    margin-top: 5px;
    margin-left: 6px;
}

.codeIcon-Ni8XUA {
    @include boxes.clickable;
    padding: 0;
}

// Central play pause video button
.iconWrapper-XpfprW {
    @include boxes.clickable;
    opacity: 1;
    background: $grey;
    color: $black;
}

// Download / delete / alt txt button
.hoverButton-36QWJk,
.mediaMosaicAltText-1FnVZd {
    @include boxes.clickable;

    &:active,
    &:hover,
    .keyboard-mode &:focus {
        background: $grey;
        color: $black;
    }
}

// Embed source site
.embedProvider-1GSN0c {
    color: var(--text-normal);
}

// Music and video controls
.audioControls-3fmemK,
.videoControls-2NzHnF {
    background: $grey;
}

.audioControls-3fmemK {
    @include boxes.box;
}

// Fullscreen button
.controlIcon-10O-4h,
.controlIcon-10O-4h:hover {
    color: $black;
}

.videoButton-3NM9Tc {
    @include boxes.clickable;
}

.controlIcon-1grhw_ {
    opacity: 1;
}

.wrapper-1FP9YQ {
    color: $black;
}

// Progress bar
.mediaBarWrapper-33h1oY,
.mediaBarWrapper-33h1oY::after,
.mediaBarWrapper-33h1oY::before {
    background: $grey;
}

.mediaBarWrapper-33h1oY {
    @include boxes.inset;
}

.mediaBarGrabber-FvJKJg,
.mediaBarProgress-38I317,
.mediaBarProgress-38I317::after,
.mediaBarProgress-38I317::before {
    background: $darkblue;
}

.bubble-3XikHF {
    z-index: 1;
}

// Volume control
.mediaBarInteractionVolume-zGrOSh {
    background: $grey;
    @include boxes.box;
}

// Reactions
.reaction-3vwAF2 {
    margin-right: 0;
    border: 0;
}

.reactionInner-YJjOtT {
    @include boxes.box;
}

// Self reactions
.reaction-3vwAF2.reactionMe-1PwQAc {
    background: $grey;
}

// Clicked reactions
.reactionMe-1PwQAc .reactionInner-YJjOtT,
.reactionInner-YJjOtT:active {
    @include boxes.inset;

    .reactionCount-26U4As {
        color: $black;
    }
}

// Hovered reactions
.reaction-3vwAF2:hover {
    .reactionCount-26U4As {
        color: $black;
    }
}

// Add more reactions button
.reactionBtn-3I19bq:hover,
.reactionBtn-3I19bq:active {
    .icon-1q31jb {
        color: var(--w9x-text);
    }
}

// Open thread button
.container-3i3IzO {
    @include boxes.clickable;
}

// Links
.content-vSHmMD a {
    color: var(--text-link);
}

// Channel/user mentions
.wrapper-1ZcZW-:is(.channelMention, .mention) {
    @include boxes.clickable;
}

// Hovered mentions
.interactive:hover {
    color: var(--mention-foreground);
    background: var(--mention-background);
}

// Spoiler text
.messageContent-2t3eCI {
    .spoilerText-2G40u0.hidden-2lQZ5q {
        @include boxes.box;
        background: $darkgrey;
    }

    .spoilerText-2G40u0 {
        @include boxes.inset;
        background: var(--w9x-background);
    }
}

// Code blocks
.markup-eYLPri code {
    @include boxes.box;
    background: var(--w9x-background);
}

// Editors
.editor-H2NA06 {
    caret-color: var(--w9x-text);
}
