@use "../top/vars-scss" as *;
@use "../top/boxes" as boxes;

// Public servers and student hubs

// Sidebar
.sidebar-1tnWFu > .thin-RnSY0a {
    margin-left: 28px;

    .discoverHeader-1vsvZ0 {
        @include boxes.box;
        font-size: 16px;
        line-height: 20px;
        padding: 12px 16px;
        margin: 0;
    }

    .categoryItem-Kc_HK_ {
        margin: 0;
        padding: 0;
        color: $black;

        &:is(.selectedCategoryItem-ZjqSui, :hover, :active) {
            color: $white;

            .itemInner-3e_4G4 {
                background: var(--background-modifier-selected);
            }
        }
    }
}

// Main page
.appMount-2yBXZl .pageWrapper-2PwDoS {
    background: $grey;

    .scroller-3j5xK2 {
        padding: 16px;
    }

    .searchBox-pyIJJj {
        background: unset;
        padding-right: 0;

        .searchBoxInput-3h4etz {
            color: var(--w9x-text);
        }

        .cta-25g9OT {
            display: none;
        }

        .searchIcon-34RNw9,
        .clear-1JYfB5 {
            @include boxes.clickable;
            top: 1px;
            background: $grey;
            color: $black;
            height: 24px;
        }

        .closeIcon-BMGxx0 {
            color: $black;
            width: 20px;
            height: 20px;
            padding: 2px;
        }
    }

    .card-2TuZPZ {
        @include boxes.clickable;

        &:is(:focus, :hover) {
            transform: none;
        }
    }

    .footer-26kPv_ {
        padding-bottom: 64px;
    }
}

// Search results
.searchPage-1Rxeav {
    .container-3gW0Nv {
        margin-left: 248px;
        padding: 60px 16px 0;
    }

    // Result title
    .searchHeader-gz2NXf {
        position: fixed;
        left: $window-left + 2px;
        right: $window-right + 19px;
        top: $window-top + $title-height;
        padding: 16px 0 16px 16px;
        background: $grey;
        z-index: 2;
        border-bottom: 1px solid $darkgrey;
    }

    // Result categories
    .categories-2LoSbA {
        @include boxes.box($position: fixed);
        left: $window-left + 2px;
        top: $window-top + $title-height + 64px;
        bottom: $window-bottom + 28px;
        flex-direction: column;

        .categoryPill-1zjNrr {
            width: 240px;
            padding: calc((34px - 16px) / 2);
            margin: 0;
            color: $black;

            &:is(.selected-bLcqYK, :hover, :active) {
                background: $darkblue;
                color: $white;
            }

            .categoryLabel-2m4AT- {
                font-size: 16px;
                text-align: left;
                color: inherit;
                font-weight: 400;
            }
        }
    }

    // Further search
    .clearIcon-TMIIUa {
        height: 20px;
        width: 20px;
        padding: 2px;
    }

    // Result servers
    .guildList-QjZKeK {
        gap: 0;

        .card-1rhKXq {
            @include boxes.clickable;

            .content-3Xrx5s {
                height: 135px - 16px;
            }

            .header-3m4_6U {
                flex-direction: row;
                gap: 8px;
            }

            .content-3Xrx5s {
                padding: 8px 8px 8px 0;
            }
        }

        .separator-2t2gPa {
            display: none;
        }
    }

    .pageControl-1Kt_nb {
        @include boxes.inset;

        .roundButton-2mKRqM {
            @include boxes.clickable;
            margin: 0;

            &.activeButton-2K2Fwx {
                @include boxes.inset;
                background: unset;
                color: $black;
            }
        }
    }
}

// Student hubs
.sidebar-1tnWFu + .scroller-RfJjkV {
    padding: 32px 8px 8px !important;

    .viewWrapper-oqUsis {
        margin-top: 0 !important;
    }

    .guildListSection-27K5In {
        @include boxes.inset;
        width: auto;
        padding: 16px;

        :is(.card-2TuZPZ, .container-1wv6C6) {
            @include boxes.clickable;
            &:hover {
                transform: none;
            }
            .addButton-Jt0onL {
                color: $black;
            }
        }
    }

    .divider-3jU7zr {
        display: none;
    }
}
