@use "../top/vars" as *;
@use "../top/boxes" as boxes;

// Public servers and student hubs

// Sidebar
.sidebar_a4d4d9 > .thin_eed6a8 {
    margin-left: 28px;

    .discoverHeader_b992d4 {
        @include boxes.box;
        font-size: 16px;
        line-height: 20px;
        padding: 12px 16px;
        margin: 0;
    }

    .categoryItem_c72b37 {
        margin: 0;
        padding: 0;
        color: $black;

        &:is(.selectedCategoryItem_c72b37, :hover, :active) {
            color: $white;

            .itemInner_c72b37 {
                background: var(--background-modifier-selected);
            }
        }
    }
}

// Main page
.appMount_ea7e65 .pageWrapper_a3a4ce {
    background: $grey;

    .scroller_a3a4ce {
        padding: 16px;
    }

    .searchBox__56feb {
        background: unset;
        padding-right: 0;

        .searchBoxInput__56498 {
            color: $text;
        }

        .cta_f18d68 {
            display: none;
        }

        .searchIcon_d1a3c1,
        .clear__65069 {
            @include boxes.clickable;
            top: 1px;
            background: $grey;
            color: $black;
            height: 24px;
        }

        .closeIcon_f69601 {
            color: $black;
            width: 20px;
            height: 20px;
            padding: 2px;
        }
    }

    .card_eb1ca6 {
        @include boxes.clickable;

        &:is(:focus, :hover) {
            transform: none;
        }
    }

    .footer_a3a4ce {
        padding-bottom: 64px;
    }
}

// Search results
.searchPage_a3a4ce {
    .container_e37a20 {
        margin-left: 248px;
        padding: 60px 16px 0;
    }

    // Result title
    .searchHeader_e37a20 {
        position: fixed;
        left: $window-left + 2px;
        right: $window-right + 19px;
        top: $window-top + $title-height;
        padding: 16px 0 16px 16px;
        background: $grey;
        z-index: 2;
        border-bottom: 1px solid $darkgrey;
    }

    // Result categories
    .categories_f69601 {
        @include boxes.box($position: fixed);
        left: $window-left + 2px;
        top: $window-top + $title-height + 64px;
        bottom: $window-bottom + 28px;
        flex-direction: column;

        .categoryPill_f69601 {
            width: 240px;
            padding: calc((34px - 16px) / 2);
            margin: 0;
            color: $black;

            &:is(.selected_f69601, :hover, :active) {
                background: $darkblue;
                color: $white;
            }

            .categoryLabel_f69601 {
                font-size: 16px;
                text-align: left;
                color: inherit;
                font-weight: 400;
            }
        }
    }

    // Further search
    .clearIcon__21453 {
        height: 20px;
        width: 20px;
        padding: 2px;
    }

    // Result servers
    .guildList_a3a4ce {
        gap: 0;

        .card_e825f6 {
            @include boxes.clickable;

            .content_e825f6 {
                height: 135px - 16px;
            }

            .header_e825f6 {
                flex-direction: row;
                gap: 8px;
            }

            .content_e825f6 {
                padding: 8px 8px 8px 0;
            }
        }

        .separator_e825f6 {
            display: none;
        }
    }

    .pageControl_b48941 {
        @include boxes.inset;

        .roundButton_b48941 {
            @include boxes.clickable;
            margin: 0;

            &.activeButton_b48941 {
                @include boxes.inset;
                background: unset;
                color: $black;
            }
        }
    }
}

// Student hubs / custom guild directory
.pageContainer_a9a262 {
    @include boxes.inset;

    .card_f18d6c {
        @include boxes.box;
    }
}
.scroller_c43953:has(.itemInner__2abad) {
    min-height: 200px;

    .itemInner__2abad {
        margin-left: 0;
    }
}
