@use "../top/vars" as *;
@use "../top/boxes" as boxes;

// Search results
.searchResultsWrap_c2b47d {
    @include boxes.inset;
    margin: 0 2px 2px;

    .searchHeader_b7c924 {
        background: transparent;
        padding: 8px 28px 0 16px;
        height: 28px;

        // Tabs
        .searchHeaderTabList_b7c924 {
            gap: 0;

            // Tab
            .item_a0 {
                @include boxes.tab;
            }
        }
    }

    .scroller_c2b47d {
        @include boxes.box($position: static);
        margin: 0 8px 8px;

        &::before {
            display: none;
        }

        // Result
        .searchResult_ddc613 {
            background: $bg;
            @include boxes.inset;
        }

        // Jump button
        .button_ddc613 {
            @include boxes.clickable;
        }

        #search-results {
            margin-top: 40px;
        }

        // Navigation
        .container_de9d09 {
            position: absolute;
            top: 29px;
            left: 9px;
            right: 27px;
            background: $grey;
            z-index: 1;
            border-bottom: 1px solid $black;

            .pageControlContainer_b48941 {
                margin-top: 0;
            }

            .pageControl_b48941 {
                // Buttons
                .pageButton_b48941 {
                    min-height: unset;
                    margin: 0;

                    &:disabled {
                        @include boxes.box;
                    }

                    &:not(:disabled) {
                        @include boxes.clickable;
                    }
                }
            }
        }
    }
}
