@use "../top/vars" as *;
@use "../top/boxes" as boxes;

// Search results
.searchResultsWrap__9f374 {
    @include boxes.inset;
    margin: 0 2px 2px;

    .searchHeader__19d87 {
        background: transparent;
        padding: 8px 28px 0 16px;
        height: 28px;

        // Tabs
        .searchHeaderTabList__78b98 {
            gap: 0;

            // Tab
            .item__48dda {
                @include boxes.tab;
            }
        }
    }

    .scroller_c8d5ad {
        @include boxes.box($position: static);
        margin: 0 8px 8px;

        &::before {
            display: none;
        }

        // Result
        .searchResult_dcd237 {
            background: $bg;
            @include boxes.inset;
        }

        // Jump button
        .button_f8244b {
            @include boxes.clickable;
        }

        #search-results {
            margin-top: 40px;
        }

        // Navigation
        .container_d91be8 {
            position: absolute;
            top: 29px;
            left: 9px;
            right: 27px;
            background: $grey;
            z-index: 1;
            border-bottom: 1px solid $black;

            .pageControlContainer_b111b0 {
                margin-top: 0;
            }

            .pageControl__2dd90 {
                // Buttons
                .pageButton_bcd673 {
                    min-height: unset;
                    margin: 0;

                    &:disabled {
                        @include boxes.box;
                    }

                    &:not(:disabled) {
                        @include boxes.clickable;
                    }
                }
            }
        }
    }
}
