@use "../top/vars" as *;
@use "../top/boxes" as boxes;

.homeContainer_e85cee {
    @include boxes.scroller;
    padding: 32px 16px;
    background: $bg;
}

// Server name
.headerName_d32e26 {
    color: $text;
}

// Main section headers
.mainContent_e85cee h2 {
    color: $text !important;
}

// Main section item
.row_b53f4f {
    @include boxes.clickable;
    &:hover {
        background: $grey;
    }
}

// Sidebar card
.sidebarCardWrapper_e85cee {
    @include boxes.box;
}
