@use "../top/vars" as *;
@use "../top/boxes" as boxes;

.container__2b28c {
    background: $grey;

    .scroller__12676 {
        @include boxes.scroller;
        background: $bg;
    }
}

.ctaTitle__65abd,
.ctaTitle__65abd strong {
    color: $text;
}

.ctaSubtitle__5c2e0 {
    color: $text !important;
}

.roleMessagePreview__242dc {
    background: $bg;
}
