@use "../top/vars" as *;
@use "../top/boxes" as boxes;

.container__42489 {
    background: $grey;

    .scroller__5e182 {
        @include boxes.scroller;
        background: $bg;
    }
}

.ctaTitle__7b351,
.ctaTitle__7b351 strong {
    color: $text;
}

.ctaSubtitle_e20642 {
    color: $text !important;
}

.roleMessagePreview__8088a {
    background: $bg;
}
