@use "../top/vars" as *;
@use "../top/boxes" as boxes;
@use "../top/folderIcon" as fi;

:root {
    --HSL-server-icon-size: 36px;
    --HSL-server-spacing: 6px;
    --HSL-server-direction: column;
    --HSL-server-alignment: flex-start;
    --server-container: calc(var(--server-size) + 10px);
}

// Taskbar
.wrapper_fea3ef .scroller_fea3ef {
    @include boxes.box;
    background: var(--background-secondary);
    border-color: $white $white $black $black;

    &::before {
        border-color: $lightgrey $lightgrey $darkgrey $darkgrey;
    }

    &,
    &::before {
        border-bottom: 0;
    }
}

// Folder/server icon
.listItem_c96c45:not(:has(.guildSeparator_d0c57e)) {
    @include boxes.clickable;
}

// Closed folder icon
@include fi.folderIcon;
.expandedFolderBackground_bc7085.collapsed_bc7085 + .listItem_c96c45 {
    .guildIcon_bc7085 {
        display: none;
    }
}

// Opened folder background strip
.expandedFolderBackground_bc7085:not(.collapsed_bc7085) {
    background: transparent;
}

.folder_bc7085 {
    .icon_f11207,
    svg {
        display: none;
    }
}

// Control panel
.panels_a4d4d9 {
    @include boxes.box;
    position: fixed;
    bottom: 0;
    left: calc(100vw - $panel-width);
    width: $panel-width;
    height: 44px;
    z-index: 0;

    &:hover {
        z-index: 2;
    }
}

// Flip order
.container_b2ca13 {
    height: calc(var(--server-container) - 2px);
    flex-direction: row-reverse;
    gap: 6px;
}

// Controls
.button_f67531 {
    @include boxes.clickable;

    &.enabled_f67531:hover,
    &:active {
        background: inherit;
        color: inherit;
    }
}

// User
.avatarWrapper_b2ca13 {
    @include boxes.inset;
    margin-right: 0;
}
.withTagAsButton_b2ca13:hover,
.withTagless_b2ca13:hover {
    background: inherit;
    color: inherit;
}
