@use "../top/vars" as *;
@use "../top/boxes" as boxes;

// Main chat with thread open
.chat_a7d72e:not(.container_f1fd9c > .chat_a7d72e):is(.threadSidebarOpen_a7d72e, .threadSidebarOpen_a7d72e) {
    border-right: 0;

    &::before {
        border-right: 0;
    }

    // Message needs no indent as member list cannot be visible at once.
    .chatContent_a7d72e .message_d5deea {
        margin-right: 0 !important;
    }

    // Neither does autocompleter
    .autocomplete_f23da8 {
        width: auto !important;
    }
}

// Threads not video chat
.content_a4d4d9 > {
    // Main chat / thread separator
    .resizeHandle_d1c246 {
        @include boxes.box;
        background: $grey;
        position: relative;
        right: $window-right;
        margin: $window-top 0 $window-bottom 0;
        height: auto;
        border-left: 0;
        border-right: 0;

        &::before {
            border-left: 0;
            border-right: 0;
        }
    }

    // Thread panel
    .container_d1c246 {
        @include boxes.box;
        margin: $window-top 0 $window-bottom 0;
        right: $window-right;
        max-width: 100%;
        border-left: 0;

        &::before {
            border-left: 0;
        }
    }

    // Floating thread panel for narrow screens
    .chatLayerWrapper_d1c246 {
        top: $title-height + $window-top;
        right: $window-right;
        bottom: $window-bottom + 2px;
        height: auto;

        .chatTarget_d1c246 {
            display: none;
        }
    }
}

.layerContainer_cd0de5:has(.chatLayerWrapper_d1c246) {
    z-index: 0;
}
