@use "../top/vars" as *;
@use "../top/boxes" as boxes;

// Main chat with thread open
.chat__52833:not(.container__03ec9 > .chat__52833):is(.threadSidebarOpen__62c31, .threadSidebarOpen__62c31) {
    border-right: 0;

    &::before {
        border-right: 0;
    }

    // Message needs no indent as member list cannot be visible at once.
    .chatContent_f087cb .message_ccca67 {
        margin-right: 0 !important;
    }

    // Neither does autocompleter
    .autocomplete__743a5 {
        width: auto !important;
    }
}

// Threads not video chat
.content__76dcf > {
    // Main chat / thread separator
    .resizeHandle_cc9d34 {
        @include boxes.box;
        background: $grey;
        position: relative;
        right: $window-right;
        margin: $window-top 0 $window-bottom 0;
        height: auto;
        border-left: 0;
        border-right: 0;

        &::before {
            border-left: 0;
            border-right: 0;
        }
    }

    // Thread panel
    .container__694a1 {
        @include boxes.box;
        margin: $window-top 0 $window-bottom 0;
        right: $window-right;
        max-width: 100%;
        border-left: 0;

        &::before {
            border-left: 0;
        }
    }

    // Floating thread panel for narrow screens
    .chatLayerWrapper__1b344 {
        top: $title-height + $window-top;
        right: $window-right;
        bottom: $window-bottom + 2px;
        height: auto;

        .chatTarget_f14a03 {
            display: none;
        }
    }
}

.layerContainer_a2fcaa:has(.chatLayerWrapper__1b344) {
    z-index: 0;
}
