@use "../top/vars" as *;
@use "../top/boxes" as boxes;

// Voice chat
.wrapper__6bf2d {
    margin-top: 28px;
    z-index: 0;

    &.minimum__7f356 {
        height: 204px;
    }

    .callContainer__1477d {
        background: $bg;
    }

    &:is(.chatSidebarOpen_f2e544, .fullScreen_b3f0af, .noChat_ce920d) {
        height: calc(100% - 28px);
    }

    .voiceCallWrapper__6ca32 {
        position: relative;
        padding: 0;
        top: -12px;

        // Avatars in DM VC
        .participant_f0e444 {
            margin: 0 4px;
        }

        .callAvatarMask__11fbc {
            @include boxes.inset;
        }
    }

    .videoControls_af6621 {
        padding: 0;

        // No tint
        .gradientContainer_cdada6 {
            background: none;
        }

        .controlSection_b43ab2 {
            background: $grey;
            border: 0 solid $darkgrey;

            // Top bar
            &.topControls_e834ab:not(.minimum__7f356 .topControls_e834ab) {
                border-bottom-width: 1px;
            }

            .headerWrapper_ea51a0 {
                margin: 0;

                // Region selector
                & + .horizontal__4848b {
                    margin-right: 8px;
                    position: absolute;
                    right: 0;
                    .quickSelectClick_eec93f {
                        @include boxes.inset;
                        background: $bg;
                        color: $text;
                        height: 16px;
                        padding: 2px 4px 2px 0;
                    }
                }
            }

            .toolbar__62fb5 button {
                @include boxes.clickable;
                margin: 0;
                height: 32px;
                width: 32px;
                .controlIcon__73723 {
                    color: $black;
                }
            }

            // Bottom bar
            &.bottomControls__72d8d {
                padding: 8px;
                width: auto;

                &:not(.minimum__7f356 .bottomControls__72d8d) {
                    border-top-width: 1px;
                }

                // Centre controls
                .wrapper__4d4fe {
                    .controlButton__863c7 {
                        @include boxes.clickable;
                        margin: 0;

                        // Active unmute button
                        &:has(.white_ce1c7b),
                        &.white_ce1c7b {
                            @include boxes.inset;
                        }
                    }

                    // Set button colours
                    .colorable__4f530 {
                        // Most buttons
                        &.primaryDark_ec74a7 {
                            background: unset;
                            color: $black;

                            .centerIcon_e3df23 {
                                color: $black;
                            }
                        }

                        // Leave call button
                        &:is(.red__45e65, .red__45e65:hover) {
                            background: $red;
                        }

                        // Active buttons
                        &.white_ce1c7b {
                            background: unset;
                        }
                    }

                    // Dropdown menu button in button
                    .contextMenuNub_bea150 {
                        @include boxes.clickable($position: absolute);
                        left: 0;
                        width: auto;
                        height: 12px;
                        padding: 0;

                        &.active_ff29dc {
                            @include boxes.inset($position: absolute);
                        }
                    }
                }

                // Other buttons
                button:not(.wrapper__4d4fe button) {
                    @include boxes.clickable;
                    margin: 0;
                    height: 32px;
                    width: 32px;

                    .controlIcon__73723 {
                        color: $black;
                    }

                    &.buttonColor__40507 {
                        padding: 0;
                        background: unset;
                        color: $black;
                    }
                }
            }
        }

        // Show chat button
        & ~ div:not(.erd_scroll_detection_container) button {
            @include boxes.clickable($position: absolute);
            height: 32px;
            width: 32px;
            top: 8px;

            .controlIcon__73723 {
                color: $black;
            }
        }
    }
}
