@use "../top/vars" as *;
@use "../top/boxes" as boxes;

// Voice chat
.wrapper_bd2abe {
    margin-top: 28px;
    z-index: 0;

    &.minimum_ebf000 {
        height: 204px;
    }

    .callContainer_cbde45 {
        background: $bg;
    }

    &:is(.chatSidebarOpen_dfaa6a, .fullScreen__5263c, .noChat_ce920d) {
        height: calc(100% - 28px);
    }

    .voiceCallWrapper_a36a80 {
        position: relative;
        padding: 0;
        top: -12px;

        // Avatars in DM VC
        .participant__43dbf {
            margin: 0 4px;
        }

        .callAvatarMask__29ce7 {
            @include boxes.inset;
        }
    }

    .videoControls__40f61 {
        padding: 0;

        // No tint
        .gradientContainer__9a5a6 {
            background: none;
        }

        .controlSection_daa0d5 {
            background: $grey;
            border: 0 solid $darkgrey;

            // Top bar
            &.topControls_d202b0:not(.minimum_ebf000 .topControls_d202b0) {
                border-bottom-width: 1px;
            }

            .headerWrapper__94dd8 {
                margin: 0;

                // Region selector
                & + .horizontal__992f6 {
                    margin-right: 8px;
                    position: absolute;
                    right: 0;
                    .quickSelectClick_bf1d31 {
                        @include boxes.inset;
                        background: $bg;
                        color: $text;
                        height: 16px;
                        padding: 2px 4px 2px 0;
                    }
                }
            }

            .toolbar__88c63 button {
                @include boxes.clickable;
                margin: 0;
                height: 32px;
                width: 32px;
                .controlIcon__25700 {
                    color: $black;
                }
            }

            // Bottom bar
            &.bottomControls__8bd89 {
                padding: 8px;
                width: auto;

                &:not(.minimum_ebf000 .bottomControls__8bd89) {
                    border-top-width: 1px;
                }

                // Centre controls
                .wrapper__3f3a7 {
                    .controlButton_ab2899 {
                        @include boxes.clickable;
                        margin: 0;

                        // Active unmute button
                        &:has(.white__10e89),
                        &.white__10e89 {
                            @include boxes.inset;
                        }
                    }

                    // Set button colours
                    .colorable_c84c4c {
                        // Most buttons
                        &.primaryDark__6b700 {
                            background: unset;
                            color: $black;

                            .centerIcon__6075a {
                                color: $black;
                            }
                        }

                        // Leave call button
                        &:is(.red_a51ba8, .red_a51ba8:hover) {
                            background: $red;
                        }

                        // Active buttons
                        &.white__10e89 {
                            background: unset;
                        }
                    }

                    // Dropdown menu button in button
                    .contextMenuNub__7c02f {
                        @include boxes.clickable($position: absolute);
                        left: 0;
                        width: auto;
                        height: 12px;
                        padding: 0;

                        &.active_ff29dc {
                            @include boxes.inset($position: absolute);
                        }
                    }
                }

                // Other buttons
                button:not(.wrapper__3f3a7 button) {
                    @include boxes.clickable;
                    margin: 0;
                    height: 32px;
                    width: 32px;

                    .controlIcon__25700 {
                        color: $black;
                    }

                    &.buttonColor_fa1bb3 {
                        padding: 0;
                        background: unset;
                        color: $black;
                    }
                }
            }
        }

        // Show chat button
        & ~ div:not(.erd_scroll_detection_container) button {
            @include boxes.clickable($position: absolute);
            height: 32px;
            width: 32px;
            top: 8px;

            .controlIcon__25700 {
                color: $black;
            }
        }
    }
}
