@use "../../top/vars-scss" as *;
@use "../../top/boxes" as boxes;

// Activities
.scrollSection-HnJkHK {
    padding: 0 8px;
}

.shelf-3D6g4D {
    gap: 8px;

    .activityItem-1Z9CTr {
        @include boxes.clickable;

        .activityTag-3C3YK5 {
            @include boxes.box;
        }
    }
}
