@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

.modalContent__589e6:has(.decorationGridItem__80f7f) {
    .list__5bcab {
        @include boxes.scroller;
        left: 0;

        .content__23cab > div {
            left: 0 !important;
        }
    }

    .decorationGridItem__80f7f {
        @include boxes.clickable;

        &.selected-IxbpGM {
            @include boxes.inset;
            box-shadow: none;
        }
    }

    .wrapper_edb6e0 {
        @include boxes.box;

        .avatarDecoration_ae35e3 {
            z-index: 1;
        }
    }
}
