@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

.modalContent_d9c03f:has(.decorationGridItem_b35b54) {
    .list_b35b54 {
        @include boxes.scroller;
        left: 0;

        .content_eed6a8 > div {
            left: 0 !important;
        }
    }

    .decorationGridItem_b35b54 {
        @include boxes.clickable;

        &.selected-IxbpGM {
            @include boxes.inset;
            box-shadow: none;
        }
    }

    .wrapper_c51b4e {
        @include boxes.box;

        .avatarDecoration_c51b4e {
            z-index: 1;
        }
    }
}
