@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

.modalContent_d5bc20:has(.decorationGridItem__4316a) {
    .list__5bcab {
        @include boxes.scroller;
        left: 0;

        .content__690c5 > div {
            left: 0 !important;
        }
    }

    .decorationGridItem__4316a {
        @include boxes.clickable;

        &.selected-IxbpGM {
            @include boxes.inset;
            box-shadow: none;
        }
    }

    .wrapper__3ed10 {
        @include boxes.box;

        .avatarDecoration_cf681a {
            z-index: 1;
        }
    }
}
