@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Set a custom status

.inputContainer__50c76 {
    .emojiButtonContainer__58b36,
    .clearButton_e38b3a {
        z-index: 1;
    }

    .clearIcon_a9eb92 {
        color: $text;
    }

    .inputWrapper_ecb776 .input__0705d {
        padding-left: 42px;
        padding-right: 36px;
        height: 40px;
    }
}
