@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Edit / add phone number
.phoneVerificationModal_a4eb9e {
    .animationContainer_a4eb9e {
        z-index: 1;
    }

    .phoneField_d4eb58 {
        @include boxes.inset;

        .plusSign_d4eb58,
        .countryCode_d4eb58 {
            color: $black;
        }

        .phoneFieldExpand_d4eb58 {
            stroke: $black;
        }

        .inputField_d4eb58 {
            color: $text;
        }
    }
}

// Edit email address
.headerImage_a62824 {
    display: none;
}

// Edit username
.multiInput_aefbba {
    height: 24px;

    .inputPrefix_f8bc55 {
        display: none;
    }

    .questionMark-3V9mGJ {
        @include boxes.clickable;
        height: 22px;
        width: 22px;
        margin-right: 0;
        background: $grey;

        .icon-3JHfo7 {
            color: $black;
        }
    }
}
