@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Edit / add phone number
.phoneVerificationModal__68f4b {
    .animationContainer_a3f705 {
        z-index: 1;
    }

    .phoneField__65729 {
        @include boxes.inset;

        .plusSign_e8d99e,
        .countryCode__7befd {
            color: $black;
        }

        .phoneFieldExpand_f973c3 {
            stroke: $black;
        }

        .inputField__3008c {
            color: $text;
        }
    }
}

// Edit email address
.headerImage-2osrlm {
    display: none;
}

// Edit username
.multiInput-1VARjC {
    height: 24px;

    .inputPrefix_b67818 {
        display: none;
    }

    .questionMark-3V9mGJ {
        @include boxes.clickable;
        height: 22px;
        width: 22px;
        margin-right: 0;
        background: $grey;

        .icon-3JHfo7 {
            color: $black;
        }
    }
}
