@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

.ratingsSelector_b67a67 {
    width: auto;

    .horizontal__4848b > & {
        margin-left: 0;
    }

    .emoji_f7e035 {
        @include boxes.clickable;
    }
}

.horizontal__4848b:has(.ratingsSelector_b67a67) + .content_b28aab {
    display: none;
}
