@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

.ratingsSelector_b58b14 {
    width: auto;

    .horizontal_bba380 > & {
        margin-left: 0;
    }

    .emoji_b58b14 {
        @include boxes.clickable;
    }
}

.horizontal_bba380:has(.ratingsSelector_b58b14) + .content_f9a4c9 {
    display: none;
}
