@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

.ratingsSelector__97a76 {
    width: auto;

    .horizontal__992f6 > & {
        margin-left: 0;
    }

    .emoji_f7e035 {
        @include boxes.clickable;
    }
}

.horizontal__992f6:has(.ratingsSelector__97a76) + .content__764ce {
    display: none;
}
