@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Notification settings
.root_a28985 {
    .override_f2098b,
    .overrideHighlight__6a2f1,
    .guildName_b9dc9e,
    .channelName_a1ccf5 {
        color: $black;
    }

    .override_f2098b {
        padding: 8px;

        .checkboxGroup__7fb1c {
            width: 300px;
            margin-right: -8px;
        }

        .removeOverride_d1b5f8 {
            z-index: 2;
            @include boxes.clickable($position: absolute);
            background-color: $grey;
            left: -10px;
        }
    }
}
