@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Notification settings
.root_f9a4c9 {
    .override_cacc4c,
    .overrideHighlight_cacc4c,
    .guildName_cacc4c,
    .channelName_cacc4c {
        color: $black;
    }

    .override_cacc4c {
        padding: 8px;

        .checkboxGroup_cacc4c {
            width: 300px;
            margin-right: -8px;
        }

        .removeOverride_cacc4c {
            z-index: 2;
            @include boxes.clickable($position: absolute);
            background-color: $grey;
            left: -10px;
        }
    }
}
