@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Notification settings
.root_a28985 {
    .override_ca20c5,
    .overrideHighlight_d1476f,
    .guildName__63225,
    .channelName__4e10b {
        color: $black;
    }

    .override_ca20c5 {
        padding: 8px;

        .checkboxGroup__95956 {
            width: 300px;
            margin-right: -8px;
        }

        .removeOverride_ff89d2 {
            z-index: 2;
            @include boxes.clickable($position: absolute);
            background-color: $grey;
            left: -10px;
        }
    }
}
