@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;
@use "../../top/msgPill" as msg;

.root_a28985:has(.quickswitcher_b5bb0a) {
    height: 380px;
}

.quickswitcher_b5bb0a {
    min-height: 380px;

    // Search
    .input__2a648 {
        @include boxes.inset;
        color: $text;
    }

    // Results
    .scroller_d4b86c {
        @include boxes.scroller;

        .content__690c5 {
            border-right: 1px solid $darkgrey;
        }

        // Entry
        .result__25f11 {
            &:hover,
            &[aria-selected="true"] {
                background: $darkblue;

                .contentDefault_d3a863,
                .icon__39f1d,
                .misc__9152e,
                .contentUnread_cd86ef {
                    color: $white;
                }
            }

            // Unread pill
            .contentUnread_cd86ef {
                @include msg.unreadPill($size: 8px);
            }
        }
    }
}
