@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Report message

.header__50e51 {
    padding: 16px;
}

.messagePreviewContainer__030ad {
    background: $bg;
    @include boxes.inset;
}

.childButton__58a87 {
    @include boxes.clickable;
    margin-bottom: 0;
    min-height: auto;
}

.checkboxRow__6444a {
    @include boxes.clickable;
    padding: 4px;

    &:not(:last-child) {
        margin-bottom: 0;
    }
}
