@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Report message

.header_e89716 {
    padding: 16px;
}

.messagePreviewContainer_b06e1c {
    background: $bg;
    @include boxes.inset;
}

.childButton_f45bfc {
    @include boxes.clickable;
    margin-bottom: 0;
    min-height: auto;
}

.checkboxRow_a7652f {
    @include boxes.clickable;
    padding: 4px;

    &:not(:last-child) {
        margin-bottom: 0;
    }
}
