@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Screenshare

// Top art
.art-1TvEXv {
    z-index: 1;
}

// Tabs
.tabItem__0cb9d {
    @include boxes.tab;
    margin-right: 0;
    color: $black;

    &.tabItemSelected__3dfe7 {
        border-bottom: unset;
        color: $black;
        text-decoration: underline;
    }
}

// Screens
.sourceScroller__373b8 {
    @include boxes.scroller;
}

.sourceContainer_c74b9a {
    gap: 8px;
}

// Screen
.tile__46960 {
    @include boxes.clickable;
    padding: 8px 0;
    flex: 0 1 calc(50% - 4px) !important;
}

// What you're streaming
.card-m7VgZ8 {
    @include boxes.inset;

    .channelIcon-1BydE- {
        color: $black;
    }
}

// Stream quality
.qualitySettingsContainer__5cacd {
    @include boxes.inset;

    .selectorButton_c6ae93 {
        @include boxes.clickable;

        &:not(.selectorButtonPremiumRequired_ce72d6):hover {
            background: $grey;

            .selectorText_b1d64c {
                color: $black;
            }
        }
    }

    .selectorButtonSelected_fbe8fc {
        @include boxes.inset;
        background: $grey;
        .selectorTextSelected_d7d560 {
            color: $black;
        }
    }
}
