@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

.searchBar__285ec {
    @include boxes.inset;
    background: $bg;
    color: $text;

    .input__48d49 {
        color: $text;
    }

    .iconLayout__67261 {
        @include boxes.clickable;
        background: $grey;
    }
}

.scroller_bd2d35 {
    @include boxes.inset;
    padding: 0;

    .inviteRow_d6ad74 {
        .inviteRowName__60057 {
            color: $black;
        }

        &:hover {
            background: $darkblue;

            .inviteRowName__60057,
            .contents__322f4 {
                color: $white;
            }
        }
    }
}

.layerContainer_a2fcaa .footer_d84330 {
    background: $grey;

    .input_f27786 {
        height: 32px;
    }

    .copyButton_a7bf69 {
        margin-right: 0;
    }

    .footerText_f55c0f {
        color: $black;
    }

    .inviteBannerUpsell-1t_LYM {
        @include boxes.inset;
    }
}
