@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

.searchBar_b2ff4e {
    @include boxes.inset;
    background: $bg;
    color: $text;

    .input__74754 {
        color: $text;
    }

    .iconLayout__6d744 {
        @include boxes.clickable;
        background: $grey;
    }
}

.scroller__8941d {
    @include boxes.inset;
    padding: 0;

    .inviteRow_a25947 {
        .inviteRowName_bc8b23 {
            color: $black;
        }

        &:hover {
            background: $darkblue;

            .inviteRowName_bc8b23,
            .contents_fb6220 {
                color: $white;
            }
        }
    }
}

.layerContainer_d5a653 .footer__13977 {
    background: $grey;

    .input_d266e7 {
        height: 32px;
    }

    .copyButton__9cc81 {
        margin-right: 0;
    }

    .footerText__614f3 {
        color: $black;
    }

    .inviteBannerUpsell-1t_LYM {
        @include boxes.inset;
    }
}
