@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

.userProfileModalOuter__90b4a {
    // Badges
    .badgeList__126b0 {
        gap: 0;
        .anchor_c8ddc0 {
            @include boxes.clickable;
        }
    }

    // Tabs
    .tabBarContainer_b283be {
        margin: 16px 24px 0 0;
    }

    .tabBar__35f81 {
        gap: 0;
        position: relative;
        top: 2px;

        .tabBarItem_ce14f3 {
            @include boxes.tab;
            height: auto;
            padding: 2px 8px;

            &.themed_b957e8 {
                color: var(--text-normal);

                &:is(.selected_a523ff, :active) {
                    background: unset;
                    font-weight: bold;
                }
            }
        }
    }

    // Info
    .scrollerBase_f742b2 {
        @include boxes.box;

        &::before {
            display: none;
        }

        .userInfoSection_e816c1 + .userInfoSection_e816c1 {
            border-top: unset;
        }

        // Connected accounts
        .connectedAccounts__7a8e6 {
            display: block;
            width: 100%;

            .connectedAccountsColumn__57331 {
                display: inline;
                margin-left: 0;

                .connectedAccountContainer__5972d {
                    @include boxes.inset;
                    display: inline-block;
                    width: calc(460px / 3);
                    margin: 6px 6px 0 0;

                    // Open account in browser
                    &:has(.anchor_c8ddc0) {
                        @include boxes.clickable;
                    }

                    .anchor_c8ddc0 {
                        position: absolute;
                        inset: 0;

                        svg {
                            display: none;
                        }
                    }

                    // Hide detailed info until hover
                    &.connectedAccountContainerWithMetadata_c474f9 {
                        padding: 12px 8px;

                        .connectedAccountName__0a3ec + .text-xs-normal_ccc5fb,
                        .connectedAccountChildren_abff48 {
                            display: none;
                        }

                        &:hover {
                            .connectedAccountName__0a3ec + .text-xs-normal_ccc5fb,
                            .connectedAccountChildren_abff48 {
                                display: block;
                                z-index: 1;
                                padding: 8px;
                                background: var(--profile-avatar-border-color);
                            }

                            // Joined date
                            .connectedAccountName__0a3ec + .text-xs-normal_ccc5fb {
                                position: absolute;
                                pointer-events: none;
                                inset: 1px 1px 1px 32px;
                            }

                            // Detailed info
                            &:hover .connectedAccountChildren_abff48 {
                                @include boxes.box($position: absolute);
                                bottom: 50px;
                                left: -33px;
                            }
                        }
                    }
                }
            }
        }

        // Mutual servers
        .listRow__50619 {
            margin: 0;

            &:hover {
                color: $white;
            }
        }
    }
}
