@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

.userProfileModalOuter__3fe6b {
    // Badges
    .badgeList-2aoHPw {
        gap: 0;
        .anchor_c8ddc0 {
            @include boxes.clickable;
        }
    }

    // Tabs
    .tabBarContainer-sCZC4w {
        margin: 16px 24px 0 0;
    }

    .tabBar-2hXqzU {
        gap: 0;
        position: relative;
        top: 2px;

        .tabBarItem_b56b35 {
            @include boxes.tab;
            height: auto;
            padding: 2px 8px;

            &.themed_b957e8 {
                color: var(--text-normal);

                &:is(.selected__5711d, :active) {
                    background: unset;
                    font-weight: bold;
                }
            }
        }
    }

    // Info
    .scrollerBase_dc3aa9 {
        @include boxes.box;

        &::before {
            display: none;
        }

        .userInfoSection-2u2hir + .userInfoSection-2u2hir {
            border-top: unset;
        }

        // Connected accounts
        .connectedAccounts_dc0a56 {
            display: block;
            width: 100%;

            .connectedAccountsColumn_fd2c41 {
                display: inline;
                margin-left: 0;

                .connectedAccountContainer__23f00 {
                    @include boxes.inset;
                    display: inline-block;
                    width: calc(460px / 3);
                    margin: 6px 6px 0 0;

                    // Open account in browser
                    &:has(.anchor_c8ddc0) {
                        @include boxes.clickable;
                    }

                    .anchor_c8ddc0 {
                        position: absolute;
                        inset: 0;

                        svg {
                            display: none;
                        }
                    }

                    // Hide detailed info until hover
                    &.connectedAccountContainerWithMetadata_cf88ce {
                        padding: 12px 8px;

                        .connectedAccountName_f0a294 + .text-xs-normal_ccc5fb,
                        .connectedAccountChildren__21b60 {
                            display: none;
                        }

                        &:hover {
                            .connectedAccountName_f0a294 + .text-xs-normal_ccc5fb,
                            .connectedAccountChildren__21b60 {
                                display: block;
                                z-index: 1;
                                padding: 8px;
                                background: var(--profile-avatar-border-color);
                            }

                            // Joined date
                            .connectedAccountName_f0a294 + .text-xs-normal_ccc5fb {
                                position: absolute;
                                pointer-events: none;
                                inset: 1px 1px 1px 32px;
                            }

                            // Detailed info
                            &:hover .connectedAccountChildren__21b60 {
                                @include boxes.box($position: absolute);
                                bottom: 50px;
                                left: -33px;
                            }
                        }
                    }
                }
            }
        }

        // Mutual servers
        .listRow__60937 {
            margin: 0;

            &:hover {
                color: $white;
            }
        }
    }
}
