@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Preview camera

.backgroundOptionsSmall__1a2d8 {
    gap: 8px;
}

.backgroundOptionRing__1f209 {
    border-color: $blue;
}

.backgroundOption__745bb:hover:not(.backgroundOption__745bb.backgroundOptionDisabled__82a93):not(.backgroundOptionSelected_e40515) {
    &,
    .backgroundImageOption__8e8d6 {
        transform: none !important;
    }
}
