@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Preview camera

.backgroundOptionsSmall_f1f818 {
    gap: 8px;
}

.backgroundOptionRing__45698 {
    border-color: $blue;
}

.backgroundOption__5ab0d:hover:not(.backgroundOption__5ab0d.backgroundOptionDisabled__9ca63):not(.backgroundOptionSelected__6caed) {
    &,
    .backgroundImageOption_df2b92 {
        transform: none !important;
    }
}
