@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;

// Changelog
.small__05f7b:has(.modal__4f3da) {
    width: 492px;

    .flexChild__6e093 > * {
        color: $black;
    }

    .socialLink__64e09 {
        @include boxes.clickable;
        margin-right: 0;
        padding: 4px;
        color: $black;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        & + .text-xs-normal_ccc5fb {
            line-height: 30px;
            margin-left: 8px;
        }
    }
}
