@forward "./serversettings/";
@forward "./usersettings/";

@use "../../top/vars-scss" as *;
@use "../../top/boxes" as boxes;
@use "../../top/shortcutIcon" as ico;
@use "../../top/channellist-css" as channels;

// Toggles
.control-10qYax {
    @include boxes.box;

    .container-1QtPKm {
        background: $darkgrey !important;

        .slider-HJFN2i {
            rect {
                fill: $lightgrey;
            }
            svg path {
                fill: $darkgrey;
            }
        }

        &.checked-16gMAN {
            background: $green !important;

            .slider-HJFN2i {
                svg path {
                    fill: $green;
                }
            }
        }
    }
}

// Notices
.formNotice-1JW4h2 {
    @include boxes.box;
}

// Sliders
.slider-1mmyV6 {
    // Slider bar
    .bar-2H7Q9u {
        @include boxes.inset;
        background: $grey;
        height: 8px;

        .barFill-3RgCsY {
            background: transparent;
        }
    }

    // Slider handle
    .grabber-3R-Rx9 {
        @include boxes.box;
        background: $grey;
        height: 20px;
        width: 10px;
        z-index: 1;

        &::before {
            background: $grey;
        }
    }

    // Slider marks
    .mark-3BqK0R {
        &:not(.defaultValue-1-QxQ0) .markValue-21gAVC {
            color: $black;
        }

        .markDash-1ATsxA {
            background: $black;
            height: 6px;
            width: 1px;
            margin-top: 20px;
        }
    }
}

// Checkbox
.checkboxWrapper-3zdYym {
    .inputDefault-2DXavk {
        width: 20px !important;
        height: 20px !important;
    }

    .checkbox-1LuCGM {
        width: 20px !important;
        height: 20px !important;
        border: 2px solid $black !important;
        background: transparent !important;

        path {
            d: path("M 3 3 V 21 H 21 V 3 Z");
        }

        &.checked-22NTbO path {
            fill: $black;
        }
    }
}

// Dropdown selectors
.lookFilled-GPyucw.select-Zz0IcO {
    @include boxes.inset;
    padding: 0;

    .value-2en4z7 {
        padding-left: 8px;
        color: var(--w9x-text-color);
    }

    .icons-2ibyma {
        background: $grey;
        @include boxes.box;
    }
}
