@forward "./serversettings/";
@forward "./usersettings/";

@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;
@use "../../top/shortcutIcon" as ico;
@use "../../top/channellist-css" as channels;

// Toggles
.control__6a084 {
    @include boxes.box;

    .container__2ed72 {
        background: $darkgrey !important;

        .slider__41d94 {
            rect {
                fill: $lightgrey;
            }
            svg path {
                fill: $darkgrey;
            }
        }

        &.checked__36fdc {
            background: $green !important;

            .slider__41d94 {
                svg path {
                    fill: $green;
                }
            }
        }
    }
}

// Notices
.formNotice__0a16b {
    @include boxes.box;
}

// Sliders
.slider__22e99 {
    // Slider bar
    .bar_e58961 {
        @include boxes.inset;
        background: $grey;
        height: 8px;

        .barFill__1f56b {
            background: transparent;
        }
    }

    // Slider handle
    .grabber_e3daf3 {
        @include boxes.box;
        background: $grey;
        height: 20px;
        width: 10px;
        z-index: 1;

        &::before {
            background: $grey;
        }
    }

    // Slider marks
    .mark_e7d3b1 {
        &:not(.defaultValue__8e777) .markValue_c91c4e {
            color: $black;
        }

        .markDash__54545 {
            background: $black;
            height: 6px;
            width: 1px;
            margin-top: 20px;
        }
    }
}

// Checkbox
.checkboxWrapper_a2bcc8 {
    .inputDefault_f6df22 {
        width: 20px !important;
        height: 20px !important;
    }

    .checkbox_fcf2ad {
        width: 20px !important;
        height: 20px !important;
        border: 2px solid $black !important;
        background: transparent !important;

        path {
            d: path("M 3 3 V 21 H 21 V 3 Z");
        }

        &.checked__16f88 path {
            fill: $black;
        }
    }
}

// Dropdown selectors
.lookFilled__9c1ef.select_fe2671 {
    @include boxes.inset;
    padding: 0;

    .value__9a6c7 {
        padding-left: 8px;
        color: $text;
    }

    .icons__374b3 {
        background: $grey;
        @include boxes.box;
    }
}
