@forward "./serversettings/";
@forward "./usersettings/";

@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;
@use "../../top/shortcutIcon" as ico;
@use "../../top/channellist-css" as channels;

// Toggles
.control_ed1d57 {
    @include boxes.box;

    .container_cebd1c {
        background: $darkgrey !important;

        .slider_cebd1c {
            rect {
                fill: $lightgrey;
            }
            svg path {
                fill: $darkgrey;
            }
        }

        &.checked_cebd1c {
            background: $green !important;

            .slider_cebd1c {
                svg path {
                    fill: $green;
                }
            }
        }
    }
}

// Notices
.formNotice_aae945 {
    @include boxes.box;
}

// Sliders
.slider_c7a159 {
    // Slider bar
    .bar_c7a159 {
        @include boxes.inset;
        background: $grey;
        height: 8px;

        .barFill_c7a159 {
            background: transparent;
        }
    }

    // Slider handle
    .grabber_c7a159 {
        @include boxes.box;
        background: $grey;
        height: 20px;
        width: 10px;
        z-index: 1;

        &::before {
            background: $grey;
        }
    }

    // Slider marks
    .mark_c7a159 {
        &:not(.defaultValue_c7a159) .markValue_c7a159 {
            color: $black;
        }

        .markDash_c7a159 {
            background: $black;
            height: 6px;
            width: 1px;
            margin-top: 20px;
        }
    }
}

// Checkbox
.checkboxWrapper_f6cde8 {
    .inputDefault_f6cde8 {
        width: 20px !important;
        height: 20px !important;
    }

    .checkbox_f6cde8 {
        width: 20px !important;
        height: 20px !important;
        border: 2px solid $black !important;
        background: transparent !important;

        path {
            d: path("M 3 3 V 21 H 21 V 3 Z");
        }

        &.checked_f6cde8 path {
            fill: $black;
        }
    }
}

// Dropdown selectors
.lookFilled_f6639d.select_f6639d {
    @include boxes.inset;
    padding: 0;

    .value_f6639d {
        padding-left: 8px;
        color: $text;
    }

    .icons_f6639d {
        background: $grey;
        @include boxes.box;
    }
}
