@forward "./serversettings/";
@forward "./usersettings/";

@use "../../top/vars" as *;
@use "../../top/boxes" as boxes;
@use "../../top/shortcutIcon" as ico;
@use "../../top/channellist-css" as channels;

// Toggles
.control_f6cce7 {
    @include boxes.box;

    .container__871ba {
        background: $darkgrey !important;

        .slider__41d94 {
            rect {
                fill: $lightgrey;
            }
            svg path {
                fill: $darkgrey;
            }
        }

        &.checked__6bdb0 {
            background: $green !important;

            .slider__41d94 {
                svg path {
                    fill: $green;
                }
            }
        }
    }
}

// Notices
.formNotice__8622e {
    @include boxes.box;
}

// Sliders
.slider__22e99 {
    // Slider bar
    .bar_e58961 {
        @include boxes.inset;
        background: $grey;
        height: 8px;

        .barFill__30e17 {
            background: transparent;
        }
    }

    // Slider handle
    .grabber_d2868c {
        @include boxes.box;
        background: $grey;
        height: 20px;
        width: 10px;
        z-index: 1;

        &::before {
            background: $grey;
        }
    }

    // Slider marks
    .mark_a41fa7 {
        &:not(.defaultValue__4f02f) .markValue_e7a6e4 {
            color: $black;
        }

        .markDash_dc3ae9 {
            background: $black;
            height: 6px;
            width: 1px;
            margin-top: 20px;
        }
    }
}

// Checkbox
.checkboxWrapper__02583 {
    .inputDefault__7fb3f {
        width: 20px !important;
        height: 20px !important;
    }

    .checkbox_c7f690 {
        width: 20px !important;
        height: 20px !important;
        border: 2px solid $black !important;
        background: transparent !important;

        path {
            d: path("M 3 3 V 21 H 21 V 3 Z");
        }

        &.checked__24ad6 path {
            fill: $black;
        }
    }
}

// Dropdown selectors
.lookFilled__3dba3.select__0eb48 {
    @include boxes.inset;
    padding: 0;

    .value__9a6c7 {
        padding-left: 8px;
        color: $text;
    }

    .icons__374b3 {
        background: $grey;
        @include boxes.box;
    }
}
