@use "../../top/vars-scss" as *;
@use "../../top/boxes" as boxes;

// Overlay notification position
.wrapper-SdcMKg {
    border: 2px solid $darkblue;
    background: transparent;

    .option-1QI4c9 {
        @include boxes.clickable($position: absolute);
        background: $grey;

        &.selected-18Wszc,
        &:hover {
            background-color: $darkblue;
            box-shadow: none;
        }
    }
}
