@use "../../top/vars-scss" as *;
@use "../../top/boxes" as boxes;

// # Privacy and safety
.item-1TA5qI {
    @include boxes.clickable;
    margin: 0;

    &[aria-checked="true"] {
        @include boxes.inset;
    }

    .radioBar-1XgZqD {
        padding: 4px !important;
    }
}

.marginBottom40-fvAlAV {
    margin-bottom: 20px;
}