@use "../../top/vars-scss" as *;

// Mic test
.wrapper-UvA17F {
    .progress-1S-TDF {
        background: $grey;
    }
    .notches-2w7UZJ.gray-3wP137 {
        color: $darkgrey;
    }
}

// Shortcut edit
.editIcon-e7sZ3b {
    background: url("data:image/svg+xml,%3Csvg height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M 22 5 H 2 L 2 19 H 22 Z M 11 8 H 13 V 10 H 11 Z M 11 11 H 13 V 13 H 11 Z M 8 8 H 10 V 10 H 8 Z M 8 11 H 10 V 13 H 8 Z M 7 13 H 5 V 11 H 7 Z M 7 10 H 5 V 8 H 7 Z M 16 17 H 8 V 15 H 16 Z M 16 13 H 14 V 11 H 16 Z M 16 10 H 14 V 8 H 16 Z M 19 13 H 17 V 11 H 19 Z M 19 10 H 17 V 8 H 19 Z' fill='%23000' fill-rule='nonzero'/%3E%3Cpath d='m0 0h24v24h-24zm0 0h24v24h-24z'/%3E%3C/g%3E%3C/svg%3E");
}
